<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<ul class="infobox">
  <li><strong><%= t("views.commits.date") %>:</strong> <%=h @commit.committed_date -%></li>
  <li><strong><%= t("views.commits.committer") %>:</strong> <%=h @commit.committer.name -%>
    (<%=h GitoriousConfig["mangle_email_addresses"] ? encoded_mail(@commit.committer.email) : @commit.committer.email -%>)</li>
  <li><strong><%= t("views.commits.author") %>:</strong> <%=h @commit.author.name -%>
    (<%=h GitoriousConfig["mangle_email_addresses"] ? encoded_mail(@commit.author.email) : @commit.author.email -%>)</li>
  <li><strong><%= t("views.commits.sha1") %>:</strong> <%=h @commit.id -%></li>
  <li><strong><%= t("views.commits.tree_sha1") %>:</strong> <%= link_to h(@commit.tree.id), 
    project_repository_tree_path(@project, @repository, @commit.id) -%></li>
</ul>
