<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.logs.page_title", :repo => h(@repository.name), :title => h(@project.title)) -%>

<ul class="horizontal meta" style="float:right">
  <li class="tree">
    <%= link_to "Source tree", project_repository_tree_path(@project, @repository, desplat_path(params[:branch])) -%>
  </li>
</ul>
<h1>
  <%= t("views.logs.commitlog", :repo => h(@repository.name), :param => h(@ref), :title => h(@project.title)) -%>
</h1>

<div class="commit_graph">
  <%= commit_graph_tag(@repository) %>
</div>

<% cache([repo_owner_path(@repository, [@project, @repository]), :commits, @ref, @commits.current_page], {:expires_in => 10.minutes}) do -%>
  <%= render :partial => "log" -%>
<% end -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @root} -%>
<% end -%>

<% content_for :sidebar do -%>
  <ul>
    <li>
      <strong><%= t("views.logs.project") %>:</strong> 
      <%= link_to h(@repository.project.title), @repository.project -%>
    </li>
    <li>
      <strong><%= t("views.repos.owner") %>:</strong> 
      <%= link_to h(@repository.owner.to_param_with_prefix), @repository.owner -%>
    </li>
    <% unless @commits.blank? -%>
    <li>
      <strong><%= t("views.logs.head_tree") %>:</strong> 
      <%= link_to h(@commits.first.tree.id[0,7]), tree_path(branch_with_tree(@commits.first.id, [])) -%>
    </li>
    <% end -%>
  </ul>
  
  <ul class="links">
    <%= render_download_links(@project, @repository, params[:branch], :only_list_items => true) %>
    <li class="comment_link">
      <%= link_to "Comments", repo_owner_path(@repository, [@project, @repository, :comments]) -%>
    </li>
  </ul>

<% cache([repo_owner_path(@repository, [@project, @repository]), :tags_and_branches], {:expires_in => 10.minutes}) do -%>  
  <h5><%= t("views.logs.branches") %>:</h5>
  <ul class="icon_list links">
    <% @git.branches.sort{|a, b| a.name <=> b.name }.each do |branch| -%>
      <li class="branch"><%= link_to h(branch.name), log_path(branch.name) -%></li>
    <% end -%>
  </ul>

  <% unless @git.tags.blank? -%>
  <h5><%= t("views.logs.tags") %>:</h5>
  <ul class="icon_list links">
  <% @git.tags.sort{|a, b| a.name <=> b.name }.each do |tag| -%>
    <li><%= link_to h(tag.name), commit_path(tag.commit.id) -%></li>
  <% end -%>
  </ul>
  <% end -%>
  
  <%= commit_graph_by_author_tag(@repository, params[:id]) %>
<% end -%>
<% end -%>
