<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#   Copyright (C) 2008 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.commits.page_title", :repo => @repository.name, :title => @project.title) -%>

<h1><%= t("views.commits.title", :commit => h( @commit.id)) %></h1>

<a name="infobox"></a>
<%= render :partial => "commit_infobox" -%>
<div class="commit_message"><%= simple_format(h(@commit.message)) -%></div>

<ul class="tab_menu">
  <li class="selected"><%= t("views.comments.diff") %></li>
  <li><%= link_to t("views.comments.total", :total => @comment_count), 
            project_repository_commit_comment_path(@project, @repository, @commit.id) -%></li>
</ul>



<% if @diffs.blank? -%>
  <p>
	<%= t("views.commits.message").call(self, tree_path(@commit.id)) %>
  </p>
<% else -%>
<% cache({:diffmode => @diffmode}) do -%>
  <%= render_diff_stats(@commit.stats) -%>
  <h2>Commit diff</h2>
  <%= render_diffmode_selector -%>
  <% @diffs.each do |file| -%>
    <a name="<%= h(file.a_path) -%>"></a>
    <h4><%=link_to h(file.a_path), file_path(@repository, file.a_path, @commit.id) -%></h4>
    <%= render_diff(file.diff, @diffmode) -%>
  <% end -%>
<% end -%>
<% end -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @root} -%>
<% end -%>
