<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2008 Simon Hausmann <simon.hausmann@nokia.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.commits.page_title", :repo => @repository.name, :title => @project.title) -%>
<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @root} -%>
<% end -%>

<h1><%= t("views.commits.title", :commit => h( @commit.id)) %></h1>

<% cache({:diffmode => @diffmode}) do -%>
  <%= render :partial => "commit_infobox" -%>
  <% if @diffs.blank? -%>
    <p><%= t("views.commits.message").call(self, tree_path(@commit.id)) %></p>
  <% else -%>
    <% unless @commit.merge? -%>
      <%= render_diff_stats(@commit.stats) -%>
      <%= render_diffmode_selector -%>
      <% @diffs.each do |file| -%>
        <a name="<%= h(file.a_path) -%>"></a>
        <h4><%=link_to h(file.a_path), file_path(@repository, file.a_path, @commit.id) -%></h4>
        <%= render_diff(file.diff, @diffmode) -%>
      <% end -%>
    <% end -%>
  <% end -%>
<% end -%>

<h2 id="comments">Comments</h2>
<div class="comments">
  <%= render :partial => @comments -%>
</div>
<%= render :partial => "comments/form", :locals => {:sha1 => @commit.id} -%>
