<p>
  Aliases are used to associate your commits with your Gitorious user  account.
  Useful if you commit under more than one email. Any communication sent to you from
  Gitorious will still go to your primary email only (<strong><%= h(@user.email) -%></strong>)
</p>

<table class="table">
  <thead>
    <th>Added</th>
    <th>Address</th>
    <th>State</th>
    <th></th>
  </thead>
  <% emails.each do |email| -%>
    <tr>
      <td>
        <%= l(email.created_at, :format => :short) %>
      </td>
      <td>
        &lt;<%= h(email.address) -%>&gt;
      </td>
      <td>
        <%= image_tag(email.confirmed? ? "silk/tick.png" : "silk/cross.png",
                      :title => email.confirmed? ? 'Confirmed' : 'Not confirmed') %>
      </td>
      <td>
        <%= link_to(t("views.common.delete"), user_alias_path(user, email),
                    :method => :delete,
                    :confirm => t("views.common.confirm"),
                    :class => 'btn btn-danger') %>
      </td>
    </tr>
  <% end -%>
</table>

<%= link_to("Add new", new_user_alias_path(user), :class => 'btn btn-primary')  %>
