<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div>
  <h2>Web hooks</h2>
  <% if services.count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <td class="gts-cell-big">URL</td>
          <td class="gts-cell-small">Runs</td>
          <td class="gts-cell-small">Last response</td>
          <td class="gts-cell-small">Created by</td>
          <td colspan="2"></td>
        </tr>
      </thead>
      <tbody>
        <% services.each do |hook| %>
          <tr>
            <td><%= hook.url %></td>
            <td>
              <span class="gts-pos"><%= hook.successful_request_count %></span>/<span class="gts-neg"><%= hook.failed_request_count %></span>
            </td>
            <td>
              <%=raw "<strong class=\"gts-pos\">#{hook.last_response}</strong>" if hook.last_response =~ /^2\d\d/ %>
              <%=raw "<strong class=\"gts-neg\">#{hook.last_response}</strong>" if hook.last_response =~ /^[45]\d\d/ %>
              <%= hook.last_response if hook.last_response !~ /^[245]\d\d/ %>
            </td>
            <td>
              <a href="<%= user_path(hook.user) %>"><%= hook.user.fullname %></a>
            </td>
            <td class="gts-cell-small">
              <a href="<%= project_repository_service_path(repository.project, repository, hook) %>" data-method="delete"><i class="icon icon-remove"></i> Remove</a>
            </td>
            <td class="gts-cell-small">
              <a href="<%= project_repository_service_tests_path(repository.project, repository, hook) %>" data-method="post"><i class="icon icon-play-circle"></i> Test</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= error_messages(params) -%>
  <%= form_for(params, :as => :service, :url => service_url, :method => "post", :html => { :class => "form-horizontal" }) do |f| -%>
    <fieldset>
      <div class="control-group">
        <%= f.label :url, :class => "control-label" -%>
        <div class="controls">
          <%= f.text_field :url, :class => "input-xlarge" -%>
          <p class="help-block">
          A payload will be <code>POST</code>-ed to this URL everytime someone
          pushes to this repository.
          </p>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Add hook</button>
      </div>
    </fieldset>
  <% end %>
</div>

