<div>
  <h2>Web hooks</h2>
  <% if services.count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <td class="gts-cell-big">URL</td>
          <td class="gts-cell-small">Runs</td>
          <td class="gts-cell-small">Last response</td>
          <td class="gts-cell-small">Created by</td>
          <td colspan="2"></td>
        </tr>
      </thead>
      <tbody>
        <% services.each do |hook| %>
          <tr>
            <td><%= hook.url %></td>
            <td>
              <span class="gts-pos"><%= hook.successful_request_count %></span>/<span class="gts-neg"><%= hook.failed_request_count %></span>
            </td>
            <td>
              <%=raw "<strong class=\"gts-pos\">#{hook.last_response}</strong>" if hook.last_response =~ /^2\d\d/ %>
              <%=raw "<strong class=\"gts-neg\">#{hook.last_response}</strong>" if hook.last_response =~ /^[45]\d\d/ %>
              <%= hook.last_response if hook.last_response !~ /^[245]\d\d/ %>
            </td>
            <td>
              <a href="<%= user_path(hook.user) %>"><%= hook.user.fullname %></a>
            </td>
            <td class="gts-cell-small">
              <a href="<%= project_repository_service_path(repository.project, repository, hook) %>" data-method="delete"><i class="icon icon-remove"></i> Remove</a>
            </td>
            <td class="gts-cell-small">
              <a href="<%= project_repository_service_tests_path(repository.project, repository, hook) %>" data-method="post"><i class="icon icon-play-circle"></i> Test</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= form_for(params, :as => :service, :url => service_url, :method => "post", :html => { :class => "form-horizontal" }) do |f| -%>
    <%= render :partial => "form", :locals => { :form => f, :repository => repository } %>
  <% end %>
</div>

