<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= breadcrumbs_from(current_user) -%>

<h1><%= t("views.license.show_title") %></h1>
<p>
  <strong><%= t('views.license.terms_not_accepted') %>:</strong>
</p>

<div>
  <% form_for(current_user, :url => user_license_path(current_user), :method => :put) do |f| %>
    <%= render :partial => "tos_link" -%>

    <p>
      <%= f.check_box :terms_of_use  -%>
      <%= f.label :terms_of_use, 'I accept the Terms of Use'  -%>
    </p>
    
    <p>
      <%= f.submit "Accept" %>
    </p>
  <% end %>
</div>

