<h1><%= t("views.license.show_title") %></h1>
<p>
  <strong><%= t('views.license.terms_not_accepted') %>:</strong>
</p>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => current_user} -%>
<% end -%>

<div>
  <% form_for(current_user, :url => user_license_path(current_user), :method => :put) do |f| %>
    <div class="eula">
      <%= simple_format(EndUserLicenseAgreement.current_version.contents) %>    
    </div>

    <p>
      <%= f.check_box :accepted_license_agreement_version, {}, EndUserLicenseAgreement.current_version.checksum  -%>
      <label for="eula_version">I accept the End User License Agreement</label>
    </p>
    <p>
      <%= f.submit "Accept" %>
    </p>
  <% end %>
</div>

