<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div class="gts-site-header">
  <div class="container">
    <h1><%= t("views.license.show_title") %></h1>
  </div>
</div>

<div class="container">
  <p>
    <strong>You need to accept the <%= render(:partial => "tos_link") -%></strong>
  </p>
  <%= simple_form_for(user, :url => user_license_path(user), :method => :put, :html => { :class => 'form-horizontal form-large-labels' }) do |f| %>
    <%= f.input(:terms_of_use, :as => :boolean, :label => "I accept the Terms of Use") %>
    <%= f.submit("Accept", :class => "btn btn-primary") %>
  <% end %>
</div>
