<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% if @commit -%>
<div class="commit-infobox">
  <div class="commit-meta">
    <ul class="people">
      <li class="avatar">
        <div>
          <%= avatar_from_email(@commit.committer.email, { :size => 32 }) %>
        </div>
      </li>
      <li>
        <%=h @commit.committer.name -%>
        <%= render_email(@commit.committer.email) -%>
        <% if @commit.committer != @commit.author -%>
          <small>(<%= t("views.commits.committer") %>)</small>
        <% end -%>
      </li>
      <li class="meta"><%=h time_ago_in_words @commit.committed_date -%> ago</li>
      <% if @commit.committer != @commit.author -%>
        <li class="clear"></li>
        <li class="avatar">
          <div>
	    <%= avatar_from_email(@commit.author.email, { :size => 32 }) %>
          </div>
        </li>
        <li>
            <%=h @commit.author.name -%>
            <%= render_email(@commit.author.email) -%>
          <small>(<%= t("views.commits.author") %>)</small>
        </li>
        <li class="meta"><%=h time_ago_in_words @commit.authored_date -%> ago</li>
      <% end -%>
    </ul>
  </div>
  <pre class="commit_message"><%= h(@commit.message) -%></pre>
</div>
<% end -%>

<%= render_inline_diffs_controls("merge-requests") %>
<%= render_inline_diffs_with_stats(diffs) -%>
