<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<% if @commit -%>
<div class="commit-infobox">
  <div class="commit-meta">
    <ul class="people">
      <li class="avatar">
        <%= avatar_from_email(@commit.committer.email, { :size => 32 }) %>
      </li>
      <li>
        <%=h @commit.committer.name -%>
        <%= render_email(@commit.committer.email) -%>
        <% if @commit.committer != @commit.author -%>
          <small>(<%= t("views.commits.committer") %>)</small>
        <% end -%>
      </li>
      <li class="meta"><%= time_ago(@commit.committed_date) -%></li>
      <% if @commit.committer != @commit.author -%>
        <li class="clear"></li>
        <li class="avatar">
	        <%= avatar_from_email(@commit.author.email, { :size => 32 }) %>
        </li>
        <li>
            <%=h @commit.author.name -%>
            <%= render_email(@commit.author.email) -%>
          <small>(<%= t("views.commits.author") %>)</small>
        </li>
        <li class="meta"><%= time_ago(@commit.authored_date) -%></li>
      <% end -%>
    </ul>
  </div>
  <pre class="commit_message"><%= h(@commit.message) -%></pre>
</div>
<% end -%>

<%= render :partial => "comments/inline_comment_form", :locals => {
:commentable_type => "merge_request_version",
:comment => @version.comments.build,
:url => repo_owner_path(@version.merge_request.target_repository,
    [
    @version.merge_request.target_repository.project,
    @version.merge_request.target_repository,
    @version.merge_request, @version, :comments]),
:sha1 => nil,
:include_favorite_checkbox => !@version.merge_request.watched_by?(current_user)
} -%>

<%= render_inline_diffs_controls("merge-requests") %>
<%= render_inline_diffs_with_stats(diffs){|file|@version.comments_for_path_and_sha(file.a_path, @sha_range)} -%>

