<% form_for(@message) do |f| %>
  <p>
    <%= label :recipient, :login, t("views.messages.recipient") %> <br/>
    <%= text_field_with_auto_complete :recipient, :login, {}, :skip_style => true, :select => :login, :tokens => [',',';',' '] -%>
  </p>
  
  <p>
    <%= f.label :subject, t("views.messages.subject") %><br/>
    <%= f.text_field :subject %>
  </p>
  
  <p>
    <%= f.label :body, t("views.messages.body") %><br/>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.submit t("views.messages.submit") %>
  </p>
<% end %>