<%
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<%= site_header do %>
  <h2 class="content-header">
    <%= t('views.messages.collection_title') %>
  </h2>
  <ul class="nav nav-tabs gts-header-nav">
    <li class="<%= action_name == 'index' && 'active' %>">
      <%= link_to(t("views.messages.received_messages"), messages_path, :class => "current") %>
    </li>
    <li class="<%= action_name == 'all' && 'active' %>">
      <%= link_to(t("views.messages.all_messages"), all_messages_path, :class => "current") %>
    </li>
    <li class="<%= action_name == 'sent' && 'active' %>">
      <%= link_to(t("views.messages.sent_messages"), sent_messages_path, :class => "current") %>
    </li>
    <li class="pull-right <%= (action_name == 'new' || action_name == 'create') && 'active' %>">
      <%= link_to(t("views.messages.new"), new_message_path, :class => "current") %>
    </li>
  </ul>
<% end %>

