<tr class="<%= message.aasm_state -%> <%= message.css_class -%>" id="<%= dom_id(message) -%>">
  <td>
    <%= sender_and_recipient_display(message) %>
  </td>
  <td>
    <%= link_to(h(message.title), message) %> (<%= message.number_of_messages_in_thread %>)
  </td>
  <td>
    <%= distance_of_time_in_words_to_now(message.created_at) %> ago    
  </td>
</tr>
