<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div class="<%= message.aasm_state -%> <%= message.css_class -%> message_full" id="<%= dom_id(message) -%>">
  <div class="avatar">
    <%= avatar_from_email message.sender.email, :size => 32 -%>
  </div>
  <div class="message">
    <p>
      <%= message_title(message) %> <%= distance_of_time_in_words_to_now(message.created_at) %> ago <br />
      <strong><%= h(message.title) %></strong><br />
    </p>
    <p class="body">
      <%= h(message.body) %>
    </p>
    <ul class="message_actions">
      <% if message.unread? and message.recipient == current_user %>
        <li id="<%= dom_id(message, 'mark_as_read') -%>">
          <%= link_to_remote(t('views.messages.mark_as_read'), :url => read_message_path(message), :method => :put) %>
        </li>
      <% end %>

      <%- unless message.sender == current_user -%>
        <li>
          <%= link_to_function(t("views.messages.reply"), "Element.toggle('#{dom_id(message,"reply_to")}')") %>
        </li>    
      <%- end -%>
    </ul>
      <% unless message.sender == current_user -%>
        <div class="reply" style="display:none" id="<%= dom_id(message,"reply_to") %>">
          <% form_for(message.build_reply, :url => reply_message_path(message)) do |f| %>
            <p>
              <%= f.label :subject, t("views.messages.subject") %><br/>
              <%= f.text_field :subject %>
            </p>
            <p>
              <%= f.label :subject, t("views.messages.body") %><br/>
              <%= f.text_area :body %>
            </p>

            <p>
              <%= f.submit t("views.messages.submit") %>
            </p>
          <% end %>
        </div>
      <% end %>
  </div>
</div> 
