<%- unless replies.blank? -%>
<ul class="replies">
  <%- for reply in replies -%>
    <li class="<%= reply.display_state_for(current_user) -%>">  
      <%= link_to_remote h(reply.subject), :url => message_path(reply), :method => :get, :update => "#{dom_id(reply, 'reply')}" %> <span class="date_display">(<%= reply.created_at.to_s(:short) %>)</span>
      <div id="<%= dom_id(reply, "reply") -%>">
        
      </div>
      <%= render :partial => 'replies', :locals => {:replies => reply.replies} %>
    </li>
  <%- end -%>
</ul>
<%- end -%>
