<h1><%= t "views.messages.sent_messages" %></h1>

<%= render :partial => "messages", :locals => {:messages => @messages} %>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @root} -%>
<% end -%>


<% content_for(:sidebar) do %>
  <%= render :partial => "sidebar" %>
<% end %>

<%= will_paginate(@messages) %>