<h2 class="activities">
  <% if showing_newsfeed? %>
    Your news feed
  <% else %>
    <%= t("views.site.dashboard.activities") %>
  <% end %>
  <%= feed_icon @atom_auto_discovery_url -%>
  <% if is_current_user?(user) -%>
    <small>(<%= newsfeed_or_user_events_link %>)</small>
  <% end %>
</h2>
<% if events.empty? %>
  <p class="hint">
    <%= personified(user, "You have", "#{user.title} has") %> no news.
  </p>
<% else %>
  <div id="user_events" class="w-510">
    <%= render :partial => "events/events", :locals => { :events => events, :container_css_class => "w-510" } %>
  </div>
<% end %>
