<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= pull_box(t("views.site.dashboard.projects"), :class => "your-projects pull-box-390") do %>
  <% if is_current_user?(user) %>
    <div class="pull-box-header-action">
      <%= link_to(new_project_path, :class => 'btn btn-primary btn-mini') do %>
        <i class="icon-plus-sign icon-white"></i>
        <%= t('views.projects.create_new') %>
      <% end %>
    </div>
  <% end %>
  <% if projects.any? %>
    <table class="table">
      <% projects.each do |project| %>
        <tr class="project">
          <td>
            <%= link_to h(project.title), project %>
            <% if favorites.include?(project) %>
              <%= image_tag("silk/star.png", :title => "favorited") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="hint muted">
      <%= "#{user.login} has no projects yet" %>
    </p>
  <% end %>
<% end %>
