<div class="row user-profile not-dash">
  <div class="span2">
    <%= link_to(avatar(user, :size => 128), user, :class => "avatar") %>
  </div>
  <div class="span3">
    <div class="profile-data">
      <h1>
        ~<%= link_to h(user.login), user %>
      </h1>
      <ul class="details unstyled">
        <% if user.fullname.present? %>
          <li>
            <strong><%= h(user.fullname) %></strong>
          </li>
        <% end %>
        <% if user.public_email? %>
          <li class="email">
            <%= mail_to(user.email, mangled_mail(user.email), :encode => "javascript") %>
          </li>
        <% end %>
        <% if user.url %>
          <li>
            <a rel="me" href="<%=h user.url %>"><%=h user.url %></a>
          </li>
        <% end %>
        <li>
          <%= t("views.users.member_for") %> <%= time_ago_in_words(user.created_at) %>
          <% if user.suspended? %>(suspended)<% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
