<%= error_messages(user) -%>

<%= simple_form_for user, :multipart => true, :html => { :class => 'form-horizontal' } do |f| -%>
  <fieldset>
    <%= f.input :fullname, :label => t("views.users.realname") %>
    <%= f.input :email, :label =>t(:email, :scope => 'views.users') %>
    <%= f.input :public_email, :label => t(:public_email, :scope => 'activerecord.attributes.user') %>
    <span class="hint">
      (The email will be encoded to prevent scraping)
    </span>
    <%= f.input :identity_url, :as => :string, :label => t("views.users.openid") %>

    <%= f.label :avatar, t('views.users.avatar') %>

    <div>
      <%= avatar(user, :version => :thumb, :size => '24') %>
      <%- if user.avatar? -%>
        <%= button_to_function("Delete current profile image", "if (confirm('Are you sure you want to delete your profile image?')) $('#delete_avatar').submit()") %>
      <%- end -%>
      <span class="hint"> If you do not add an image, Gitorious will try to use your gravatar </span>
    </div>

    <%= f.input :avatar, :label => 'Upload avatar' %>

    <%= f.input :wants_email_notifications, :label => t("views.users.wants_email_notifications") %>
    <span class="hint">
      <%= t("views.users.describe_email_notifications") %>
    </span>
    <%= f.input :default_favorite_notifications %>
    <span class="hint">
      <%= t("views.users.default_favorite_notifications", :url => favorites_path) %>
    </span>
  </fieldset>
  <%= f.submit t("views.common.save") -%>
<% end -%>

<%= form_for(user, :url => user_avatar_path, :html => {:id => "delete_avatar", :method => :delete}) do |f| -%>

<%- end -%>
