<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@membership) -%>

<%= error_messages_for :group, :membership -%>
<% form_for [@group, @membership] do |f| -%>
<fieldset>
  <li>
    <%= f.label :role, t("views.memberships.role") -%>
    <div><%= f.select :role_id, Role.all.map{|r| [r.name, r.id]} -%></div>
  </li>
</fieldset>
<fieldset class="submit">
  <%= f.submit -%>
</fieldset>
<% end -%>