<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<%= render("groups/header", :active => true, :title => group.name, :group => group) %>

<% @title = "#{group.name} members" %>

<div class="container gts-container">
  <% if admin?(current_user, @group) and @group.is_a?(Group) %>
    <a href="<%= new_group_membership_path(group) %>" class="btn btn-primary pull-right">
      <i class="icon-plus-sign icon-white"></i>
      <%= t("views.memberships.add_new_member") %>
    </a>
  <% end %>
  <h2 class="gts-legend">Members</h2>
  <table class="table table-striped">
    <thead>
      <th><%= t(:created_at, :scope => "activerecord.attributes.memberships").humanize %></th>
      <th><%= t(:login, :scope => "activerecord.attributes.user").humanize %></th>
      <th><%= t(:email, :scope => "activerecord.attributes.user").humanize %></th>
      <th><%= t(:name, :scope => "activerecord.attributes.roles").humanize %></th>
      <th></th>
    </thead>
    <tbody class="gts-tbody-actions">
      <% memberships.each do |membership| %>
        <tr>
          <td><%= l(membership.created_at, :format => :short) %></td>
          <td><%= link_to h(membership.user.login), membership.user %></td>
          <td><%= membership.user.public_email? ? h(membership.user.email) : "N/A" %></td>
          <td><%=h membership.role.name %></td>
          <td>
            <%- if admin?(current_user, group) && group.is_a?(Group) %>
              <%= link_to(t("views.common.edit"), edit_group_membership_path(group, membership), :class => "btn") %>
              <%= link_to("Remove", group_membership_path(group, membership), :class => "btn btn-danger", :method => :delete) %>
            <%- end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= raw JustPaginate.page_navigation(page, total_pages) { |n| group_memberships_path(:page => n) } %>
</div>
