<%
#--
#   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    options = {matchSubset: false}
    $("input#user_login_autocomplete").autocomplete("auto_complete_for_user_login", options);
  });
</script>

<%= breadcrumbs_from(@root) -%>

<h2 class="content-header"><%= t("views.memberships.new_title", :group_memberships => link_to(h(@group.name), [@group, :memberships])) -%></h2>

<%= error_messages_for :group, :membership -%>
<% form_for [@group, @membership] do |f| -%>
<fieldset>
  <li>
    <%= f.label :login, t("views.users.username") -%>
    <div><%= text_field :user, :login, :id => "user_login_autocomplete" -%></div>
  </li>
  <li>
    <%= f.label :role, t("views.memberships.role") -%>
    <div><%= f.select :role_id, Role.all.map{|r| [r.name, r.id]} -%></div>
  </li>
</fieldset>
<fieldset class="submit">
  <%= f.submit -%>
</fieldset>
<% end -%>
