<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% @title = "Add member to #{group.name}" %>

<%= render('groups/header', :active => true, :title => group.name, :group => group) %>

<div class="container">
  <%= simple_form_for(membership, :url => group_memberships_path(group), :html => { :class => "form-horizontal" }) do |f| %>
    <fieldset>
      <legend><%= @title %></legend>
      <%= f.input :login, :label => t("views.users.username") %>
      <%= f.input :role_id, :collection => Role.all.map { |r| [r.name, r.id] }, :include_blank => false %>
    </fieldset>
    <div class="form-actions">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
