<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%- if comment.state_changed_to -%>
  <p class="gts-bordered-row">
    → State changed
    <% if comment.state_changed_from %>
      from <span class="label label-<%= status_open?(comment.state_changed_from) ? 'success' : 'inverse' %>"><%=h comment.state_changed_from %></span>
    <% end %>
    to <span class="label label-<%= status_open?(comment.state_changed_from) ? 'success' : 'inverse' %>"><%=h comment.state_changed_to %></span>
  </p>
<% end %>
<div class="gts-comment" id="comment-<%= comment.id %>">
  <% if !comment.context.blank? -%>
    <blockquote>
      <pre class="diff-comment-context"><code><%= comment.context %></code></pre>
    </blockquote>
  <% end %>
  <%= render_markdown(comment.body, :auto_link).html_safe -%>
  <p>
    <img width="24" height="24" src="<%= avatar_url(comment.user, :size => 24) %>" alt="avatar" class="gts-avatar">
    <%= link_to(comment.user.login, user_path(comment.user)) %>
    <% if comment.applies_to_line_numbers? -%>
      on <%= link_to("##{comment.sha1[0...7]}", project_repository_commit_path(comment.project, comment.repository, comment.sha1)) %>
    <% end -%>
    <%= comment.created_at.strftime("%b %-d %Y, %H:%M.") %>
    <% if comment.user == current_user %>
      <%= link_to("Edit comment", edit_project_repository_comment_path(comment.project, comment.repository, comment)) %>
    <% end %>
  </p>
</div>
