<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div class="control-group">
  <label class="control-label">Select commits</label>
  <div class="controls">
    <p class="well">
      Select the range of commits you want to be included in the merge request
    </p>

    <div id="large_selection_warning" style="display: none">
      <strong>Note:</strong> You have selected a large amounts of commits,
      make sure that you have selected the correct target and source branch you intend to
      merge with and from respectively.
    </div>

    <table class="table" id="commit_table">
      <tr>
        <th>To</th>
        <th>Summary</th>
        <th class="commit_list_status" colspan="2">No range selected yet</th>
      </tr>
      <% @commits.each_with_index do |commit, i| %>
        <tr id="commit_<%= i %>" class="commit_row">
          <td class="merge_to_container">
            <input
               name="merge_request[ending_commit]"
               id="merge_request_ending_commit"
               type="radio"
               value="<%= commit.id %>"
               class="merge_to">
           </td>
          <td class="commit-details meta">
            <strong class="committer">
              <%= h truncate(commit.committer.to_s, :length => 25) %>
            </strong>
            <span class="sha-abbrev">
              <%= link_to commit.id_abbrev, project_repository_commit_path(@project, @repository, commit) %>
            </span>
            <small>
              <%= distance_of_time_in_words_to_now(commit.time) %> ago
            </small>
          </td>
          <td class="commit-details message">
            <div class="commit_message inline">
              <%= h truncate(commit.short_message, :length => 140) %>
            </div>
          </td>
          <td class="selection">&nbsp;</td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th></th>
        <th class="commit_list_status" colspan="2">No range selected yet</th>
      </tr>
    </table>
  </div>
</div>

<div id="commit_selection_error" style="display:none">
  Please select which commit to start from and which to end at. The last
  commit needs to be after the first one.
</div>
