<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<p>
  <%= form.label :summary, t(:summary, :scope => 'activerecord.attributes.merge_request') -%><br />
  <small class="hint"><%= t("views.merges.info.summary") %></small><br />
  <%= form.text_field :summary -%>
</p>
<p>
  <%= form.label :proposal, t(:proposal, :scope => 'activerecord.attributes.merge_request') -%><br />
  <small class="hint"><%= t("views.merges.info.proposal") %></small><br />
  <%= form.text_area :proposal, :class => "text medium" -%>
</p>
<p>
  <%= form.label :target_repository_id, t(:target_repository_id, :scope => 'activerecord.attributes.merge_request') -%><br />
  <small class="hint"><%= t("views.merges.info.target_repos") %></small><br />
  <%= form.select :target_repository_id, @repositories.map{|r| [r.name, r.id] } -%>
  <span id="spinner" style="display:none;"><%= image_tag("spinner.gif") -%></span>
</p>
<div id="target_branch_selection">
  <%= render :partial => "target_branches" -%>
</div>
<p>
  <%= form.label :source_branch, t(:source_branch, :scope => 'activerecord.attributes.merge_request') -%><br />
  <small class="hint"><%= t("views.merges.info.source_branch") %></small><br />
  <%= form.select :source_branch, @source_branches.collect(&:name), {:include_blank => true} %>
</p>
<div id="commit_selection">
  <%= link_to_remote "Fetch commits", :update => 'commit_selection', 
        :url => commit_list_project_repository_merge_requests_path, 
        :method => :get, 
        :with => 'Form.serialize(document.forms[1])' if false-%>
  <%= render :partial => "commit_list" -%>
</div>
