<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<p>
  <%= form.label :target_repository_id -%><br />
  <small class="hint">The one you wish this repository should be merged with</small><br />
  <%= form.select :target_repository_id, @repositories.map{|r| [r.name, r.id] } -%>
</p>
<p>
  <%= form.label :target_branch -%><br />
  <small class="hint">The target branch you wish your changes to be merged into</small><br />
  <%= form.text_field :target_branch, :class => "text", :value => form.object.target_branch -%>
</p>
<p>
  <%= form.label :source_branch -%><br />
  <small class="hint">The source branch you wish the target repository should merge from</small><br />
  <%= form.text_field :source_branch, :class => "text", :value => form.object.source_branch -%>
</p>
<p>
  <%= form.label :proposal -%><br />
  <small class="hint">A short summary of your changes</small><br />
  <%= form.text_area :proposal, :class => "text medium" -%>
</p>