<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% no_link ||= false -%>

<div class="merge_request_summary <%= merge_request.status_string -%>">
  <p class="status">[<span><%= merge_request.status_string -%></span>]</p>
  <h5>
	<% @source = link_to h(merge_request.source_name), 
          [merge_request.source_repository.project, merge_request.source_repository] -%>
	<% @target = link_to h(merge_request.target_name), 
	      [merge_request.source_repository.project, merge_request.target_repository] -%>
	<%= t("views.merges.summary_title", :source => @source, :target => @target) -%>
  </h5>
  <div class="proposal"><%= sanitize(simple_format(merge_request.proposal)) -%></div>
  <p class="byline">
    <%= link_to(h(merge_request.user.login), merge_request.user) -%> | 
    <%= merge_request.created_at.to_s(:short) -%> 
    <% if !no_link && merge_request.open? -%>
      | <strong>
          <%= link_to t("views.merges.review"), 
                [merge_request.source_repository.project, 
                  merge_request.target_repository, merge_request] -%>
        </strong>
    <% end -%>
  </p>
</div>