<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<% @title = t("views.merges.page_title", :repo => h(target.name)) -%>
<% content_for(:head) do %>
  <%= auto_discovery_link_tag(:atom, atom_auto_discovery_url, :title => "Atom") -%>
<% end %>

<div class="container" id="gts-pjax-container">
  <h2 class="gts-legend">
    Merge requests for <%= target.slug %>
    <%= link_to_help 'merge-request' %>

    <div class="pull-right">
      <%= feed_icon atom_auto_discovery_url %>
    </div>
  </h2>
  <%= modal_box("What's a merge request?", 'merge-request') do %>
    <%= t("views.merges.hint") %>
  <% end %>
  <%= render_status_tag_list(merge_request_statuses, target, status) -%>
  <table class="table table-striped">
    <% merge_requests.each do |merge_request| -%>
      <% mr_path = [merge_request.source_repository.project,
                    merge_request.target_repository,
                    merge_request] -%>
      <tr id="<%= dom_id(merge_request) -%>">
        <td><%= link_to "#"+h(merge_request.to_param), mr_path -%></td>
        <% if merge_request.status_tag -%>
          <td class="gts-item-status" style="color:<%=h merge_request.status_tag.color -%>">
            <%=h merge_request.status_tag.name -%>
          </td>
        <% else -%>
          <td class="gts-item-status"><%=h merge_request.status_tag -%></td>
        <% end -%>
        <% if target.is_a?(Project) %>
          <td>
            <% repository = merge_request.target_repository %>
            <%= link_to(h(repository.project.slug), project_path(repository.project)) -%>/<%= link_to(h(repository.name), project_repository_path(repository.project, repository)) -%>
          </td>
        <% end %>
        <td>
          <%= link_to h(truncate(merge_request.summary, :length=>110)), mr_path -%>
        </td>
        <td><%= link_to(h(merge_request.user.login), merge_request.user) -%></td>
        <td class="gts-item-age"><%= time_ago(merge_request.created_at) -%></td>
      </tr>
    <% end -%>
  </table>
</div>
