<div class="merge_request_diff_browser">
<ul class="commit_selector" 
    id="merge_request_commit_selector" 
    data-merge-request-version-url="<%= commit_diff_url(version) -%>">

  <li class="merge_base single_commit">
    <%= merge_base_link(version) -%>
  </li>
  <div style="width:56%;overflow:hidden;height:23px;float:left">
    <%- for c in version.affected_commits.reverse -%>
    <li class="<%= @merge_request.commit_merged?(c.id) ? "merged" : "unmerged" -%> single_commit">
      <%= inline_commit_link(c) -%>
    </li>
    <%- end -%>
  </div>

  <li class="selected_shas">
    <a href="#" id="current_shas" data-merge-request-current-shas="<%= version.sha_summary(:long) -%>">
      <%= version.sha_summary -%>
    </a>
  </li>
  <li class="version_selector">
    <select>
      <option value="">-</option>
      <%= options_from_collection_for_select(
          @merge_request.versions, 
          'version', 
          'version', 
          version.version) %>
    </select>

  </li>
</ul>

<div class="clear"></div>


<div id="merge_request_diff">  
</div>
</div>
