<div class="merge_request_diff_browser" id="merge_request_current_version">
  <ul class="commit_selector <%= many_commits?(version) ? 'large' : 'compact' -%>" 
      id="merge_request_commit_selector" 
      data-merge-request-version-url="<%= commit_diff_url(version) -%>">
    <li class="merge_base round-10">
      <%= merge_base_link(version) -%>
    </li>

    <% if many_commits?(version) %>
      <li class="single_commit expander">
        <a href="#" id="large_commit_selector_toggler">Select commits&hellip;</a>
      </li>
    <% else %>
      <%- for c in version.affected_commits.reverse -%>
        <li class="<%= commit_css_class(@merge_request, c) -%> single_commit ui-selected">
          <%= inline_commit_link(c) -%>
        </li>
        <div class="hover-bubble-content round-10">
          <p><%=h c.short_message %></p>
        </div>
      <%- end -%>
    <% end -%>
  </ul>

<% if many_commits?(version) -%>
  <div id="large_commit_selector">
    <%= styled_button(:medium, "Show diffs for commits", :id => "show-large-diff-range") -%>
    <table class="select_commits_from_list" id="commit_table">
    <% version.affected_commits.reverse.each_with_index do |commit, i| %>
      <tr id="commit_<%= i -%>" class="commit_row">
        <td class="merge_to_container">
          <input 
             name="merge_request[ending_commit]" 
             id="merge_request_ending_commit"
             type="radio" 
             value="<%= commit.id -%>" 
             class="merge_to" />
        </td>
        <td class="commit-details meta">
          <ul>
            <li class="sha-abbrev"><%=h commit.id_abbrev %></li>
            <li class="committer">
              <strong><%=h truncate(commit.committer.to_s, :length => 25) %></strong>
            </li>
          </ul>
          <small><%= distance_of_time_in_words_to_now(commit.committed_date) %> ago</small>
        </td>
        <td class="commit-details message">
          <div class="commit_message inline">
            <%= inline_sha_link(h(truncate(commit.short_message,
                  :length => 140)), commit.id) -%>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<% end -%>

<div class="clear"></div>

<div id="merge_request_diff_loading" style="display:none">
  <div class="merge_request_diff_loading_indicator">
    <p>Fetching commit diffs&hellip;</p>
    <p><img src="/images/spinner.gif" height="16" width="16" /></p>
  </div>
</div>

<div id="current_shas"
     data-merge-request-current-shas="<%= version.sha_summary(:long) -%>"
     class="merge_request_commit_summary round-bottom-5">
  <%= summarize_version(version) -%>
</div>

<div id="merge_request_diff">  
</div>
</div>
