<%
#--
#   Copyright (C) 2008-2009 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.merges.page_title", :repo => h(@repository.name)) -%>
<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @repository} -%>
<% end -%>

<h1><%= t("views.merges.page_title", :repo => h(@repository.name)) %></h1>

<p class="hint"><%= t("views.merges.hint") %></p>

<% if @open_merge_requests.blank? -%>
  <p>
    <em><%= t("views.merges.no_merge") %></em>
  </p>
<% else -%>
  <%= render :partial => @open_merge_requests -%>
<% end -%>

<% content_for :sidebar do -%>
  <h4>Recently handled merge requests</h4>
  <ul class="recently-closed-merge-requests">
    <% @recently_closed_merge_requests.each do |merge_request| -%>
      <li class="merge_request_summary_short <%= merge_request.status_string -%>">
      	<p class="status">[<span><%= merge_request.status_string -%></span>]</p>
        <% source = h(merge_request.source_name) -%>
      	<% target = h(merge_request.target_name) -%>
        <%= link_to source + " with " + target, 
              [merge_request.source_repository.project, merge_request.target_repository, merge_request] -%>
      </li>
    <% end -%>
  </ul>
<% end -%>