<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<%= site_header do %>
  <h1>
    <%= t("views.merges.create_title") %>
  </h1>
  <div class="gts-markup">
    <p>
      A merge request is an invitation for the target repository owners to merge
      changes from your clone. A short summary should explain the motivation
      behind your changes; the commits and diffs will tell the <em>what</em>.
    </p>
  </div>
<% end %>

<div class="container">
  <%= simple_form_for [@repository.project, @repository, @merge_request], :html => { :class => 'form-horizontal merge-request-form' } do |f| %>
    <%= render "form", :form => f %>

    <% if @project.merge_requests_need_signoff? %>
      <p>
        This project requires that users who submit merge requests should accept
        a contribution agreement. <strong>You will get redirected to a
        third-party site in order to review and accept their contribution
        agreement</strong>. If you do not accept that contribution agreement,
        the merge request will not be accepted. If you already accepted that
        agreement once before you may not need to accept it again, unless it has
        changed.
      </p>
      <p>
        Note that the third-party may receive your full name and email in order
        to identify your contributions to their project, if you accept the
        agreement.
      </p>
    <% end %>

    <div class="form-actions">
      <%= f.submit t("views.merges.create_btn"), :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <script data-gts-env-commit-list-url="<%= commit_list_project_repository_merge_requests_path %>"
          data-gts-env-target-branches-url="<%= target_branches_project_repository_merge_requests_path %>"></script>
</div>
