<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", 
        :locals => { :root => Breadcrumb::MergeRequests.new(@repository) } -%>
<% end -%>

<h1><%= t("views.merges.create_title") %></h1>

<%= error_messages_for :merge_request -%>
<% form_for [@project, @repository, @merge_request] do |f| -%>
  <%= render :partial => "form", :locals => {:form => f} -%>
  
  <%= f.submit t("views.merges.create_btn") -%>
<% end -%>

<script type="text/javascript" charset="utf-8">
  var selectableRange = new SelectableRange(
    '<%= commit_list_project_repository_merge_requests_path %>',
    '<%= target_branches_project_repository_merge_requests_path %>'
  );
  $("merge_request_source_branch").observe("change", selectableRange.onSourceBranchChange.bindAsEventListener(selectableRange));
  //Event.observe(window, 'load', selectableRange.onSourceBranchChange.bindAsEventListener(selectableRange));
  
  $("merge_request_target_branch").observe("change", selectableRange.onTargetBranchChange.bindAsEventListener(selectableRange));
  //Event.observe(window, 'load', selectableRange.onTargetBranchChange.bindAsEventListener(selectableRange));
    
  $("merge_request_target_repository_id").observe("change", selectableRange.onTargetRepositoryChange.bindAsEventListener(selectableRange));
  //Event.observe(window, 'load', selectableRange.onTargetRepositoryChange.bindAsEventListener(selectableRange));
</script>