<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2009 Sven Eckelmann <sven.eckelmann@gmx.de>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<%= site_header do %>
  <h2><%= "Merge request ##{@merge_request.to_param}" %></h2>
  <div class="pull-right">
    <%= render "merge_requests/show/options" %>
  </div>
  <p class="description"><%= h(@merge_request.summary) %></p>
  <%= nav_tabs %w(summary commits), :class => 'nav nav-tabs gts-header-nav', :active => 'summary' %>
<% end %>

<div class="container">
  <%= tab_content do %>
    <%= tab_pane 'summary', :active => true do %>
      <%= render "merge_requests/show/summary" %>
    <% end %>
    <%= tab_pane 'commits' do %>
      <% render_if_ready(@merge_request, :include_refresh_link => true) do -%>
        <%= render "merge_requests/show/commits" %>
        <%= render "merge_requests/show/comments" %>
        <% if logged_in? && @merge_request.user == current_user %>
          <%= render "merge_requests/show/merge_help" %>
        <% end %>
        <%= render "merge_requests/show/help" %>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
