<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<fieldset>
  <% if params[:return_to] %>
    <%= hidden_field_tag "return_to", params[:return_to] %>
  <% end %>
  <div class="control-group">
    <label class="control-label" for="email"><%= login_field_label %></label>
    <div class="controls">
      <%= text_field_tag "email", params[:email], :class => "input-xlarge", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password"><%= t("views.sessions.passwd") %></label>
    <div class="controls">
      <%= password_field_tag "password", "", :class => "input-xlarge", :required => true %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <%= check_box_tag "remember_me" %>
        <label for="remember_me"><%= t("views.sessions.remember") %></label>
      </label>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit"><%= t("views.sessions.submit") %></button>
  </div>
</fieldset>
