<% form_tag secure_login_url, :id => "big_header_login_box_form" do %>
  <div id="big_header_login_box_fields">
    <div id="big_header_login_box_regular">
      <h3><%= t("views.sessions.regular_login_header") %></h3>
      <p>
        <%= label_tag :email, t("views.sessions.email") %>
        <%= text_field_tag :email, params[:email] %>
        <a href="#" id="big_header_login_box_to_openid"><%= t("views.sessions.to_openid") %></a>
      </p>

      <p>
        <%= label_tag :password, t("views.sessions.passwd") %>
        <%= password_field_tag :password %>
        <%= link_to t("views.sessions.forgot"), forgot_password_users_path %>
      </p>
    </div>
  
    <div id="big_header_login_box_openid" style="display:none;">
      <h3><%= t("views.sessions.openid_login_header") %></h3>
    
      <p>
        <%= label_tag :openid_url, t("views.sessions.openid_url") %>
        <%= text_field_tag :openid_url, params[:openid_url] -%>
        <a href="#" id="big_header_login_box_to_regular"><%= t("views.sessions.to_regular") %></a>
      </p>
    </div>
  </div>
  
  <p>
    <%= label_tag :remember_me, t("views.sessions.remember") %>
    <%= check_box_tag :remember_me %>
  </p>

  <p><%= styled_button :medium, t("views.sessions.submit") %></p>
<% end %>