<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Patrick Aljord <patcito@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1>Login</h1>
<%= login_method %>

<% form_tag sessions_path  do -%>
  <div id="regular_login_fields">
    <% # login_method %>
    <p>
  <label for="login">Email or <%= switch_login('switch to OpenID','to_openid')%></label><br/>
    <%= text_field_tag 'email', params[:email], :class => "text" %>
  </p>

  <p>
    <label for="password">Password</label><br/>
    <%= password_field_tag 'password', '', :class => "text" %>
  </p>
  </div>
  <div id="openid_login_fields" style="display:none;">
    <p>
      <label for="openid">OpenID or <%= switch_login('switch to email login', 'to_email') -%></label><br/>
      <%= text_field_tag 'openid_url', params[:openid_url], :class => "text" -%>
    </p>
  </div>
  <p>
    <label for="remember_me">Remember me:</label>
    <%= check_box_tag 'remember_me' %>
  </p>

  <p><%= submit_tag 'Log in' %></p>
<% end -%>

<p>
  <small>
    <%= link_to "Register", new_user_path -%> 
    | <%= link_to "Forgotten your password?", forgot_password_users_path -%>
  </small>
</p>
