<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 Patrick Aljord <patcito@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div class="gts-site-header">
  <div class="container">
    <div class="row">
      <h1 class="span"><%= @title = "Forgotten your password?" %></h1>
    </div>
    <%= login_menu(:forgot_password) %>
  </div>
</div>

<div class="container">
  <%= form_for(:user, :url => forgot_password_create_users_path, :html => { :class => "form-horizontal" }) do |form| -%>
    <fieldset>
      <div class="control-group">
        <%= form.label :email, t(:email, :scope => "activerecord.attributes.user"), :class => "control-label" -%>
        <div class="controls">
          <%= form.text_field :email, :class => "input-xlarge" -%>
          <p class="help-block">
            You will receive an e-mail with instructions on how to reset your password.
          </p>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit"><%= t("views.users.send_new_passwd") %></button>
      </div>
    </fieldset>
  <% end -%>
</div>
