<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<ul>
  <li>
    <div class="clone_urls">
      <form class="clone_urls_form">
        <p><strong>Clone &amp; push urls</strong></p>
        <%= repo_clone_link(repository, @owner, :git) %>
        <%= repo_clone_link(repository, @owner, :http) %>
        <%= repo_clone_link(repository, @owner, :ssh) if display_ssh_url?(repository) %>

        <p class="clone-copy <%= class_name_for_clone_url_field(repository) -%>">
          <input type="text" readonly="readonly" id="clone-url-<%= repository.id %>" value="" />
          <a href="#help" id="clone-help-<%= repository.id -%>" class="clone-help-toggler">?</a>
        </p>
      </form>
    </div>
    <div id="clone-help-<%= repository.id -%>-box" class="clone-help-text" style="display:none;">
      <% if logged_in? && current_user.site_admin? -%>
        <% content_for :extra_head do %>
          <link rel="vcs-git" href="<%= h(repository.push_url) -%>" title="<%= t("views.repos.show_page_title", :repo => repository.name, :title => h(@owner.title)) -%>" />
        <% end %>
        <p>Repository path: <code><%= h(repository.full_repository_path) -%></a></code></p>
      <% end -%>
      <% if logged_in? && current_user.can_write_to?(repository) -%>
        <p>
          Adding this repository as a pushable origin:
<pre>
# Add the push url to your already existing origin:
git remote set-url --push origin <%= repository.push_url %>
# to push the master branch to the origin remote we added above:
git push origin master
# after that you can just do:
git push
</pre></p>
      <% end -%>
      <p>Cloning this repository:
<pre>
git clone <%= repository.default_clone_url -%> <%=h repository.name %>
cd <%=h repository.name -%>
</pre></p>
      <p>Add this repository as a remote to an existing local repository:
<pre>
git remote add <%=h repository.name -%> <%= repository.default_clone_url %>
git fetch <%=h repository.name %>
git checkout -b my-local-tracking-branch <%=h repository.name -%>/master_or_other_branch
</pre>
      </p>
    </div>
  </li>
</ul>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var standard = $("#git-<%= repository.id -%>:checked, #http-<%= repository.id -%>:checked, #ssh-<%= repository.id -%>:checked").val();

        $('#clone-url-<%= repository.id -%>').val(standard);

        $('#git-<%= repository.id %>').click(function () {
            var text = $('#git-<%= repository.id %>').val();
            $('#clone-url-<%= repository.id %>').val(text);
        });

        $('#http-<%= repository.id %>').click(function () {
            var text = $('#http-<%= repository.id %>').val();
            $('#clone-url-<%= repository.id %>').val(text);
        });
        $('#ssh-<%= repository.id %>').click(function () {
            var text = $('#ssh-<%= repository.id %>').val();
            $('#clone-url-<%= repository.id %>').val(text);
        });

        $('#clone-url-<%= repository.id %>').click(function () {
            this.select();
        });
    });
</script>
