<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<ul>
	  <li>
	   	<div class="clone_urls">
			<form class="clone_urls_form">
					<p><strong>Clone &amp; push urls</strong></p>
					<p class="clone_radio">
					  <label for="git-<%= repository.id %>"><input type="radio" id="git-<%= repository.id %>" name="url-<%= repository.id %>" value="<%= h(repository.clone_url) -%>" checked="checked">GIT</label>
					</p>
					<% if repository.http_cloning? %>
						<p class="clone_radio">
						  <label for="http-<%= repository.id %>"><input type="radio" id="http-<%= repository.id %>" name="url-<%= repository.id %>" value="<%= h(repository.http_clone_url) -%>">HTTP</label>
						</p>
					<% end %>
					<p class="clone_radio">
					  <label for="push-<%= repository.id %>"><input id="push-<%= repository.id %>" type="radio" name="url-<%= repository.id %>" value="<%= h(repository.push_url) -%>">SSH</label>
					</p>
					<p class="clone-copy"><input type="text" id="clone-url-<%= repository.id %>" value=""></p>
			</form>
		</div>	
	  </li>
</ul>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var standard = $('#git-<%= repository.id %>').val();
		$('#clone-url-<%= repository.id %>').val(standard);
		
		$('#git-<%= repository.id %>').click(function () {
			var text = $('#git-<%= repository.id %>').val();
			$('#clone-url-<%= repository.id %>').val(text);
		});
		
		$('#http-<%= repository.id %>').click(function () {
			var text = $('#http-<%= repository.id %>').val();
			$('#clone-url-<%= repository.id %>').val(text);
		});
		$('#push-<%= repository.id %>').click(function () {
			var text = $('#push-<%= repository.id %>').val();
			$('#clone-url-<%= repository.id %>').val(text);
		});

		$('#clone-url-<%= repository.id %>').click(function () {
			this.select();
		});
	});
</script>
