<h4><%= t("views.repos.current_committers") %></h4>    
<ul class="committers">
<% @repository.committers(:exclude_groups => true).each do |user| -%>
  <li>
    <div class="user">
      <%= gravatar(user.email, :size => 16, :style => "tiny") %>
      <%= link_to h(user.title), user -%>
      <% if @repository.user == user -%>
        <small class="hint">(<%= t("views.repos.creator") %>)</small>
      <% end -%>
    </div>
  </li>
<% end -%>
<% @repository.groups.each do |group| -%>
  <li>
    <div class="group">
      <%= image_tag("silk/group.png") %>
      <%= link_to h(group.to_param_with_prefix), group -%>
    </div>
  </li>
<% end -%>
</ul>
