<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<ul class="infobox">
  <li>
    <strong>Public clone url:</strong> <code><%=h @repository.clone_url -%></code> 
    <small><%= link_to_function "More info…", "$('detailed_clone_info').toggle()" -%></small>
    <div id="detailed_clone_info" class="info_hint" style="display:none">
      You can clone this repository with the following command:<br />
      <code>git clone <%= @repository.clone_url -%></code>
    </div>
  </li>
  <li>
    <strong>HTTP clone url:</strong> <code><%=h @repository.http_clone_url -%></code> 
    <small><%= link_to_function "More info…", "$('detailed_http_clone_info').toggle()" -%></small>
    <div id="detailed_http_clone_info" class="info_hint" style="display:none">
      You can clone this repository with the following command:<br />
        <code>git clone <%= @repository.http_clone_url -%></code><br />
        <small>(note that cloning over HTTP is slightly slower, but useful 
          if you're behind a firewall)</small>
    </div>
  </li>
  <% if logged_in? && current_user.can_write_to?(@repository) -%>
    <li>
      <strong>Push url:</strong> <code><%=h @repository.push_url -%></code>
      <small><%= link_to_function "More info…", "$('detailed_push_info').toggle()" -%></small>
      <div id="detailed_push_info" class="info_hint" style="display:none">
        You can run "<code>git push <%= @repository.push_url %></code>", or 
        you can setup a remote by doing the following:
<pre>
git remote add origin <%= @repository.push_url %>
# to push the master branch to the origin remote we added above:
git push origin master 
# after that you can just do:
git push
</pre>
      </div>
    </li>
  <% end -%>
</ul>