<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<table class="repository_meta">
  <tr class="name">
    <td colspan="3" class="<%= repository.mainline? ? "mainline" : "clone" -%>">
      <h2 style="display: inline;">
        <%= link_to h(repository.name), repo_owner_path(repository, [repository.project, repository]) -%>
      </h2>
      <ul class="horizontal" style="position: relative; top: -2px; padding-left: 10px">
        <li class="commit"><%= link_to "Commit log", repo_owner_path(repository, [repository.project, repository, :commits]) -%></li>
        <li class="tree"><%= link_to "Source tree", repo_owner_path(repository, [repository.project, repository, :trees]) -%></li>
        <li class="merge_requests">
          <%= link_to "Merge requests <small>(#{repository.merge_requests.open.count})</small>", repo_owner_path(repository, [repository.project, repository, :merge_requests]) -%>
        </li>
        <% if repository.parent -%>
        <li class="clone">
          <%= link_to "Clone of #{h(repository.parent.name)}", [repository.parent.project, repository.parent] -%>
        </li>
        <% end -%>
      </ul>
    </td>
  </tr>
  <% unless repository.description.blank? -%>
  <tr>
    <td colspan="3" class="repository-description">
      <div class="page">
        <%= paragraphs_with_more auto_link(markdown(sanitize(repository.description)), :urls) -%>
      </div>
    </td>
  </tr>
  <% end -%>
  <tr>
    <td colspan="3" class="infobox">
      <ul>
        <li>
            <strong><%= t("views.repos.public_url") %>:</strong>
            <a href="<%= repository.clone_url-%>" class="link_noop"><code><%=h repository.clone_url -%></code></a> 
          <small>
            <%= link_to_help_toggle("detailed_clone_info_#{dom_id(repository)}") -%>
            <%= toggle_more_repository_urls(repository) -%>
            
          </small>
          <div id="detailed_clone_info_<%= dom_id(repository) -%>" class="info_hint" style="display:none">
            <%= t("views.repos.help_clone") %>:<br />
            <code>git clone <%= repository.clone_url -%></code>
          </div>
        </li>
        <% if logged_in? && repository.writable_by?(current_user) -%>
          <li>
            <strong><%= t("views.repos.your_clone_url") %>:</strong>
            <code><%=h repository.push_url -%></code>
          </li>
        <% end -%>
        <li id="repo-<%= repository.id -%>-http-url" style="display:none">
        <% if repository.http_cloning? -%>
          <strong><%= t("views.repos.http_url") %>:</strong> 
          <a href="<%= repository.http_clone_url-%>" class="link_noop"><code><%=h repository.http_clone_url -%></code></a> 
          <small><%= link_to_help_toggle("detailed_http_clone_info_#{dom_id(repository)}") -%></small>
          <div id="detailed_http_clone_info_<%= dom_id(repository) -%>" class="info_hint" style="display:none">
            <%= t("views.repos.help_clone") %>:<br />
              <code>git clone <%= repository.http_clone_url -%></code><br />
              <small>(<%= t("views.repos.help_clone_http") %>)</small>
          </div>
        <% end -%>
        </li>
        <% if logged_in? && current_user.can_write_to?(repository) -%>
          <li id="repo-<%= repository.id -%>-push-url" style="display:none">
            <strong><%= t("views.repos.push_url") %>:</strong> <code><%=h repository.push_url -%></code>
            <small><%= link_to_help_toggle("detailed_push_info_#{dom_id(repository)}") -%></small>
            <div id="detailed_push_info_<%= dom_id(repository) -%>" class="info_hint" style="display:none">
          <%= t("views.repos.help_push", :repo => repository.push_url) %>
      <pre>
      git remote add origin <%= repository.push_url %>
      # to push the master branch to the origin remote we added above:
      git push origin master 
      # after that you can just do:
      git push
      </pre>
            </div>
          </li>
        <% end -%>
      </ul>
    </td>
  </tr>
</table>