<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<table class="repository_meta">
  <tr class="name">
    <td colspan="3" class="<%= repository.mainline? ? "mainline" : "clone" -%>">
      <h2 style="display: inline;">
        <%= link_to h(repository.name), repo_owner_path(repository, [repository.project, repository]) -%>
      </h2>
      <ul class="horizontal" style="position: relative; top: -2px; padding-left: 10px">
        <li class="commit"><%= link_to "Commit log", repo_owner_path(repository, [repository.project, repository, :commits]) -%></li>
        <li class="tree"><%= link_to "Source tree", repo_owner_path(repository, [repository.project, repository, :trees]) -%></li>
        <li class="merge_requests">
          <%= link_to "Merge requests <small>(#{repository.merge_requests.open.count})</small>", repo_owner_path(repository, [repository.project, repository, :merge_requests]) -%>
        </li>
        <% if repository.parent -%>
        <li class="clone">
          <%= link_to "Clone of #{h(repository.parent.name)}", [repository.parent.project, repository.parent] -%>
        </li>
        <% end -%>
      </ul>
    </td>
  </tr>
  <% unless repository.description.blank? -%>
  <tr>
    <td colspan="3" class="repository-description">
      <div class="page">
        <%= paragraphs_with_more auto_link(sanitize(markdown(repository.description)), :urls) -%>
      </div>
    </td>
  </tr>
  <% end -%>
  <tr>
    <td colspan="3" class="infobox">
      <%= render :partial => "repositories/clone_urls", :locals => {:repository => repository} -%>
    </td>
  </tr>
</table>
