<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<li class="clone">
  <div class="name">
    <%= link_to h(repository.name), [repository.owner, repository.project, repository] -%>
  </div>
  <% if repository.owned_by_group? -%>
    <div class="group">
      <%= image_tag(repository.owner.avatar.url(:thumb), :width => "16", :height => "16") %>
      <%= link_to h(repository.owner.name), repository.owner -%>
    </div>
  <% else -%>
    <div class="user">
      <%= avatar(repository.user, :size => 16, :version => "tiny") %>
      <%= link_to h(repository.user.title), repository.user -%>
    </div>
  <% end -%>
</li>