<%
#--
#   Copyright (C) 2007-2009 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.repos.create_title").call(self, @repository_to_clone, @owner) %></h1>

<%= error_messages_for :repository -%>

<% form_for @repository, :repository, 
      :url => create_clone_project_repository_path(@owner, @repository_to_clone) do |f| -%>
  <p>
    <%= f.label :owner, t("views.repos.owner") -%>:
    <br />
    Me: <%= f.radio_button :owner_type, "User" -%>
    Group: <%= f.radio_button :owner_type, "Group" -%>
    <%= f.select :owner_id, current_user.groups.map{|g| [g.name, g.id] }, {},
                  :id => "repository_owner_id_group_select" -%>
    
    <p class="hint">Clone the repository as either yourself or a group you're in</p>
  </p>
  <p>
    <%= f.label :name, t("views.repos.name", :name => current_user.login) -%>:<br />
    <%= f.text_field :name, :class => "text" -%>
  </p>
  <%= f.submit t("views.repos.btn_clone") -%>
<% end -%>

<p><%= t("views.repos.clone_note") %></p>

<% content_for :submenu do -%>
  <li><%= link_to t("views.repos.back"), [@owner, @repository_to_clone] -%>
<% end -%>
