<h1><%= t("views.repos.committers_title", :repo => h(@repository.name), 
            :title => h(@repository.owner.title)) %></h1>

<p class="hint">
  <%= t("views.repos.committers_howto") -%>
</p>

<ol>
<% if @repository.owned_by_group? -%>
  <li>
    <%= link_to h(t("views.repos.committers_manage_group_members", :group => @repository.owner.to_param_with_prefix)), 
            [@repository.owner, :memberships] -%>
  </li>
<% else -%>
  <li>
    <% if @repository.owner === Project -%>
      <%= t("views.repos.current_owner_project", :project_name => @repository.owner.title) -%>
    <% else -%>
      <%= t("views.repos.current_owner_user") -%>
    <% end -%>
    <%= t("views.repos.transfer_owner_howto") -%> <br />
    <%= link_to t("views.repos.transfer_owner"), [:edit, @repository.owner, @repository]  -%>
  </li>
<% end -%>

  <li>
    <%= t("views.repos.add_committer_group") -%> <br />
    <%= link_to "Add/edit a group as committers", [@repository.owner, @repository, :committerships] -%>
  </li>
</ol>

<% content_for :sidebar do -%>
  <%= render :partial => "committers_sidebar" -%>
<% end -%>