<h1>Create a clone of <%= @repository_to_clone.name -%></h1>

<p>
  <em>Notice: Repository clones that haven't had anything pushed to within 
  7 days are automatically removed <br \>
  <small>(just so the project don't end up with lots of empty repositories)</small>.</em>
</p>

<%= error_messages_for :repository -%>

<% form_for @repository, :repository, :url => {:action => "create_copy"} do |f| -%>
  <p>
    <%= f.label :name -%><br />
    <%= f.text_field :name, :class => "text" -%>
  </p>
  <%= f.submit -%>
<% end -%>
