<%
#--
#   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @repository} -%>
<% end -%>

<h1>Editing repository <%= link_to h(@repository.name), [@owner, @repository] -%></h1>

<%= error_messages_for :repository -%>
<% form_for([@owner, @repository]) do |f| -%>
  <p>
    <small class="hint">
      <a href="http://daringfireball.net/projects/markdown/">Markdown</a> and basic html is allowed
    </small><br />
    <%= f.label :description -%>:<br />
    <%= f.text_area :description, :class => "text wide shorter" -%>
  </p>
  <% unless @repository.owned_by_group? -%>
    <p>
      <%= f.label :owner_id, "Transfer ownership to a group <small>(optional)</small>" -%>:<br />
      <%= f.select :owner_id, @groups.map{|g| [g.name, g.id]}, 
            :include_blank => true, :selected => nil -%>
      <br /><small class="hint">
        <strong>Note:</strong> Only change ownership of this repository, if you're 
        absolutely sure you want to give admin and commit access to <em>everyone</em> 
        in the selected group.
      </small>
    </p>
  <% end -%>
  <%= f.submit t("views.repos.btn_edit_repo") -%>
<% end -%>