<h1>Editing repository <%= link_to h(@repository.name), [@owner, @repository] -%></h1>

<%= error_messages_for :repository -%>
<% form_for([@owner, @repository]) do |f| -%>
  <p>
    <small class="hint">
      <a href="http://daringfireball.net/projects/markdown/">Markdown</a> and basic html is allowed
    </small><br />
    <%= f.label :description -%>:<br />
    <%= f.text_area :description, :class => "text wide shorter" -%>
  </p>
  <% unless @repository.owned_by_group? -%>
    <p>
      <%= f.label :owner_id, "Transfer ownership to a group <small>(optional)</small>" -%>:<br />
      <%= f.select :owner_id, @groups.map{|g| [g.name, g.id]}, 
            :include_blank => true, :selected => nil -%>
      <br /><small class="hint">
        <strong>Note:</strong> Only change ownership of this repository, if you're 
        absolutely sure you want to give admin and commit access to <em>everyone</em> 
        in the selected group.
      </small>
    </p>
  <% end -%>
  <%= f.submit t("views.repos.btn_edit_repo") -%>
<% end -%>