<h1>Editing repository <%= link_to h(@repository.name), [@owner, @repository] -%></h1>

<%= error_messages_for :repository -%>
<% form_for([@owner, @repository]) do |f| -%>
  <p>
    <small class="hint">
      <a href="http://daringfireball.net/projects/markdown/">Markdown</a> and basic html is allowed
    </small><br />
    <%= f.label :description -%>:<br />
    <%= f.text_area :description, :class => "text wide tall" -%>
  </p>
  <%= f.submit t("views.repos.btn_edit_repo") -%>
<% end -%>