<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@root) -%>

<h1>Editing repository <%= link_to h(@repository.name), [@owner, @repository] -%></h1>

<%= error_messages_for :repository -%>
<% form_for(repo_owner_path(@repository.reload, [@repository.project, @repository])) do |f| -%>
  <p>
    <%= f.label :description -%>
    <span class="hint">(<%= markdown_hint -%>)</span>:<br />
    <%= f.text_area :description, :class => "text wide medium" -%>
  </p>
  <p>
    <%= f.label :name %>
    <span class="hint">Please note that if you change the name, all URLs will be updated immediately</span> <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :head %>
    <span class="hint">Change the symbolic ref the HEAD in the git repository points to</span>:<br />
    <%= f.select(:head, @heads.map{|h| [h.name, h.name] }, 
          :selected => @repository.head ? @repository.head.name : nil) -%>
  </p>
  <p>
    <%= f.label :deny_force_pushing %>:
    <%= f.check_box :deny_force_pushing %><br />
    <span class="hint">
      Denying force pushing means that pushing non-fastforwards 
      (eg <code>git push -f</code>) is not allowed, it will also
      prevent tag creation (you can toggle this whenever you like)
    </span>
  </p>
  <p>
    <%= f.label :merge_requests_enabled, "Enable merge requests?" -%>
    <%= f.check_box :merge_requests_enabled -%> <br />
    <span class="hint">
      <%= t("views.repos.merge_requests_enabled") -%>
    </span>
  </p>
  <% unless @repository.owned_by_group? -%>
    <p>
      <%= f.label :owner_id, "Transfer ownership to a group <small>(optional)</small>" -%>:<br />
      <%= f.select :owner_id, @groups.map{|g| [g.name, g.id]}, 
            :include_blank => true, :selected => nil -%>
      <br /><small class="hint">
        <strong>Note:</strong> Only change ownership of this repository, if you are
        absolutely sure you want to give admin and commit access to <em>everyone</em> 
        in the selected group.
      </small>
    </p>
  <% end -%>
  <%= f.submit t("views.repos.btn_edit_repo") -%>
<% end -%>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <% if @repository.can_be_deleted_by?(current_user) -%>
      <li class="delete_repository"><%= link_to t("views.repos.btn_delete_repo"), repo_owner_path(@repository, [:confirm_delete, @repository.project, @repository]) -%></li>
    <% end -%>
  </ul>
<% end -%>
