<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%><%
header_level = defined?(header_level) && header_level || 3
@body_class = "gts-private" if repository.private?
ref = defined?(ref) && !ref.nil? ? ref : "HEAD"
has_git_backend = repository.ready? && repository.has_commits?
%><div class="gts-site-header" data-gts-env-repository-view-state-path="/users/view_state/repository/<%= repository.id %>.json">
  <div class="container">
    <div class="row">
      <%= repository_title(repository, header_level) %>
      <div class="pull-right">
        <%= remote_url_selection(app, repository) %>
      </div>
      <div id="repo-url-help" class="collapse gts-help pull-right">
        <%= clone_help(app, repository) %>
      </div>
    </div>
    <% if has_git_backend %>
      <%= repo_navigation(repository, ref, defined?(active) && active) %>
    <% else %>
      <div class="gts-standalone"><p class="gts-repository-admin-ph gts-placeholder"></p></div>
    <% end %>
  </div>
</div>
