<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.repos.page_title", :repo => @project.title) -%>
<h1><%= t("views.repos.title") %></h1>

<% @repositories.each do |repo| -%>
  <table class="repository_meta">
    <tr class="name">
      <td colspan="3" class="<%= repo.mainline? ? "mainline" : "clone" -%>">
        <h2><%= link_to h(repo.name), [@project, repo] -%></h2>
        <%= link_to t("views.repos.commits"), project_repository_logs_path(@project, repo) -%> | 
        <%= link_to t("views.repos.tree"), project_repository_trees_path(@project, repo) -%>
      </td>
    </tr>
    <tr class="meta">
      <td class="commit_count">
        <span class="bignum"><%= repo.events.count -%></span> <%= t("views.repos.activities", :count => repo.events.count) %>
      </td>
      <td class="branch_count">
		<% @branch_count = repo.ready? ? repo.git.heads.size : 0 -%>
        <span class="bignum"><%= @branch_count -%></span> <%= t("views.repos.branches", :count => @branch_count) %>
      </td>
      <td class="author_count">
		<% @author_count = repo.ready? ? repo.commit_graph_data_by_author.keys.size : 0 -%>
        <span class="bignum"><%= @author_count -%></span> <%= t("views.repos.authors", :count => @author_count) %>
      </td>
    </tr>
    <tr class="graph">
      <td colspan="3"><%= commit_graph_tag(repo) %></td>
    </tr>
    <% # TODO: Clone stats -%>
    <% # TODO: divergence from mainline in +/- -%>
  </table>
<% end -%>

<% content_for :sidebar do -%>
  <h4><%= t("views.repos.title") %></h4>
  <ul class="repository_list">
    <% @repositories.each do |repos|-%>
      <li class="<%= repos.mainline? ? "mainline" : "clone" -%>">
        <div class="name">
          <%= link_to h(repos.name), [@project, repos] -%>
        </div>
        <div class="user">
          <%= gravatar(repos.user.email, :size => 16, :style => "tiny") %>
          <%= link_to h(repos.user.login), repos.user -%>
        </div>
      </li>
    <% end -%>
    </li>
  </ul>
<% end -%>
