<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@root) -%>

<h2 class="content-header">Add new repository to <%= link_to h(@owner.title), @owner -%></h2>

<%= error_messages_for :repository -%>
<% form_for([@owner, @repository]) do |f| -%>
<fieldset>
  <li>
    <%= f.label :name -%>
    <div><%= f.text_field :name -%></div>
  </li>
  <li>
    <%= f.label :description -%> 
    <div>
      <%= f.text_area :description, :class => "text wide" -%><br />
      <span class="hint">(<%= markdown_hint -%>)</span>
    </div>
  </li>
  <li>
    <%= f.label :enable_merge_requests -%>
    <div><%= f.check_box :merge_requests_enabled -%><span class="hint" style="float: left;"> <%= t("views.repos.merge_requests_enabled") -%></span></div>
  </li>
</fieldset>
<fieldset class="submit">	  
  <%= f.submit "Create repository" -%>
</fieldset>
<% end -%>
<% content_for :sidebar do -%>
	<h2>Information</h2>
	<p>The repository will be in the <strong><%= link_to h(@project.title), @project -%></strong> project, 
    and owned by <strong><%= link_to h(@repository.owner.title), @repository.owner -%></strong>
    (a <%= @repository.owner.class.human_name.downcase -%>).
  </p>
<% end -%>
