<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<h1>Add new repository to <%= link_to @owner.title, @owner -%></h1>

<%= error_messages_for :repository -%>
<% form_for([@owner, @repository]) do |f| -%>
  <p class="hint">
    The repository will be in the <%= link_to h(@project.title), @project -%> project, 
    and owned by <%= link_to @repository.owner.title, @owner -%> 
    (a <%= @repository.owner.class.human_name.downcase -%>)
  </p>
  <p>
    <%= f.label :name -%>:<br />
    <%= f.text_field :name, :class => "text" -%>
  </p>
  <p>
    <%= f.label :description -%> 
    <span class="hint">(<%= markdown_hint -%>)</span>:<br />
    <%= f.text_area :description, :class => "text shorter" -%>
  </p>
  
  <%= f.submit "Create repository" -%>
<% end -%>