<h1>Add new repository to <%= link_to h(@project.title), project_path(@project) -%></h1>

<%= error_messages_for :repository -%>
<% form_for [@project, @repository] do |f| -%>
  <p>
    <%= f.label :name -%><br />
    <%= f.text_field :name, :class => "text" -%>
  </p>
  <%= f.submit -%>
<% end -%>