<h1>Create a clone of <%= link_to h(@repository_to_clone.name), 
  project_repository_path(@project, @repository_to_clone)  -%> <small>in 
    <%= link_to h(@project.title), project_path(@project) -%></small></h1>

<%= error_messages_for :repository -%>

<% form_for @repository, :repository, 
      :url => create_project_repository_path(@project, @repository_to_clone) do |f| -%>
  <p>
    <%= f.label :name, %Q{Name <small>(eg "#{current_user.login}s-sandbox", "performance-fixes" etc)</small>} -%><br />
    <%= f.text_field :name, :class => "text" -%>
  </p>
  <%= f.submit "Clone repository" -%>
<% end -%>

<p>
  <em><strong>Note:</strong> Repository clones that haven't had anything pushed 
  to them within 7 days are automatically removed (so the project don't end up 
  with lots of empty repositories), so it's a good idea to wait with creating 
  the clone here until there's something to push.</em>
</p>

<% content_for :submenu do -%>
  <li><%= link_to "Back to repository", [@project, @repository_to_clone] -%>
<% end -%>
