<h1>
  <%= h(@repository.name) -%> in 
  <%= link_to h(@repository.project.title), @repository.project -%>
</h1>

<ul class="infobox">
  <li><strong>Project:</strong> <%= link_to h(@repository.project.title), @repository.project -%></li>
  <li><strong>Owner:</strong> <%=h @repository.user.login -%></li>
  <li><strong>Created:</strong> <%= @repository.created_at.to_s(:short) -%></li>
  <li><strong>Mirror url:</strong> <code><%=h @repository.clone_url -%></code></li>
  <li><strong>push url:</strong> <code><%=h @repository.push_url -%></code></li>
</ul>

<p>You can clone this repository with the following command:</p>
<pre>
git clone <%= @repository.clone_url -%>
</pre>

<h2>Recent commits <!-- <small>(<a href="">Browse</a>)</small> --></h2>
<ul>
  <% begin -%>
  <% @recent_commits.each do |commit| -%>
  <li class="commit_item">
    <a href=""><%= truncate(h(commit.sha), 16) -%></a> 
    by <strong><%=h commit.author.name -%></strong> on <%=h commit.author.date -%><br />
    <pre class="commit_message"><%= word_wrap(h(commit.message)) -%></pre>
  </li>
  <% end -%>
  <% rescue Git::GitExecuteError -%>
    <li><em>Error getting data or no commits yet</em></li>
  <% end -%>
</ul>

<% content_for :sidebar do -%>  
  <div class="user_list">
    <% if @repository.user == current_user -%>
    <ul class="links">
    <li><%= link_to "+ Add committer", 
            { :controller => "committers", :action => "new", :project_id => @project, 
              :repository_id => @repository } -%></li>
    </ul>
    <% end -%>
    
    <h4>Committers</h4>    
    <ul>
    <% @repository.committers.each do |user| -%>
      <li>
        <%= link_to h(user.login), user -%> 
        <% if @repository.user == user -%>
        <small>(owner)</small>
        <% end -%>
        <% if @repository.user == current_user -%>
          <small>
          <%= link_to "Remove", 
                { :controller => "committers", :action => "destroy", :id => user.id, 
                  :project_id => @project, :repository_id => @repository}, # FIXME: meh!
                :confirm => "Are you sure?", :method => :delete unless user == current_user -%>
          </small>
        <% end -%>
      </li>
    <% end -%>
    </ul>
  </div>
<% end -%>