<% @page_title = "#{@repository.name} in #{@project.title}" -%>
<h1>
  &quot;<%= h(@repository.name) -%>&quot; repository in 
  <%= link_to h(@repository.project.title), @repository.project -%>
</h1>

<% render_if_ready(@repository) do -%>

  <%= render :partial => "infobox" -%>
  
  <ul class="tab_menu">
    <li class="selected">Recent commits</li>
    <li><%= link_to "comments (#{@comment_count})", project_repository_comments_path(@project, @repository) -%></li>
  </ul>

  <h2>
    Recent commits 
    <small>
      (<%= link_to "Shortlog", project_repository_browse_path(@project, @repository) -%> | 
      <%= link_to "HEAD tree", project_repository_tree_path(@project, @repository, "HEAD", []) -%>)
    </small>
  </h2>
  <ul>
    <% if @commits.blank? -%>
      <li><em>No commits yet…</em></li>
    <% end -%>
    <% @commits.each do |commit| -%>
    <li class="commit_item">
      <a href=""><%= link_to truncate(h(commit.sha), 16), 
        project_repository_commit_path(@project, @repository, commit.sha) -%></a> 
      by <strong><%=h commit.author.name -%></strong> <%=h time_ago_in_words(commit.author.date) -%> ago<br />
      <pre class="commit_message"><%= word_wrap(h(commit.message)) -%></pre>
    </li>
    <% end -%>
  </ul>
  
<% end -%>

<%= render :partial => "submenu" -%>

<% content_for :sidebar do -%>  
  <div class="user_list">    
    <h4>Committers</h4>    
    <ul>
    <% @repository.committers.each do |user| -%>
      <li>
        <%= link_to h(user.login), user -%> 
        <% if @repository.user == user -%>
        <small>(owner)</small>
        <% end -%>
        <% if @repository.user == current_user -%>
          <small>
          <%= link_to "Remove", 
                { :controller => "committers", :action => "destroy", :id => user.id, 
                  :project_id => @project, :repository_id => @repository}, # FIXME: meh!
                :confirm => "Are you sure?", :method => :delete unless user == current_user -%>
          </small>
        <% end -%>
      </li>
    <% end -%>
    </ul>
  </div>
<% end -%>