<h1>
  <%= h(@repository.name) -%> in 
  <%= link_to h(@repository.project.title), @repository.project -%></h1>

<ul>
  <li><strong>Owner:</strong> <%= @repository.user.login -%></li>
  <li><strong>Mirror url:</strong> <%= @repository.url -%></li>
</ul>

<p>
  You can clone this repository with the following command:
  <pre><code>
    git clone <%= @repository.url -%>
  </code></pre>
</p>

<% content_for :sidebar do -%>
  <p><%= link_to "Back to #{@project.title.inspect}", project_path(@project) -%></p>
<% end -%>