<% @page_title = "#{@repository.name} in #{@project.title}" -%>
<h1>
  &quot;<%= h(@repository.name) -%>&quot; repository in <%= h(@repository.project.title) -%>
</h1>

<% render_if_ready(@repository) do -%>

  <%= render :partial => "infobox" -%>
  
  <ul class="tab_menu">
    <li class="selected">Recent commits</li>
    <li><%= link_to "comments (#{@comment_count})", project_repository_comments_path(@project, @repository) -%></li>
  </ul>

  <h2>Recent commits</h2>
  <ul>
    <% if @commits.blank? -%>
      <li><em>No commits yet…</em></li>
    <% end -%>
    <% @commits.each do |commit| -%>
    <li class="commit_item">
      <a href=""><%= link_to commit.id_abbrev, 
        project_repository_commit_path(@project, @repository, commit.id) -%></a> 
      by <strong><%=h commit.committer.name -%></strong> <%=h time_ago_in_words(commit.committed_date) -%> ago
      <div class="commit_message"><%= simple_format(h(commit.message)) -%></div>
    </li>
    <% end -%>
    <li><%= link_to "View more &#x2192;", project_repository_log_path(@project, @repository) -%></li>
  </ul>
  
<% end -%>

<% content_for :sidebar do -%>  
  <ul class="links">
    <% if @repository.ready? -%>
      <li><%= link_to "Clone this repository", new_project_repository_path(@project, @repository) -%></li>
    <% end -%>
    <% if @repository.user == current_user -%>
      <li><%= link_to "Add committer", 
              { :controller => "committers", :action => "new", :project_id => @project, 
                :repository_id => @repository } -%></li>
    <% end -%>
    <% if @repository.can_be_deleted_by?(current_user) -%>
      <li><%= link_to "Delete repository", confirm_delete_project_repository_path(@project, @repository) -%></li>
    <% end -%>
  </ul>
  <div class="user_list">    
    <h4>Committers</h4>    
    <ul>
    <% @repository.committers.each do |user| -%>
      <li>
        <%= link_to h(user.login), user -%> 
        <% if @repository.user == user -%>
        <small>(owner)</small>
        <% end -%>
        <% if @repository.user == current_user -%>
          <small>
          <%= link_to "Remove", 
                { :controller => "committers", :action => "destroy", :id => user.id, 
                  :project_id => @project, :repository_id => @repository}, # FIXME: meh!
                :confirm => "Are you sure?", :method => :delete unless user == current_user -%>
          </small>
        <% end -%>
      </li>
    <% end -%>
    </ul>
  </div>
<% end -%>