<h1>
  <%= h(@repository.name) -%> in 
  <%= link_to h(@repository.project.title), @repository.project -%>
</h1>

<div class="user_list">
  <h4>Committers</h4>

  <ul>
  <% @repository.committers.each do |user| -%>
    <li>
      <%= link_to h(user.login), user -%> 
      <% if @repository.user == user -%>
      <small>(owner)</small>
      <% end -%>
      <% if @repository.user == current_user -%>
        <small>
        <%= link_to "Remove", 
              { :controller => "committers", :action => "destroy", :id => user.id, 
                :project_id => @project, :repository_id => @repository}, # FIXME: meh!
              :confirm => "Are you sure?", :method => :delete unless user == current_user -%>
        </small>
      <% end -%>
    </li>
  <% end -%>
  </ul>
</div>

<p>
  <ul>
    <li><strong>Owner:</strong> <%= @repository.user.login -%></li>
    <li><strong>Mirror url:</strong> <code><%= @repository.clone_url -%></code></li>
    <li><strong>push url:</strong> <code><%= @repository.push_url -%></code></li>
  </ul>
</p>

<p>You can clone this repository with the following command:</p>
<pre>
git clone <%= @repository.clone_url -%>
</pre>

<% content_for :sidebar do -%>
  <ul>
    <li><%= link_to "Back to #{@project.title.inspect}", project_path(@project) -%></li>
    <% if @repository.user == current_user -%>
    <li><%= link_to "Add committer", 
            { :controller => "committers", :action => "new", :project_id => @project, 
              :repository_id => @repository } -%></li>
    <% end -%>
  </ul>
<% end -%>