<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.repos.show_page_title", :repo => @repository.name, :title => @project.title) -%>
<h1><%= t("views.repos.show_title", :repo => h(@repository.name), :title => h(@repository.project.title)) %></h1>

<% render_if_ready(@repository) do -%>

  <%= render :partial => "infobox" -%>
  
  <%#= render_readme(@repository) %>
  
  <h2><%= t("views.repos.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
  <%= render :partial => "events/events", :locals => { :events => @events } -%>
<% end -%>

<% content_for :submenu do -%>
  <%= render :partial => "context_menu" -%>
<% end -%>

<% content_for :sidebar do -%>
  <ul>
    <li><strong><%= t("views.logs.project") %>:</strong> <%= link_to h(@repository.project.title), @repository.project -%></li>
    <li><strong><%= t("views.logs.maintainer") %>:</strong> <%= link_to h(@repository.user.login), user_path(@repository.user) -%></li>
    <% if @repository.parent -%>
    <li><strong><%= t("views.repos.clone_of") %>:</strong> <%= link_to h(@repository.parent.gitdir), project_repository_path(@project, @repository.parent) -%>
    <% end -%>
    <li><strong><%= t("views.repos.created") %>:</strong> <%= @repository.created_at.to_s(:short) -%></li>
  </li>
  
  <ul class="links">
    <% if @repository.ready? -%>
      <li><%= link_to t("views.repos.btn_clone"), clone_project_repository_path(@project, @repository) -%></li>
    <% end -%>
    <% if @repository.writable_by?(current_user) -%>
      <li><%= link_to t("views.repos.btn_request"), new_project_repository_merge_request_path(@project, @repository) -%></li>
    <% end -%>
    <% if @repository.can_be_deleted_by?(current_user) -%>
      <li><%= link_to t("views.repos.btn_delete_repo"), confirm_delete_project_repository_path(@project, @repository) -%></li>
    <% end -%>
  </ul>
  
  <h4><%= t("views.repos.committers") %></h4>    
  <ul>
  <% @repository.committers.each do |user| -%>
    <li>
      <%= link_to h(user.login), user -%> 
      <% if @repository.user == user -%>
      <small>(<%= t("views.repos.owner") %>)</small>
      <% end -%>
    </li>
  <% end -%>
    <% if @repository.owned_by_group? -%>
      <li><small><%= link_to edit_or_show_group_text, group_memberships_path(@repository.owner) -%></small></li>
    <% end -%>
  </ul>

  <% unless @commits.blank? -%>
    <h4><%= t("views.logs.branches") %>:</h4>
    <ul>
      <% @repository.git.branches.each do |branch| -%>
        <% if namespaced_branch?(branch.name) -%>
            <li><%= link_to h(branch.name), project_repository_log_path(@project, @repository, branch.commit.id) -%></li>
        <% else -%>
          <li><%= link_to h(branch.name), project_repository_log_path(@project, @repository, branch.name) -%></li>
        <% end -%>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>
