<h1>
  <%= h(@repository.name) -%> in 
  <%= link_to h(@repository.project.title), @repository.project -%></h1>

<ul>
  <li><strong>Owner:</strong> <%= @repository.user.login -%></li>
  <li><strong>Mirror url:</strong> <%= @repository.clone_url -%></li>
  <li><strong>push url:</strong> <%= @repository.push_url -%></li>
</ul>

<p>
  You can clone this repository with the following command:
  <pre><code>
    git clone <%= @repository.clone_url -%>
  </code></pre>
</p>

<h4>Committers</h4>
<ul>
  <% @repository.committers.each do |user| -%>
    <li>
      <%= link_to h(user.login), user -%> 
      <% if @repository.user == user -%>
      <small>(owner)</small>
      <% end -%>
    </li>
  <% end -%>
</ul>

<% content_for :sidebar do -%>
  <ul>
    <li><%= link_to "Back to #{@project.title.inspect}", project_path(@project) -%></li>
    <li><%= link_to "Add write user" -%></li>
  </ul>
<% end -%>