<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.repos.show_page_title", :repo => @repository.name, :title => @owner.title) -%>

<% render_if_ready(@repository) do -%>

  <%= render :partial => "repositories/statistics", :locals => {:repository => @repository} -%>
  
  <%#= render_readme(@repository) %>
  
  <h2><%= t("views.repos.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
  <%= render :partial => "events/events", :locals => { :events => @events } -%>
<% end -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @repository} -%>
<% end -%>

<% content_for :sidebar do -%>
  <ul>
    <li>
      <strong><%= t("views.repos.project") %>:</strong> 
      <%= link_to h(@repository.project.slug), @repository.project -%>
    </li>    
    <li>
      <strong><%= t("views.repos.owner") %>:</strong> 
      <%= link_to h(@repository.owner.to_param_with_prefix), @repository.owner -%>
      <% if @repository.owned_by_group? -%>
      <small class="hint">
        (through <%= link_to h(@repository.user.to_param_with_prefix), @repository.user -%>)
      </small>
      <% end -%>
    </li>
    <% if @repository.parent -%>
    <li>
      <strong><%= t("views.repos.clone_of") %>:</strong> 
      <%= link_to h(@repository.parent.gitdir), project_repository_path(@owner, @repository.parent) -%>
    </li>
    <% end -%>
    <li>
      <strong><%= t("views.repos.created") %>:</strong> 
      <%= @repository.created_at.to_s(:short) -%>
    </li>
  </ul>
  
  <ul class="links">
    <% if @repository.ready? -%>
      <li><%= link_to t("views.repos.btn_clone"), [:clone, @repository.owner, @repository] -%></li>
    <% end -%>
    <% if @repository.writable_by?(current_user) -%>
      <li><%= link_to t("views.repos.btn_request"), new_project_repository_merge_request_path(@owner, @repository) -%></li>
    <% end -%>
    <% if @repository.can_be_deleted_by?(current_user) -%>
      <li><%= link_to t("views.repos.btn_delete_repo"), confirm_delete_project_repository_path(@owner, @repository) -%></li>
    <% end -%>
    <% if @repository.owner.admin?(current_user) -%>
      <li><%= link_to t("views.repos.btn_edit_repo"), [:edit, @repository.owner, @repository] -%></li>
      <li><%= link_to t("views.repos.btn_manage_committers"), [@repository.owner, @repository, :committerships] -%></li>
    <% end -%>
  </ul>
  
  <%= render :partial => "committers_sidebar" -%>

  <% unless @commits.blank? -%>
    <h4><%= t("views.logs.branches") %>:</h4>
    <ul>
      <% @repository.git.branches.each do |branch| -%>
        <li><%= link_to h(branch.name), project_repository_log_path(@owner, @repository, ensplat_path(branch.name)) -%></li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>
