<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %> - <%= site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/ui3/css/gitorious.css" rel="stylesheet">
    <link href="/ui3/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ui3/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <%= favicon_link_tag %>
  </head>
  <body>
    <div class="gts-masthead navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="gts-logo" href="/"><img src="/ui3/images/gitorious.png" alt="Gitorious" title="Gitorious"></a>
          <div class="pull-right">
            <form action="/search" method="get" class="navbar-search pull-left">
              <input type="search" placeholder="Search" class="search-query span2" name="q">
            </form>
            <div class="pull-right btn-group">
              <a href="/login" class="btn btn-inverse">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gts-repo-header">
      <div class="container">
        <div class="row">
          <% if !repository.parent.nil? %>
            <p class="gts-clone-source">
              <i title="Cloned from <%= repository.parent.project.title %>/<%= repository.parent.name %>" class="icon icon-share-alt"></i>
              Cloned from
              <a href="<%= project_url(repository.parent.project) %>"><%= repository.parent.project.title %></a> /
              <a href="<%= repository_url(repository.parent) %>"><%= repository.parent.name %></a>
            </p>
          <% end %>
          <h2 class="span">
            <!-- TODO: Logo -->
            <a href="<%= project_url(project) %>"><%= project.title %></a> /
            <span><%= repository.name %></span>
          </h2>
        </div>
        <div class="row">
          <div class="span">
            <div class="btn-group gts-repo-urls">
              <%= repo_url_button(repository, :type => "Git", :active => !ssh_cloning?(repository) && git_cloning?(repository)) %>
              <%= repo_url_button(repository, :type => "HTTP", :active => !ssh_cloning?(repository) && !git_cloning?(repository)) %>
              <%= repo_url_button(repository, :type => "SSH", :active => ssh_cloning?(repository)) %>
              <button data-toggle="collapse" data-target="#repo-url-help" class="gts-repo-url-help btn">?</button>
            </div>
          </div>
          <div class="pull-right">
            <a href="<%= download_ref_url(repository, ref) %>" class="btn gts-download" rel="tooltip" data-original-title="Download <%= ref %> as .tar.gz">
              <i class="icon icon-download"></i> Download
            </a>
            <a href="<%= watch_url(repository) %>" class="btn"><i class="icon icon-star-empty"></i> Watch</a>
            <a href="<%= clone_repository_url(repository) %>" class="btn">Clone</a>
          </div>
        </div>
        <div class="collapse gts-help row" id="repo-url-help">
          <div class="alert alert-info span pull-right">
            <p>
              To <strong>clone</strong> this repository:
            </p>
            <pre class="prettyprint">git clone <%= default_clone_url(repository) %></pre>
            <p>
              To <strong>push</strong> to this repository:
            </p>
            <pre class="prettyprint"># Add a new remote
git remote add origin <%= default_clone_url(repository) %>

# Push the master branch to the newly added origin, and configure
# this remote and branch as the default:
git push -u origin master

# From now on you can push master to the "origin" remote with:
git push</pre>
          </div>
        </div>
        <% unless repository.description.blank? %>
          <div class="row gts-description">
            <div class="span">
              <p><%= repository.description %></p>
            </div>
          </div>
        <% end %>
        <%= repo_nav(repository, ref, defined?(path) ? path : "", {
                       :active => defined?(active) ? active : :source,
                       :entries => repo_nav_entries(repository_slug, ref)
                     }) %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <p class="pull-right gts-powered-by">
          <a href="http://gitorious.org">
            <img alt="Powered by Gitorious" src="/ui3/images/powered-by.png" title="Powered by Gitorious">
          </a>
        </p>
        <p>
          Gitorious is free software licensed under
          the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero
            General Public License (AGPL)</a> unless noted otherwise.
        </p>
        <div class="row">
          <div class="span2">
            <ul>
              <li><a href="/about">About Gitorious</a></li>
              <li><a href="http://groups.google.com/group/gitorious">Discussion group</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><a href="http://blog.gitorious.org">Blog</a></li>
              <li><a href="http://en.gitorious.org/tos">Terms of Service</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><a href="http://en.gitorious.org/privacy_policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <p class="gts-footer-blurb">
          <%= footer_blurb %>
        </p>
      </div>
    </div>
    <% if !repository.nil? %>
      <script>var gts = { repository: "<%= repository_url_slug(repository) %>" };</script>
    <% end %>
    <script src="/ui3/dist/gts-ui-deps.js"></script>
    <script src="/ui3/js/components/abbrev.js"></script>
    <script src="/ui3/js/components/url.js"></script>
    <script src="/ui3/js/components/ref-selector.js"></script>
    <script src="/ui3/js/components/tree-history.js"></script>
    <script src="/ui3/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/ui3/js/gitorious.js"></script>
  </body>
</html>
