<%= help_box do %>
  <p>
    Here you can manage the watch settings for the objects you are
    watching. Use the checkbox to toggle email settings. Turning email
    notifications on will send you an email each time something from the
    favorite is put in
    <%= link_to "your news feed", current_user %>
  </p>
<% end %>

<table class="table" data-behavior="favorites-listing">
  <colgroup>
    <col/>
    <col style="width: 20%"/>
    <col style="width: 20%"/>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Email notifications</th>
      <th>Unwatch</th>
    </tr>
  </thead>
  <tbody>
    <% favorites.each do |favorite| %>
      <tr>
        <td>
          <%= link_to_watchable(favorite.watchable) %>
        </td>
        <td class="notification">
          <%= link_to_notification_toggle(favorite) %>
        </td>
        <td class="unwatch">
          <%= link_to_unwatch_favorite(favorite) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
