<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<a name="<%= dom_id(comment) -%>"></a>
<% comment_block(comment) do -%>
  <%- if comment.state_change -%>
  <p class="meta_body">
    &#x2192; State changed <%- if comment.state_changed_from -%>from
    <span class="changed"><%=h comment.state_changed_from %></span><%- end -%> to
    <span class="changed"><%=h comment.state_changed_to %></span>
  </p>
  <%- end -%>
  <div class="body">
    <% unless comment.context.blank? -%>
      <blockquote>
        <pre class="diff-comment-context"><code><%= comment.context %></code></pre>
      </blockquote>
    <% end %>
    <%= render_markdown(comment.body, :auto_link) -%>
  </div>
  <p class="byline">
    <span class="avatar">
      <%= link_to(avatar(comment.user, { :size => 16 }), user_path(comment.user)) %>
    </span>
    <%= link_to(h(comment.user.title), comment.user) -%> |
    <span class="permalink">
      <%= link_to time_ago(comment.created_at), "##{dom_id(comment)}" -%>
    </span>
    <% if comment.applies_to_line_numbers? -%>
      <span class="inline_comment_link">
        on <%= link_to h(comment.path), "##{dom_id(comment,'inline')}" -%>
      </span>
      <span class="link-spinner" id="loading_comment_<%= comment.to_param -%>">
        <%= image_tag("spinner.gif") -%>
      </span>
    <% end -%>
    <%- if comment.editable_by?(current_user) -%>
      <span class="edit_link">
        <%= link_to "Edit comment", "##{dom_id(comment)}",
              "gts:url" => url_for([:edit, @project, @repository, comment]) -%>
      </span>
      <span class="link-spinner" id="loading_comment_editing_<%= comment.to_param -%>">
        <%= image_tag("spinner.gif") -%>
      </span>
    <%- end -%>
  </p>
<% end -%>
