<div class="comment">
  <a name="<%= dom_id(comment) -%>"></a>
  <div class="body"><%= simple_format(sanitize(comment.body)) -%></div>
  <p class="byline">
    <%= link_to(h(comment.user.login), comment.user) -%> | 
    <%= comment.created_at.to_s(:short) -%> 
    <% unless comment.sha1.blank? -%>
    | <%= link_to "on commit #{comment.sha1[0..7]}", project_repository_commit_path(comment.project, comment.repository, comment.sha1) -%> 
    <% end -%>
    | <%= link_to %Q{<abbr title="permalink for this comment">#</abbr>}, 
            project_repository_comments_path(comment.project, comment.repository, :anchor => dom_id(comment)) -%>
  </p>
</div>