<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>


<div class="diff-comment" gts:lines="<%=h comment.lines -%>" id="<%= dom_id(comment,'inline') -%>">
  <div class="byline">
    <span class="avatar">
      <%= link_to(avatar(comment.user, { :size => 16 }), user_path(comment.user)) %>
    </span>
    <%= link_to(h(comment.user.title), comment.user) -%>
  </div>
  <div class="body"><%= render_markdown(comment.body, :auto_link) %></div>
  <div class="timestamp">
    <%= time_ago(comment.created_at) -%>
  </div>
  <% if logged_in? -%>
  <div class="reply">(<a href="#reply">reply</a>)</div>
  <% end -%>
  <div class="clear"></div>
</div>

