<h1>Comments on commit <%= link_to h(@commit.sha), 
  project_repository_commit_path(@project, @repository, @commit.sha) -%></h1>

<p><pre><%=h @commit.message -%></pre></p>

<%= render :partial => "browse/commit_infobox" -%>

<ul class="tab_menu">
  <li><%= link_to "Commit diff", 
      project_repository_commit_path(@project, @repository, @commit.sha) -%></li>
  <li class="selected">Comments (<%= @comments.size -%>)</li>
</ul>

<%= render :partial => @comments -%>

<%= render :partial => "form", :locals => {:sha1 => @commit.sha} -%>