<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = "Comments in #{@repository.name}" -%>
<h1>Comments on commit <%= h(@commit.id[0,7]) -%> in <%= h(@repository.name) -%></h1>

<%= render :partial => "commits/commit_infobox" -%>
<div class="commit_message"><%= simple_format(h(@commit.message)) -%></div>

<ul class="tab_menu">
  <li><%= link_to "Commit diff", 
      project_repository_commit_path(@project, @repository, @commit.id) -%></li>
  <li class="selected">Comments (<%= @comments.size -%>)</li>
</ul>

<%= render :partial => @comments -%>

<%= render :partial => "form", :locals => {:sha1 => @commit.id} -%>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>
