<% @page_title = "Comments on #{@project.title}" -%>
<h1>
  Comments for &quot;<%= h(@repository.name) -%>&quot; repository in <%= h(@repository.project.title) -%>
</h1>

<%= render :partial => "repositories/infobox" -%>

<p>You can clone this repository with the following command:</p>
<% if logged_in? && current_user.can_write_to?(@repository) -%>
  <pre>git clone <%= @repository.push_url -%></pre>
<% else -%>
  <pre>git clone <%= @repository.clone_url -%></pre>
<% end -%>

<ul class="tab_menu">
  <li><%= link_to "Recent commits", project_repository_path(@project, @repository) -%></li>
  <li class="selected">Comments (<%= @comments.size -%>)</li>
  <% if @repository.user == current_user -%>
  <li><%= link_to "merge requests(#{@merge_request_count})", 
            project_repository_merge_requests_path(@project, @repository) -%></li>
  <% end -%>
</ul>

<%= render :partial => @comments -%>

<%= render :partial => "form" -%>