<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.comments.page_title_2", :title => @project.title) -%>
<%= breadcrumbs_from(@repository) -%>


<h1>
  <%= t("views.comments.page_title_3", :repo => h(@repository.name), :title => h(@repository.project.title)) %>
</h1>

<% if @comments.blank? -%>
  <p><em>No comments yet, be the first to add one to a commit</em></p>
<% end -%>

<div class="comments">
<% @comments.each do |comment| -%>
<div class="comment">
  <a name="<%= dom_id(comment) -%>"></a>
  <div class="body"><%= render_markdown(comment.body) -%></div>
  <p class="byline">
    <span class="avatar">
      <%= link_to(avatar(comment.user, { :size => 16 }), user_path(comment.user)) %>
    </span>
    <%= link_to(h(comment.user.login), comment.user) -%> |
    <span class="permalink">
      <%= link_to time_ago(comment.created_at), "##{dom_id(comment)}" -%>
    </span>
    <% unless comment.sha1.blank? -%>
    | on <%= link_to "commit #{comment.sha1[0,7]}",
                repo_owner_path(@repository, :project_repository_commit_path,
                @repository.project, @repository, comment.sha1) + "##{dom_id(comment)}" -%>
    <% end -%>
  </p>
</div>
<% end -%>
</div>
