<% @page_title = "Comments on #{@project.title}" -%>
<h1>
  Comments for &quot;<%= h(@repository.name) -%>&quot; repository in <%= h(@repository.project.title) -%>
</h1>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>

<%= render :partial => "repositories/infobox" -%>

<h3>Comments</h3>
<%= render :partial => @comments -%>
<%= render :partial => "form" -%>