<%
#--
#   Copyright (C) 2013 Gitorious AS
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<br>
<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <% if !user %>
        <p>
          <%= link_to(t("views.sessions.login"), new_sessions_path) -%> or
          <%= link_to(t("views.users.create"), new_user_path) -%> to post a comment.
        </p>
      <% else %>
        <%= error_messages(comment) -%>
        <%= form_for(:comment, {
                :url => new_polymorphic_comment_path(nil, comment),
                :builder => Gitorious::View::FormBuilder,
                :html => { :class => "form-horizontal" }
              }) do |f| -%>
          <fieldset>
            <legend><%= @title = t("views.comments.add_title") %></legend>
            <% id = "markdown-preview-body" %>
            <div id="<%= id %>" class="gts-markdown-preview help-block">
              <div></div>
              <p>
                <%= avatar(user, :version => :thumb, :size => "24") %>
                <a href="<%= user_path(user) %>"><%= user.fullname %></a>
                <%= Time.now.strftime("%H:%M") %>.
              </p>
            </div>
            <div class="control-group">
              <%= f.label(:body, t("views.comments.body"), :class => "control-label") %>
              <div class="controls">
                <%= f.text_area(:body, {
                        :class => "input-xxlarge gts-live-markdown-preview",
                        :"data-gts-preview-target" => id,
                        :rows => 5
                      }) %>
                <p class="help-block">
                  Use <a data-toggle="collapse" data-target="#markdown-help-body" class="dropdown-toggle" href="#markdown-help-body">Markdown</a> for formatting
                </p>
                <%= f.markdown_help(:body) %>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary" type="submit"><%= t("views.comments.add") %></button>
            </div>
          </fieldset>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
