<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<ul class="nav nav-tabs gts-header-nav">
  <li class="pull-right dropdown<%= ' active' if active %>">
    <a href="#" class="dropdown-toggle"><i class="icon-cog"></i> Admin</a>
    <ul class="dropdown-menu">
      <li><a href="<%= edit_group_path(group) %>"><i class="icon-pencil"></i> Edit team</a></li>
      <li><a href="<%= group_path(group) %>" data-method="delete" data-confirm="Are you sure?"><i class="icon-trash"></i> Delete team</a></li>
      <% if Team.can_have_members?(group) %>
        <li><%= link_to t("views.groups.edit_memberships"), [group, :memberships] %></li>
        <li><%= link_to t("views.memberships.add_new_member"),
                new_group_membership_path(group) %></li>
      <% end %>
    </ul>
  </li>
</ul>
