<h1>
  Give a user commit rights to <%= link_to(h(@repository.name), [@repository.project, @repository]) -%>
  <small>(in <%= link_to h(@repository.project.title), @repository.project -%>)</small>
</h1>

<% form_for @committer, 
  :url => {:controller => "committers", :action => "create"}, :method => :post do |f| -%>
  <p>
    <%= f.label :login, "Existing username" -%><br />
    <%= f.text_field :login -%>
    <div id="user_login_auto_complete" class="auto_complete"></div>
  </p>
  <p>
    <%= f.submit "Add as committer" -%>
  </p>
<% end -%>

<%= auto_complete_field("user_login", :url => {:action => "auto_complete_for_user_login" }) -%>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "&#x2190; " + h(@repository.project.title), @repository.project -%></li>
  </ul>
<% end -%>