<h1>
  Give a user commit rights to <%= h(@repository.name) -%>
</h1>

<% form_for @committer, 
  :url => {:controller => "committers", :action => "create"}, :method => :post do |f| -%>
  <p>
    <%= f.label :login, "Existing username <small>(search-as-you-type)</small>" -%><br />
    <%= text_field_with_auto_complete :user, :login, {}, :skip_style => true -%>
  </p>
  <p>
    <%= f.submit "Add as committer" -%> or <%= link_to "cancel", [@repository.project, @repository] -%>
  </p>
<% end -%>
