<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Will <will@gina.alaska.edu>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1>
  Give a user commit rights to <%= h(@repository.name) -%>
</h1>
<style>
  li.committer {
    height: 32px;
  }
  
  li.committer div.image {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;  
  }
  
  li.committer div.name {
    font-weight: bold
    font-size: 12px;
    line-height: 1.2em;
  }
  
  li.committer div.email {
    font-size: 10px;
    color:#888;
  }
</style>
<% form_for @committer, 
  :url => {:controller => "committers", :action => "create"}, :method => :post do |f| -%>
  <p>
    <%= f.label :login, "Existing username <small>(search-as-you-type)</small>" -%><br />
    <%= text_field_with_auto_complete :user, :login, {}, :skip_style => true, :select => :login -%>
  </p>
  <p>
    <%= f.submit "Add as committer" -%> or <%= link_to "cancel", [@repository.project, @repository] -%>
  </p>
<% end -%>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>
