<h1>
  Give a user commit rights to <%= link_to(h(@repository.name), [@repository.project, @repository]) -%>
  <small>(in <%= link_to h(@repository.project.title), @repository.project -%>)</small>
</h1>

<% form_for @committer, 
  :url => {:controller => "committers", :action => "create"}, :method => :post do |f| -%>
  <p>
    <%= f.label :login, "Existing username <small>(search-as-you-type)</small>" -%><br />
    <%= text_field_with_auto_complete :user, :login, {}, :skip_style => true -%>
  </p>
  <p>
    <%= f.submit "Add as committer" -%>
  </p>
<% end -%>

<% content_for :submenu do -%>
  <ul class="links">
    <li><%= link_to "&#x2190; " + h(@repository.project.title), @repository.project -%></li>
  </ul>
<% end -%>