<h1>
  Give a user commit rights to <%= h(@repository.name) -%>
</h1>
<style>
  li.committer {
    height: 32px;
  }
  
  li.committer div.image {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 8px;  
  }
  
  li.committer div.name {
    font-weight: bold
    font-size: 12px;
    line-height: 1.2em;
  }
  
  li.committer div.email {
    font-size: 10px;
    color:#888;
  }
</style>
<% form_for @committer, 
  :url => {:controller => "committers", :action => "create"}, :method => :post do |f| -%>
  <p>
    <%= f.label :login, "Existing username <small>(search-as-you-type)</small>" -%><br />
    <%= text_field_with_auto_complete :user, :login, {}, :skip_style => true, :select => :login -%>
  </p>
  <p>
    <%= f.submit "Add as committer" -%> or <%= link_to "cancel", [@repository.project, @repository] -%>
  </p>
<% end -%>
