<div class="pull-right">
  <%= feed_icon atom_auto_discovery_url %>
</div>
<%= tabbable %w(activities user-activities), :active => 'activities' do %>
  <%= tab_pane :activities, :active => true do %>
    <%= render "users/events", :events => events %>
  <% end %>
  <%= tab_pane :user_activities do %>
    <%= render "users/events", :events => user_events %>
  <% end %>
<% end %>
