<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = "#{current_path.join("/")} - #{@repository.name} in #{@project.title}" -%>
<% @load_syntax_themes = true -%>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>

<ul class="mode_selector">
  <li class="list_header">
    Softwrap mode:
  </li>
  <li>
    <%= link_to_function "Toggle", "Gitorious.Wordwrapper.toggle($$('table#codeblob td.code'))" -%>
  </li>
</ul>

<h1>
  Blob of <code><%= current_path.join("/") -%></code> 
  <small>(<%= link_to "raw blob data", raw_blob_path(@commit.id, current_path) -%>)</small>
</h1>
<!-- <%= @blob.mime_type -%> -->

<%= breadcrumb_path(@repository.name, @commit.id) -%>

<% if @blob.mime_type =~ /^text/ && !too_big_to_render?(@blob.size) -%>
  <% cache(blob_path(@commit.id, params[:path])) do -%>
    <%= render_highlighted(@blob.data, current_path.last || "") -%>
  <% end -%>
<% elsif too_big_to_render?(@blob.size) && @blob.mime_type =~ /^text/ -%>
  <p>
    This file is too big to be rendered within reasonable time, 
    <%= link_to "try viewing the raw data", raw_blob_path(@commit.id, current_path) -%> 
  </p>
<% elsif @blob.mime_type =~ /^image/ -%>
  <% cache(blob_path(@commit.id, params[:path])) do -%>
    <%= image_tag raw_blob_path(@commit.id, current_path) -%>
  <% end -%>
<% else -%>
  <p>
    Not sure we can display this blob nicely (it's a "<%= @blob.mime_type -%>" mimetype), 
    <%= link_to "try viewing the raw data", raw_blob_path(@commit.id, current_path) -%> 
    and see if your browser figures it out.
  </p>
<% end -%>
