<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.blobs.page_title", :path => current_path.join("/"), :repo => @repository.name, :title => @project.title) -%>
<% @load_syntax_themes = true -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @root} -%>
<% end -%>

<ul class="mode_selector">
  <li class="list_header">
    <%= t("views.blobs.wrap") %>:
  </li>
  <li>
    <%= link_to_function t("views.common.toggle"), "Gitorious.Wordwrapper.toggle($$('table#codeblob td.code'))" -%>
  </li>
</ul>

<h1>
  <%= t("views.blobs.title", :path => current_path.join("/")) %>
  <small>(<%= link_to t("views.blobs.raw"), raw_blob_path(@commit.id, current_path) -%>)</small>
</h1>
<!-- <%= @blob.mime_type -%> -->


<% if @blob.mime_type =~ /^text/ && !too_big_to_render?(@blob.size) -%>
  <% cache(blob_path(@commit.id, params[:path])) do -%>
    <%= render_highlighted(@blob.data, current_path.last || "") -%>
  <% end -%>
<% elsif too_big_to_render?(@blob.size) && @blob.mime_type =~ /^text/ -%>
  <p>
	<%= t("views.blobs.too_big").call(self, raw_blob_path(@commit.id, current_path)) %>
  </p>
<% elsif @blob.mime_type =~ /^image/ -%>
  <% cache(blob_path(@commit.id, params[:path])) do -%>
    <%= image_tag raw_blob_path(@commit.id, current_path) -%>
  <% end -%>
<% else -%>
  <p>
	<%= t("views.blobs.message").call(self, @blob.mime_type, raw_blob_path(@commit.id, current_path)) %>
  </p>
<% end -%>
