<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= help_box(:right) do %>
  <p>
    <%= link_to_function("How to apply this merge request to your repository", "$('#detailed_merge_request_integration_help').toggle()", :class => "more_info") -%>
  </p>
  <div id="detailed_merge_request_integration_help" style="display:none">
    <p>
      One way to merge in these changes is to pull them into a local
      branch for review, verifying the changes and then merge to back
      to master.
    </p>
    <pre># Check out a new branch for integration
git checkout -b merge-requests/<%= merge_request.sequence_number %>

# Fetch the merge request into this branch
git pull \
<%= merge_request.target_repository.default_clone_url %> \
<%= merge_request.merge_branch_name %>

# Show the commits, assess they are okay
git log --pretty=oneline --abbrev-commit <%= merge_request.target_branch %>..merge-requests/<%= merge_request.sequence_number %>

# To apply the changes to your branch:
git checkout <%= merge_request.target_branch %>
git merge merge-requests/<%= merge_request.sequence_number %>
git push origin <%= merge_request.target_branch %></pre>
  </div>
<% end %>
