<%
#--
#   Copyright (C) 2012 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@root) -%>
<% if flash[:error] %>
  <h2 class="error">
<% end %>

<h1><%= t("views.repository_memberships.title",
          :repo_name => link_to(h(@content.title), content_path(@content)))  -%></h1>

<% if @memberships.count == 0 %>
  <h2><%= text(:is_public) %></h2>
  <p><%= text(:is_public_description, :site_name => @site_name, :project => @project.title) %><p>
  <p>
    <%= link_to text(:make_private), memberships_path(@content), :method => :post %>
  </p>
<% else %>
  <%= render :partial => "content_memberships/memberships" %>
  
<p>
    <%= link_to("Remove all collaborators",
                { :action => "destroy", :id => "all" },
                :method => :delete, :confirm => "Are you sure? This will delete all #{@memberships.count} members") %>
    to <%= text(:make_public) %>
  </p>
  <%= render :partial => "content_memberships/form" %>
  <% content_for :sidebar do -%>
    <ul class="links actions navigation">
      <li>
        <%= link_to text(:"back_to_#{@class_name}"), content_path(@content) -%>
        <% if admin?(current_user, @repository) -%>
          <li class="add_collaborator"><%= link_to t("views.repos.btn_manage_collaborators"), repo_owner_path(@repository, [@repository.project, @repository, :committerships]) -%></li>
        <% end -%>
      </li>
    </ul>
  <% end -%>
<% end %>
