<%= cache_in_private([:site_index, :newest_projects], :expires_in => 5.minutes) do %>
  <%= pull_box(t("views.site.newest_projects"), :class => "pull-box-510") do %>
    <% if logged_in? %>
      <div class="pull-box-header-action">
        <%= link_to(new_project_path, :class => 'btn btn-primary') do %>
          <i class="icon-white icon-plus-sign"></i>
          <%= t("views.projects.create_new") %>
        <% end %>
      </div>
    <% end %>
    <table class="table">
      <% @projects.each do |project| %>
        <tr class="project">
          <td>
            <%= link_to h(project.title), project %>
            <small class="hint">
              <%= truncate(h(project.stripped_description), :length => 65) %>
            </small>
          </td>
        </tr>
      <% end %>
      <tfoot>
        <tr>
          <td>
            <%= link_to t("views.site.view_more").html_safe, projects_path %>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
<% end %>
