<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%= pull_box 'Commits' do %>
  <table class="table gts-commits-table">
    <colgroup>
      <col class="commit-author-col"/>
      <col class="commit-msg-col"/>
      <col class="sha-col"/>
      <col class="commit-date-col"/>
    </colgroup>
    <% range.each do |commit| %>
      <tr>
        <td>
          <% if commit.committer_user %>
            <%= avatar(commit.committer_user, :size => 16) %>
            <%= link_to commit.actor_display, commit.committer_user %>
          <% else %>
            <%= commit.actor_display %>
          <% end %>
        </td>
        <td>
          <%= commit.short_message %>
        </td>
        <td>
          <%= link_to(commit.short_oid, project_repository_commit_path(repository.project, repository, commit.id)) %>
        </td>
        <td title="<%= commit.committed_date.utc %>">
          <%= time_ago_in_words(commit.committed_date) %> ago
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
