<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.groups.teams") -%></h1>
<ul>
  <% @groups.each do |group| -%>
    <li>
        <%= image_tag(group.avatar.url(:thumb), :alt => "Avatar", :width => "16", :style => "float: left; margin-right: 4px; ") %>
      <p>
		<strong><%= link_to h(group.name), group_path(group) -%></strong>
          (<%= pluralize group.members.count, t("views.groups.member_singular"), t("views.groups.member_plural") -%>,
          <%= pluralize group.repositories.count, t("views.groups.repo_singular"), t("views.groups.repo_plural") -%>)
      </p>
    </li>
  <% end -%>
</ul>

<%= will_paginate @groups -%>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <li class="team_new"><%= link_to t("views.groups.create_team"), new_group_path -%></li>
  </ul>
<% end -%>
