<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<div class="gts-site-header">
  <div class="container">
    <div class="row">
      <h1 class="span"><%= @title = t("views.groups.create_team") %></h1>
    </div>
  </div>
</div>

<div class="container">
  <%= error_messages(group) -%>
  <%= simple_form_for(group, {
          :as => :group,
          :url => groups_path,
          :html => { :class => "form-horizontal", :multipart => true }
        }) do |f| -%>
    <fieldset>
      <%= render(:partial => "form", :locals => { :form => f, :group => group }) -%>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit"><%= t("views.groups.create_team_submit") %></button>
      </div>
    </fieldset>
  <% end %>
</div>
