<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.groups.create_team") -%></h1>

<%= error_messages_for :group -%>
<% form_for @group do |f| -%>
  <p>
    <%= f.label :name, t("views.groups.team_name") -%>:<br />
    <%= f.text_field :name -%>
  </p>
  
  <p>
    <%= f.label :description, t('views.groups.description') -%>:<br />
    <%= f.text_area :description %>
  </p>
  <p class="hint">
    <%= t("views.groups.new_team_after_create_hint") -%>
  </p>

  <% # TODO: be able to add a bunch of members right away -%>
  
  <p><%= f.submit t("views.groups.create_team_submit") -%></p>
<% end -%>