<%
#--
#   Copyright (C) 2012 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@group) -%>


<div class="with_divider">
  <div id="left" class="w-365">
  <% pull_box("Members", :class => "pull-box-365") do -%>
    <%= render :partial => "#{@group.class.name.underscore}_members" %>
  <% end -%>

  <% pull_box("Team repositories", :class => "pull-box-365") do -%></h4>
    <ul class="with_icons">
      <% if @mainlines.empty? -%>
        <li><em>None</em></li>
      <% end -%>
      <% @mainlines.each do |repository| -%>
      <li class="repository">
        <%= link_to "#{h(repository.project.title)}/#{h(repository.name)}",
              group_project_repository_path(@group, repository.project, repository) -%>
        <span class="hint">
          <%= paragraphs_with_more render_markdown(repository.description), repository.id -%>
        </span>
      </li>
      <% end -%>
    </ul>
  <% end -%>
  </div>
  <div id="right" class="w-365">
  <% pull_box("Projects", :class => "pull-box-365") do -%>
    <ul class="with_icons">
      <% if @projects.empty? -%>
        <li><em>None</em></li>
      <% end -%>
      <% @projects.each do |project| -%>
        <li class="project"><%= link_to h(project.title), project -%></li>
      <% end -%>
    </ul>
  <% end -%>

  <% pull_box("Repository clones", :class => "pull-box-365") do -%>
    <ul class="with_icons">
    <% if @clones.empty? -%>
      <li><em>None</em></li>
    <% end -%>
    <% @clones.each do |repository| -%>
      <li class="clone">
        <%= link_to "#{h(repository.project.title)}/#{h(repository.name)}",
              group_project_repository_path(@group, repository.project, repository) -%>
        <div class="hint">
          <%= paragraphs_with_more render_markdown(repository.description), repository.id -%>
        </div>
      </li>
    <% end -%>
    </ul>
  <% end -%>
  </div>
  <div class="clear"></div>
</div>

<h3>Team activity</h3>
<%= render :partial => "events/events", :locals => { :events => @events, :container_css_class => "w-750" } -%>

<% content_for :sidebar do -%>

<h1><%=h @group.name -%></h1>
  <%= render_markdown(@group.description) %>
  <ul id="project-meta">
    <li>
      <%= image_tag @group.avatar.url(:thumb) %>
    </li>
    <% if @group.creator -%>
    <li>
      <strong>Started by:</strong>
      <%= link_to h(@group.creator.title), @group.creator -%>
    </li>
    <% end -%>
    <li>
      <strong>Created:</strong>
      <%= @group.created_at.to_s(:short) -%>
    </li>
  </ul>
  <ul class="links navigation">
    <% if group_admin?(@group, current_user) -%>

      <% if Team.can_have_members?(@group) -%>
        <li><%= link_to t("views.groups.edit_memberships"), [@group, :memberships] -%></li>
        <li><%= link_to t("views.memberships.add_new_member"),
          new_group_membership_path(@group) -%></li>
      <% end -%>
    
      <li><%= link_to t('views.groups.edit_team'), edit_group_path(@group) %></li>
    <% end -%>
  </ul>
<% end -%>
