  <p>
    <%= f.label :login -%><br/>
    <%= f.text_field :login, :class => "text" -%>
  </p>

  <p>
    <%= f.label :email -%><br/>
    <%= f.text_field :email, :class => "text" -%>
  </p>

  <p>
    <%= f.label :password -%><br/>
    <%= f.password_field :password, :class => "text" -%>
  </p>

  <p>
    <%= f.label :password_confirmation -%><br/>
    <%= f.password_field :password_confirmation, :class => "text" %>
  </p>