<%
#--
#   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
#   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2009 Marius Mathiesen <marius.mathiesen@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(Breadcrumb::UserEdit.new(@user)) -%>

<h1><%= t("views.users.edit_title") %></h1>

<%= error_messages_for :user -%>
<% form_for @user, :url => user_path, :html => {:multipart => true} do |f| -%>
  <p>
    <%= f.label :fullname, t("views.users.realname") -%><br />
    <%= f.text_field :fullname -%>
  </p>
  <p>
    <%= f.label :email, t(:email, :scope => 'views.users') -%><br />
    <%= f.text_field :email -%>
  </p>
  <p>
    <%= f.check_box :public_email -%>
    <%= f.label :public_email, t(:public_email, :scope => 'activerecord.attributes.user') -%>
    <span class="hint">
      (The email will be encoded to prevent scraping)
    </span><br />
  </p>
  <p>
    <%= f.label :url, t("views.users.url") -%><br />
    <%= f.text_field :url -%>
  </p>
  <p>
    <%= f.label :url, t("views.users.openid") -%><br />
    <%= f.text_field :identity_url -%>
  </p>
  
  <p>
    <%= f.label :avatar, t('views.users.avatar') %>
    <span class="hint">If you do not add an image, Gitorious will try to use your gravatar </span><br />
    <%= avatar(@user, :version => :thumb, :size => '24') %>

    <%- if @user.avatar? -%>
      <%= button_to_function("Delete current profile image", "if (confirm('Are you sure you want to delete your profile image?')) $('#delete_avatar').submit()") %> <br/>
    <%- end -%>
    <br />

    <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.check_box :wants_email_notifications %>
    <%= f.label :wants_email_notifications, t("views.users.wants_email_notifications") %>
    <span class="hint">
      <%= t("views.users.describe_email_notifications") -%>
    </span>
    <br />
  </p>

  <p>
    <%= f.check_box :default_favorite_notifications %>
    <%= f.label :default_favorite_notifications, t("views.users.default_favorite_notifications") %>
    <span class="hint">
      <%= t("views.users.describe_default_favorite_notifications") %>
    </span>
  </p>
  <%= f.submit t("views.common.save") -%>
<% end -%>

<%- form_for(@user, :url => avatar_user_path, :html => {:id => "delete_avatar", :method => :delete}) do |f| -%>
  
<%- end -%>
