<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
  #   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2009 Marius Mathiesen <marius.mathiesen@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= breadcrumbs_from(Breadcrumb::UserEdit.new(user)) -%>

<div class="container">
  <div class="container-fluid gts-container">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to 'My details', '#my-details', :data => { :toggle => 'tab' } %>
        </li>
        <li>
          <%= link_to 'SSH keys', '#ssh-keys', :data => { :toggle => 'tab' } %>
        </li>
        <li>
          <%= link_to 'Change password', '#change-password', :data => { :toggle => 'tab' } %>
        </li>
        <li>
          <%= link_to 'Manage favorites', '#manage-favorites', :data => { :toggle => 'tab' } %>
        </li>
      </ul>
      <div class="tab-content user-edit-content">
        <div class="tab-pane active" id="my-details">
          <%= render "users/edit/form", :user => user %>
        </div>
        <div class="tab-pane" id="ssh-keys">
          <%= render "users/edit/ssh_keys", :user => user %>
        </div>
        <div class="tab-pane" id="change-password">
          <%= render "users/edit/password_form", :user => user %>
        </div>
        <div class="tab-pane" id="manage-favorites">
          <%= render "users/edit/manage_favorites", :user => user %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var hash = document.location.hash;
  var $nav = $('.nav a[href="'+hash+'"]');

  if (hash && !$nav.parent().hasClass('active')) $nav.tab('show');

  $('.modal-footer a[data-behavior="save"]').on('click', function() {
    $(this).parents('.modal').find('form').submit();
    return false;
  });
});
</script>
