<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Patrick Aljord <patcito@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.users.edit_title") %></h1>
<%= error_messages_for :user -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => Breadcrumb::UserEdit.new(@user)} -%>
<% end -%>

<% form_for @user, :url => user_path do |f| -%>
  <p>
    <%= f.label :fullname, t("views.users.realname") -%><br />
    <%= f.text_field :fullname, :class => "text" -%>
  </p>
  <p>
    <%= f.label :email, t(:email, :scope => 'views.users') -%><br />
    <%= f.text_field :email, :class => "text" -%>
  </p>
  <p>
    <%= f.check_box :public_email -%>
    <%= f.label :public_email, t(:public_email, :scope => 'activerecord.attributes.user') -%>
    <span class="hint">
      (The email will be encoded to prevent scraping)
    </span><br />
  </p>
  <p>
    <%= f.label :url, t("views.users.url") -%><br />
    <%= f.text_field :url, :class => "text" -%>
  </p>
  <p>
    <%= f.label :url, t("views.users.openid") -%><br />
    <%= f.text_field :identity_url, :class => "text" -%>
  </p>
  
  <p>
    <%= f.check_box :wants_email_notifications %>
    <%= f.label :wants_email_notifications, t("views.users.wants_email_notifications") %>
    <span class="hint">
      <%= t("views.users.describe_email_notifications") -%>
    </span>
    <br />
  </p>
  
  <%= f.submit t("views.common.save") -%>
<% end -%>

