<h1>Create new user</h1>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
  <p>
    <%= f.label :login -%><br/>
    <%= f.text_field :login, :class => "text" -%>
  </p>

  <p>
    <%= f.label :email -%><br/>
    <%= f.text_field :email, :class => "text" -%>
  </p>

  <p>
    <%= f.label :password -%><br/>
    <%= f.password_field :password, :class => "text" -%>
  </p>

  <p>
    <%= f.label :password_confirmation -%><br/>
    <%= f.password_field :password_confirmation, :class => "text" %>
  </p>

  <p><%= f.submit 'Sign up' %></p>
<% end -%>
