<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 Patrick Aljord <patcito@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<%= site_header do %>
  <h2>
    <%= @title = "Sign up for #{Gitorious.site_name}" %>
  </h2>
  <p>
    <%= t("views.users.create_description") %>
  </p>
  <%= login_menu(:signup) %>
<% end %>

<div class="container">
  <%= simple_form_for(user, :as => :user, :url => users_path, :html => { :class => "form form-horizontal" }) do |f| -%>
    <%= render :partial => "form", :locals => { :form => f, :user => user } %>
  <% end -%>
</div>
