<%
#--
#   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(Breadcrumb::UserChangePassword.new(@user)) -%>

<h2 class="content-header"><%= t("views.users.chg_passwd_title") %></h2>

<%= error_messages_for :user -%>
<% form_for @user, :url => update_password_user_path, :method => :put do |f| -%>
<fieldset>
  <% unless @user.is_openid_only? %>
    <li>
      <%= f.label :current_password, t(:current_password, :scope => 'activerecord.attributes.user')  -%>
      <div><%= f.password_field :current_password, :class => "text" -%></div>
    </li>
  <% end %>
  <li>
    <%= f.label :password, t("views.users.new_passwd") -%>
    <div><%= f.password_field :password, :class => "text" -%></div>
  </li>   
  <li>    
    <%= f.label :password_confirmation, t("views.users.new_passwd_conf") -%>
    <div><%= f.password_field :password_confirmation, :class => "text" -%></div>
  </li>
</fieldset>
<fieldset class="submit">
  <%= f.submit t("views.users.chg_passwd_action") -%>
</fieldset>
<% end -%>

