<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.users.chg_passwd_title") %></h1>

<%= error_messages_for :user -%>
<% form_for @user, :url => reset_password_path(params[:token]), :method => :put do |f| -%>
  <p>
    <%= f.label :password, t("views.users.new_passwd") -%><br />
    <%= f.password_field :password, :class => "text" -%>
  </p>   
  <p>    
    <%= f.label :password_confirmation, t("views.users.new_passwd_conf") -%><br />
    <%= f.password_field :password_confirmation, :class => "text" -%>
  </p>
  <%= f.submit t("views.users.chg_passwd_action") -%>
<% end -%>