<h1><%=h @user.login -%></h1>

<ul class="infobox">
  <li><strong>Username:</strong> <%= h(@user.login) -%></li>
  <li><strong>Realname:</strong> <%= @user.fullname.blank? ? "N/A" : h(@user.fullname) -%></li>
  <li><strong>Email:</strong> <%= encoded_mail_to(@user.email) -%></li>
  <li><strong>Url:</strong> <a href="<%=h @user.url -%>"><%=h @user.url -%></a></li>
  <li><strong>Member for</strong> <%= time_ago_in_words(@user.created_at) -%></li>
</ul>

<h2>Repositories<small>, per project</small></h2>

<ul>
  <% @repositories.group_by(&:project).each do |project, repositories| -%>
    
    <li>
      <strong><%= link_to h(project.title) , project_url(project) -%></strong> 
      <ul>
        <% repositories.each do |repos| -%>
        <li><%= link_to h(repos.name), project_repository_url(repos.project, repos) -%></li>
        <% end -%>
      </ul>
    </li>
  <% end -%>
  <%= will_paginate(@repositories) -%>
</ul>

<% if current_user && (current_user == @user)  -%>
  <% content_for :sidebar do -%>
    <ul class="links">
      <li><%= link_to "+ Edit your account", edit_account_url -%>
    </ul>
  <% end -%>
<% end -%>