<% @page_title = h(@user.login) -%>

<% unless @events.empty? -%>
  <h2>Activities<%= link_to image_tag("feed.png", :width => 24, :height => 24), @atom_auto_discovery_url %></h2>
  <%= render :partial => "events/events", :locals => { :events => @events } -%>  
<% end -%>

<% content_for :sidebar do -%>
  <h1>
    <%=h @user.login -%> 
    <small><%= @user.fullname.blank? ? "" : "(#{h(@user.fullname)})" -%></small>
  </h1>

  <div style="float: right;"><%= link_to(gravatar(@user.email, { :size => 64 }), :action => "show") %></div>
  <ul>
    <li><strong>Email:</strong> <%= encoded_mail_to(@user.email) -%></li>
    <% if @user.url %>
      <li><strong>Url:</strong> <a href="<%=h @user.url -%>"><%=h @user.url -%></a></li>
    <% end -%>
    <li><strong>Member for</strong> about <%= time_ago_in_words(@user.created_at) -%></li>
    <li><strong><%= @commits_last_week -%></strong> commits so far this week.</li>
  </ul>


  <% unless @projects.blank? -%>
    <h4>Projects:</h4>
    <ul>
    <% @projects.each do |project| -%>
      <li><%= link_to h(project.slug), project -%></li>
    <% end -%>
    </ul>
  <% end -%>
  
  <% unless @repositories.blank? -%>
    <h4>Repository clones</h4>
    <ul>
    <% @repositories.each do |repo| -%>
      <li><%= link_to h(repo.name), [repo.project, repo] -%></li>
    <% end -%>
    </ul>
  <% end -%>
<% end -%>

<% if current_user && (current_user == @user)  -%>
  <% content_for :submenu do -%>
    <li><%= link_to "Edit your account", edit_account_url -%>
  <% end -%>
<% end -%>