<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#   Copyright (C) 2008 Dustin Sallings <dustin@spy.net>
#   Copyright (C) 2008 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = h(@user.login) -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @user} -%>
<% end -%>

<% unless @events.empty? -%>
  <h2><%= t("views.site.dashboard.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
  <%= render :partial => "events/events", :locals => { :events => @events } -%>  
<% end -%>

<% content_for :sidebar do -%>
  <h1>
    <%=h @user.login -%> 
    <small><%= @user.fullname.blank? ? "" : "(#{h(@user.fullname)})" -%></small>
  </h1>

  <div style="float: right;"><%= link_to(gravatar(@user.email, { :size => 64 }), :action => "show") %></div>
  <ul>
    <li><strong>Email:</strong> <%= GitoriousConfig["mangle_email_addresses"] ? encoded_mail_to(@user.email) : mail_to(@user.email) -%></li>
    <% if @user.url %>
      <li><strong>Url:</strong> <a rel="me" href="<%=h @user.url -%>"><%=h @user.url -%></a></li>
    <% end -%>
    <li><strong><%= t("views.users.member_for") %></strong> <%= t("views.users.about", :about => time_ago_in_words(@user.created_at)) %></li>
    <li><strong><%= @commits_last_week -%></strong> <%= t("views.users.this_week", :count => @commits_last_week) %>.</li>
  </ul>
  
  <ul class="links">
    <% if current_user && (current_user == @user)  -%>
      <li class="key"><%= link_to t("views.keys.manage_ssh_keys"), user_keys_path(current_user) -%></li>
      <li class="edit_account"><%= link_to t("views.users.edit_title"), edit_user_url -%>
      <li class="edit_account_password"><%= link_to t("views.users.chg_passwd"), password_user_path -%></li>
    <% end -%>
  </ul>


  <% unless @projects.blank? -%>
    <h4><%= t("views.site.dashboard.projects") %>:</h4>
    <ul>
    <% @projects.each do |project| -%>
      <li><%= link_to h(project.slug), project -%></li>
    <% end -%>
    </ul>
  <% end -%>
  
  <% unless @repositories.blank? -%>
    <h4><%= t("views.site.dashboard.clones") %></h4>
    <ul>
    <% @repositories.each do |repo| -%>
      <li><%= link_to h("#{repo.project.slug}/#{repo.name}"), [repo.project, repo] -%></li>
    <% end -%>
    </ul>
  <% end -%>
<% end -%>
