<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#   Copyright (C) 2008 Dustin Sallings <dustin@spy.net>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tor.arne.vestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = h(@user.login) -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @user} -%>
<% end -%>

<div class="with_divider">
  <div id="left">
    <% pull_box(t("views.site.dashboard.projects")) do -%>
      <ul class="with_icons">
        <% @projects.each do |project| -%>
          <li class="project"><%= link_to h(project.slug), project -%></li>
        <% end -%>
      </ul>
    <% end -%>
  </div>
  <div id="right">
    <% pull_box(t("views.site.dashboard.clones")) do -%>
      <ul class="with_icons">
        <% @repositories.each do |repo| -%>
          <li class="clone"><%= link_to h("#{repo.project.slug}/#{repo.name}"), repo_owner_path(repo, [repo.project, repo]) -%></li>
        <% end -%>
      </ul>
    <% end -%>
  </div>
  <div class="clear"></div>
</div>

<% unless @events.empty? -%>
  <h2><%= t("views.site.dashboard.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
  <%= render :partial => "events/events", :locals => { :events => @events } -%>  
<% end -%>

<% content_for :sidebar do -%>
  <div style="float: right;"><%= link_to(gravatar(@user.email, { :size => 64 }), :action => "show") %></div>
  <h1>
    <%=h @user.login -%> 
    <small><%= @user.fullname.blank? ? "" : "(#{h(@user.fullname)})" -%></small>
  </h1>

  <ul>
    <% if @user.public_email? -%>
    <li class="email">
      <%= mail_to(@user.email, mangled_mail(@user.email), :encode => "javascript") -%>
    </li>
    <% end -%>
    <% if @user.url %>
      <li><a rel="me" href="<%=h @user.url -%>"><%=h @user.url -%></a></li>
    <% end -%>
    <li><%= t("views.users.member_for") %> <%= t("views.users.about", :about => time_ago_in_words(@user.created_at)) %></li>
    <li><strong><%= @commits_last_week -%></strong> <%= t("views.users.this_week", :count => @commits_last_week) %>.</li>
  </ul>
  
  <ul class="links">
    <% if current_user && (current_user == @user)  -%>
      <li class="key"><%= link_to t("views.keys.manage_ssh_keys"), user_keys_path(current_user) -%></li>
      <li class="alias"><%= link_to t("views.aliases.manage_aliases"), user_emails_path(current_user) -%></li>
      <li class="edit_account"><%= link_to t("views.users.edit_action"), edit_user_url -%>
      <li class="edit_account_password"><%= link_to t("views.users.chg_passwd_action"), password_user_path -%></li>
    <% end -%>
  </ul>
  
  <h4>Team memberships</h4>
  <ul class="icon_list">
    <% @user.groups.each do |group| -%>
      <li class="group"><%= link_to h(group.title), group -%>
    <% end -%>
  </ul>
<% end -%>
