<% @page_title = h(@user.login) -%>

<h1>
  <%=h @user.login -%> 
  <small><%= @user.fullname.blank? ? "" : "(#{h(@user.fullname)})" -%></small>
</h1>

<div class="infobox">
<div style="float: right;"><%= link_to(gravatar(@user.email, { :size => 80 }), :action => "show") %></div>
<ul>
  <li><strong>Email:</strong> <%= encoded_mail_to(@user.email) -%></li>
  <li><strong>Url:</strong> <a href="<%=h @user.url -%>"><%=h @user.url -%></a></li>
  <li><strong>Member for</strong> <%= time_ago_in_words(@user.created_at) -%></li>
</ul>
</div>


<div id="left">
<% unless @projects.blank? -%>
  <h2>Projects</h2>
  <ul class="project_list">
  <% @projects.each do |project| -%>
    <li class="project_list_item">
      <%= render :partial => project, :object => project -%>
    </li>
  <% end -%>
  </ul>
<% end -%>
</div>

<div id="right">
<% unless @repositories.blank? -%>
  <h2>Repositories</h2>
  <% @repositories.each do |repos| -%>
    <li>
      <%= link_to h(repos.name), project_repository_url(repos.project, repos) -%> 
      of <%= link_to h(repos.project.title), repos.project -%>
    </li>
  <% end -%>
  </ul>
<% end -%>
</div>

<% if current_user && (current_user == @user)  -%>
  <% content_for :submenu do -%>
    <ul>
      <li><%= link_to "+ Edit your account", edit_account_url -%>
    </ul>
  <% end -%>
<% end -%>