<%
#--
#   Copyright (C) 2012-2014 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<table class="table table-striped">
  <colgroup>
    <col style="width: 120px"/>
    <col/>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>
  <thead>
    <th>Uploaded</th>
    <th>Name</th>
    <th>Algorithm</th>
    <th>Fingerprint</th>
    <th>Ready?</th>
    <th></th>
  </thead>
  <tbody class="gts-tbody-actions">
    <% ssh_keys.each do |ssh_key| %>
      <tr id="ssh-key-<%= ssh_key.id %>" class="<%= cycle('even', 'odd') %>">
        <td><%= l(ssh_key.created_at, :format => :time_and_date) %></td>
        <td><%= truncate(h(ssh_key.comment), :length => 20) %></td>
        <td><%=h ssh_key.algorithm %></td>
        <td>
          <code><%= wbr_middle(h(ssh_key.fingerprint)) %></code>
        </td>
        <td class="icon">
          <%= image_tag(ssh_key.ready? ? "silk/tick.png" : "silk/cross.png",
                        :title => ssh_key.ready? ? 'Ready' : 'Not ready') %>
        </td>
        <td>
          <%= link_to t("views.common.delete"), delete_path[ssh_key],
            :data => { :confirm => t("views.common.confirm") },
            :method => :delete,
            :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
