<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.keys.add_title") %></h1>

<%= error_messages_for :ssh_key -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => current_user} -%>
<% end -%>

<% form_for @ssh_key, :url => user_keys_path() do |f| -%>
  <p>
    <%= f.label :key, t("views.keys.your_public_key") -%><br />
    <small class="hint"><%= t("views.keys.hint") %></small><br />
    <%= f.text_area :key, :class => "text medium" -%>
  </p>
  <%= f.submit t("views.common.save") -%>
<% end -%>

