<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#add-user" data-toggle="tab"><%= t("views.collaborators.add_user") -%></a></li>
    <li><a href="#add-group" data-toggle="tab"><%= t("views.collaborators.add_team") -%></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="add-user">
      <%= text_field(:user, :login, {
              :id => "user_login_autocomplete",
              :class => "input-small",
              :placeholder => t("views.collaborators.user_login")
            }) -%>
      <%= submit_tag(t("views.private_content_read_access.btn_add_read_rights"), :class => "btn btn-primary") -%>
    </div>
    <div class="tab-pane" id="add-group">
      <%= text_field(:group, :name, {
              :id => "group_name_autocomplete",
              :class => "input-small",
              :placeholder => t("views.collaborators.group_name")
            }) -%>
      <%= submit_tag(t("views.private_content_read_access.btn_add_read_rights"), :class => "btn btn-primary") -%>
      <p class="muted"><br><%= t("views.collaborators.add_team_note").html_safe -%></p>
    </div>
  </div>
</div>
