<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Fabio Akita <fabioakita@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#   Copyright (C) 2009 Bill Marquette <bill.marquette@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.trees.page_title", :repo => @repository.name, :title => @project.title) -%>

<%= breadcrumbs_from(@root) -%>

<% cache(tree_path(@commit.id, @path) + @ref) do -%>
  <table class="listing tree">
    <% @tree.contents.sort_by{|c| force_utf8(c.name).downcase}.each do |node| -%>
      <tr class="<%= cycle("odd", "even") -%>">
        <% if node.is_a? Grit::Tree -%>
          <td class="node folder">
            <%= link_to h(node.basename) + "/", tree_path(@ref, node.name) -%>
          </td>
        <% elsif node.is_a? Grit::Submodule -%>
          <td class="node submodule"><a href="#"><%= h(node.basename) -%></a></td>
        <% else -%>
          <td class="node file <%= class_for_filename(node.name)  -%>">
            <%= link_to h(node.basename), blob_path(@ref, node.name).gsub("%2F","/") -%>
          </td>
        <% end -%>
        <% if node.is_a? Grit::Submodule -%>
          <td class="meta"></td>
          <td class="meta commit_message">submodule: <%= h(node.url(@ref)) -%></td>
        <% else -%>
          <% if !too_many_entries_for_log?(@tree) && last_commit = commit_for_tree_path(@repository, node.name) -%>
            <td class="meta"><%= last_commit.committed_date.to_s(:short) -%></td>
            <td class="meta commit_message">
              <%= link_to truncate(h(last_commit.message), :length => 75, :omission => "&hellip;"), commit_path(last_commit.id) -%>
            </td>
          <% else -%>
            <td class="meta"></td>
            <td class="meta commit_message"></td>
          <% end -%>
        <% end -%>
      </tr>
    <% end -%>
  </table>
<% end -%>

<% content_for :sidebar do -%>  
  <ul class="sidebar-meta">
    <li><strong>Repository:</strong>
      <%= link_to(h(@repository.name), repo_owner_path(@repository, :project_repository_path, @repository.project, @repository)) -%>
    </li>
    <li>
      <strong>Project:</strong>
      <%= link_to(h(@repository.project.title), @repository.project) -%>
    </li>
    <li>
      <strong>Owner:</strong>
      <%= link_to(h(@repository.owner.title), @repository.owner) -%>
    </li>
    <li>
      <strong><%= t("views.trees.branch") %>:</strong> 
      <%=h @ref -%>
    </li>
    <li>
      <strong>HEAD:</strong> 
      <%= link_to h(@commit.id[0,7]), commit_path(@commit.id) -%>
    </li>
    <li>
      <strong><%= t("views.logs.head_tree") %>:</strong> 
      <%= link_to h(@commit.tree.id[0,7]), tree_path(branch_with_tree(@commit.id, [])) -%>
    </li>
  </ul>

  <ul class="links navigation">
    <li class="commit">
      <%= link_to "Commit log", repo_owner_path(@repository, :project_repository_commits_in_ref_path, @project, @repository, ensplat_path(@ref)) -%>
    </li>    
    <%= render_download_links(@repository.project, @repository, @ref,
                              :except => :source_tree, :only_list_items => true) -%>
  </ul>
  
  <% cache([tree_path(@commit.id), :tags_and_branches], 
           {:expires_in => 10.minutes}) do -%>

    <ul class="links navigation disable_hover">
      <h5><%= t("views.logs.branches") %>:</h5>
      <%= tree_and_diff_link(@commit, @ref, sorted_git_heads(@git.branches), @project, @repository) %>
    </ul>

    <% unless @git.tags.blank? -%>
      <ul class="links navigation disable_hover">
	      <h5><%= t("views.logs.tags") %>:</h5>
        <%= tree_and_diff_link(@commit, @ref, @git.tags.sort{ |a, b| a.name <=> b.name }, @project, @repository) %>
      </ul>
    <% end -%>
  <% end # cache() -%>
<% end -%>
