<% @page_title = "Tree for #{@repository.name} in #{@project.title}" -%>
<h1>
  Tree of <%= h(@repository.name) -%> repository in <%= h(@project.title) -%>
</h1>

<%= breadcrumb_path(@repository.name) -%>

<% cache(tree_path(@commit.id, params[:path])) do -%>
<table class="listing tree">
  <% @tree.contents.sort_by{|c| c.name.downcase}.each do |node| -%>
  <tr class="<%= cycle("odd", "even") -%>">
    <% if node.is_a? Grit::Tree -%>
      <td class="node tree"><%= link_to h(node.basename) + "/", tree_path(params[:id], node.name) -%></td>
    <% else -%>
      <td class="node file"><%= link_to h(node.basename), blob_path(params[:id], node.name) -%></td>
    <% end -%>
    <% if last_commit = commit_for_tree_path(@repository, node.name) -%>
      <td class="meta"><%= last_commit.committed_date.to_s(:short) -%></td>
      <td class="meta commit_message">
        <%= link_to truncate(h(last_commit.message), 75, "&hellip;"), commit_path(last_commit.id) -%>
      </td>
    <% else -%>
      <td class="meta"></td>
      <td class="meta commit_message"></td>
    <% end -%>
  </tr>
  <% end -%>
</table>
<% end -%>
<% if logged_in? -%>
<p>
  <small><%= link_to "Download as gzipped tarball", archive_tree_path(@commit.id) -%></small>
</p>
<% end -%>

<% content_for :sidebar do -%>  
  <h5>Branches:</h5>
  <ul class="links">
    <% @git.branches.sort{|a, b| a.name <=> b.name }.each do |branch| -%>
    <li><%= link_to h(branch.name), tree_path(branch.name) -%></li>
    <% end -%>
  </ul>

  <h5>Tags:</h5>
  <ul class="links">
  <% @git.tags.sort{|a, b| a.name <=> b.name }.each do |tag| -%>
    <li><%= link_to h(tag.name), commit_path(tag.commit.id) -%></li>
  <% end -%>
  </ul>
<% end -%>

