<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %> - Gitorious</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% Gitorious.stylesheets.each do |stylesheet| %>
      <link href="<%= stylesheet %>" rel="stylesheet" type="text/css">
    <% end %>
    <%= content_for(:head) %>
    <%= csrf_meta_tag %>
  </head>
  <body<%= " class=\"#{@body_class}\"".html_safe if @body_class %>>
    <div class="gts-masthead navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="gts-logo" href="<%= root_path %>"><img src="/ui3/images/gitorious2013.png" alt="Gitorious" title="Gitorious"></a>
          <div class="pull-right">
            <form action="<%= search_path %>" class="navbar-search pull-left" method="get">
              <input type="search" placeholder="Search" class="search-query span2" name="q">
            </form>
            <div class="pull-right btn-group login_button">
              <a href="<%= login_path %>" class="btn btn-inverse"><i class="icon-user icon-white"></i> Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% unless (system_message = Gitorious::Configuration.get("system_message")).blank? -%>
      <%= alerts({ :notice => "<strong>#{t('views.layout.system_notice')}:</strong> #{system_message}" }).html_safe %>
    <% end -%>
    <%= alerts(defined?(flash) ? flash : {}).html_safe %>
    <% if defined?(repository_meta) %>
      <%= partial("repositories/repo_header", {
              :repository => repository_meta,
              :project => repository_meta.project,
              :ref => ref,
              :app => Gitorious,
              :active => :source,
              :header_level => 2
            }) %>
    <% end %>
    <%= yield %>
    <div class="footer">
      <%= partial("layouts/footer") %>
    </div>
    <script data-gts-env-analytics-account="UA-52238-3" data-gts-env-analytics-domain-name=".gitorious.org"></script>
    <% repo = defined?(repository_meta) ? repository_meta : (defined?(repository) ? repository : nil) %>
    <% if repo %>
      <script
        data-gts-env-repository-refs-url="<%= repository_refs_path(:project_id => repo.project, :repository_id => repo) %>"
        data-gts-env-commit-url-template="<%= project_repository_commit_path(repo.project, repo, "%oid%").sub("%oid%", "\#{oid}") %>">
      </script>
    <% end %>
    <% Gitorious.javascripts.each do |javascript| %>
      <script src="<%= javascript %>"></script>
    <% end %>
  </body>
</html>
