<% action, body, category = action_and_body_for_event(event) %>
<li class="event_instance">
  <p class="event_date"><%= event.created_at.strftime("%H:%M") %></p>
  <%= gravatar(event.user.email, :size => 16)  %>
  <p class="event_category <%= category -%>"><%= category.humanize -%></p>
  <div class="event_meta">
    <p>
    <% unless action.empty? %>
      <%= link_to event.user.login, user_path(event.user) %> 
      <%= action %> 
    <% end %>
    </p>
    <div class="<%= event.action == Action::COMMIT ? "commit_message" : "" -%>">
      <%= simple_format(sanitize(body)) %>
    </div>
  </div>
</li>