<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<div class="gts-event">
  <% if event.has_avatar? %>
    <div class="gts-event-actor-avatar">
      <%= avatar(event.user, :size => 24) %>
    </div>
  <% end %>
  <div class="gts-event-content">
    <div class="gts-event-action">
      <% if event.user %>
        <%= link_to(user_path(event.user), :class => 'event-author') do %>
          <%= event.actor %>
        <% end %>
      <% else %>
        <%= event.actor_display %>
      <% end %>
      <%= event.action.html_safe %>
    </div>
    <div class="gts-event-body muted">
      <%= event.body.html_safe if event.body %>
    </div>
  </div>
</div>
