<table class="commits_in_event">
<% @commits.each_with_index do |c, index| %>
  <% if index+1 > Event::MAX_COMMIT_EVENTS -%>
    <tr>
      <td valign="top" class="avatar">
        
      </td>
      <td valign="top">
          <%= link_to("And #{@commit_count - @commits.count} more commits&hellip;",
              repo_owner_path(@repository,
                    :project_repository_commits_in_ref_path, @project,
                    @repository, ensplat_path(@branch_name))) -%>
      </td>
    </tr>
  <% else -%>
    <tr id="<%= dom_id(c) -%>">
      <td valign="top" class="avatar">
        <%= avatar_from_email(c.email, :size => 16)  %>
      </td>
      <td valign="top">
        <p>
          <% if c.user.nil? %>
            <%= c.actor_display %>
          <% else %>
            <%= link_to h(c.user.title), user_path(c.user) %>
          <% end %>
          <strong>committed</strong>
          <%= link_to(c.data[0,8], repo_owner_path(@repository, 
                :project_repository_commit_path, @project, @repository, c.data)) %>
          <span class="timestamp">on <%= c.created_at.to_s(:long) %></span>
        </p>
        <div class="commit_message">
          <%= link_to(simple_format(h(c.body)),
                repo_owner_path(@repository,
                  :project_repository_commit_path, @project, @repository, c.data)) %>
        </div>
      </td>
    </tr>
  <% end -%>
<% end %>
</table>

