<div class="recent_activities_bar">
  <div class="recent_activities_header">
    <div class="recent_activities_header_inner"></div>
  </div>
  
  <% @latest_events.each do |event| %>
    <div class="recent_activity">
      <% action, body, category = action_and_body_for_event(event) %>
      
      <div class="recent_activity_timestamp">
        <div><%= recent_event_timestamp(event.created_at) %></div>
        ago
      </div>
      
      <div class="recent_activity_avatar">
        <%= glossy_homepage_avatar_for_user(event.user) %>
      </div>
  
      <div class="recent_activity_meta">
        <div>
          <% if event.user.nil? %>
            <%= event.actor_display %>
          <% else %>
            <%= link_to h(event.user.title), user_path(event.user) %>
          <% end %>
        </div>
  
        <%= action %>
      </div>
    </div>
  <% end %>
</div>