<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 August Lilleaas <augustlilleaas@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <%= render :partial => "layouts/common_head" %>
</head>

<body id="<%= controller.controller_name -%>">
  <% unless GitoriousConfig["system_message"].blank? -%>
  <div id="system_message">
    <p><strong><%= t("views.layout.system_notice") %>:</strong> <%= GitoriousConfig["system_message"] -%></p>
  </div>
  <% end -%>
  <div id="header">
    <h1 id="logo">
      <%= link_to image_tag("/images/logo-cube-text.png"), root_path -%>
    </h1>

    <ul id="menu">
      <% if GitoriousConfig['public_mode'] || logged_in? -%>
        <li><%= link_to t("views.layout.projects"), projects_path -%></li>
        <li><%= link_to t("views.layout.teams"), groups_path -%></li>
      <% end -%>
      <% if not logged_in? -%>
        <li><%= link_to t("views.layout.about"), about_path -%></li>
      <% end -%>
      <%= render "layouts/login_logout" -%>
    </ul>

    <% if GitoriousConfig['public_mode'] -%>
      <div id="searchbox">
        <%= render :partial => "/searches/search_box" -%>
      </div>
    <% end -%>

    <% if @project && false -%>
    <h2 id="project_title"><%= link_to h(@project.title), @project -%></h2>
    <ul id="submenu" class="<%= @content_for_submenu.blank? ? "white" : "" -%>">
      <li class="<%= submenu_selected_class_if_current?(:overview) -%>">
        <%= link_to t("views.layout.project_overview"),
          project_path(@project), :class => "round-top-5" -%>
      </li>
      <li class="<%= submenu_selected_class_if_current?(:repositories) -%>">
        <%= link_to t("views.layout.repositories"),
          project_repositories_path(@project), :class => "round-top-5" -%>
      </li>
      <li class="<%= submenu_selected_class_if_current?(:pages) -%>">
        <%= link_to t("views.layout.pages"),
          project_page_path(@project, "Home"), :class => "round-top-5" -%>
      </li>
    </ul>
    <% end -%>

	<% if controller.is_a? Admin::UsersController -%>
	<h2 id="project_title"><%= link_to t("views.layout.admin"), '' %></h2>
    <ul id="submenu" class="white">
      <li class="selected">
        <%= link_to t("views.layout.user_mgt"),
          '', :class => "round-top-5" -%>
	  </li>
    </ul>
	<% end -%>
  </div>
  <% unless @content_for_breadcrumbs.blank? -%>
  <ul id="breadcrumbs">
    <%= yield :breadcrumbs -%>
  </ul>
  <% end -%>
  <div id="container" class="<%= @content_for_submenu.blank? ? "" : "in-context-mode" -%>">
    <div id="content" class="<%= sidebar_content? ? "with_sidebar" : "" -%>">
      <%= flashes %>
      <%= yield -%>
    </div>
    <% if sidebar_content? -%>
    <div id="sidebar">
      <%= yield :sidebar -%>
    </div>
    <% end -%>
    <div id="footer">
      <%= render :partial => "layouts/common_footer"  -%>
      <ul class="footer-links">
        <li><%= link_to t("views.layout.home"), root_path -%> | </li>
        <li><%= link_to t("views.layout.about"), about_path -%> | </li>
        <li><%= link_to t("views.layout.faq"), about_page_path(:action => :faq) -%> | </li>
        <li><%= link_to "Contact", contact_path -%> | </li>
        <li><%= link_to t("views.layout.discussion"), "http://groups.google.com/group/gitorious" -%> | </li>
        <li><%= link_to t("views.layout.blog"), "http://blog.gitorious.org" -%></li>
      </ul>
      <% if GitoriousConfig["terms_of_use"] -%>
        <ul class="legal">
	  <li><%= link_to "Terms of Service", GitoriousConfig["terms_of_service_url"] %></li>
          <li><%= link_to "Privacy Policy", GitoriousConfig["privacy_policy_url"] %></li>
        </ul>
      <% end -%>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
