<h1>
  <%= @page.new? ? t("views.common.creating") : t("views.common.editing") -%> 
  <%= t("views.pages.page") -%> <%= link_to h(@page.title), project_page_path(@project, @page.title) -%>
</h1>

<% form_for [@project, @page] do |f| -%>
  <%= f.text_area :content, :class => "text wide tall" -%>
  <%= f.submit -%> 
  <%= t("views.pages.or_back_to_page", 
        :page_link => link_to(@page.title, project_page_path(@project, @page.title))) -%>
<% end -%>