<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2009 Marius Mathiesen <marius.mathiesen@gmail.com>
  #   Copyright (C) 2009 Tor Arne Vestbø <torarnv@gmail.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% type = owner.class.model_name.underscore %>

<%= render "#{type.pluralize}/header", type.to_sym => owner, :active => :wiki %>

<% action = page.new? ? t("views.common.creating") : t("views.common.editing") + " #{t("views.pages.page")}" %>

<% @title = "#{action} #{page.title}" %>
<div class="container" id="gts-pjax-container">
  <h2 class="gts-legend">
    <%= action %> <%= link_to(h(page.title), wiki_page_path(owner, page.title)) %>
  </h2>
  <% if page.new? %>
    <div class="alert">
      <strong>
        The page "<%=h page.title %>" does not exist yet. You can create it below if you like.
      </strong>
    </div>
  <% end %>

  <%= simple_form_for([owner, page], :builder => Gitorious::View::FormBuilder, :class => 'form') do |f| %>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input(:content, :as => 'text', :label => false, :input_html => {
              :class => 'gts-live-markdown-preview',
              :"data-gts-preview-target" => 'markdown-preview-content',
              :rows => 25,
              :style => 'width: 100%'
            }) %>
        <p class="help-block">
          Use <a data-toggle="collapse" data-target="#markdown-help-content" class="dropdown-toggle" href="#markdown-help-content">Markdown</a> for formatting
        </p>
        <%= f.markdown_help(:content) %>
        <%= f.submit(:class => 'btn btn-primary') %>
      </div>
      <div class="span6" id="markdown-preview-content" class="gts-markdown-preview help-block">
        <div></div>
      </div>
    </div>
  <% end %>
</div>
