<%
  #--
  #   Copyright (C) 2011-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% type = owner.class.model_name.underscore %>

<%= render "#{type.pluralize}/header", type.to_sym => owner, :active => :wiki %>

<div class="container">
  <%= render(:partial => "pages/actions", :locals => {
          :owner => owner,
          :active => :git
        }) %>
  <h1><%= @title = "Git access to the wiki" %></h1>
  <p>
    The wiki is a Git repository containing Markdown formatted files/pages. You
    can clone the repository, and if you have access to it, you may even make
    local changes and push them to Gitorious.
  </p>
  <h3>To clone this wiki:</h3>
  <% if show_writable_wiki_url?(wiki_repository, current_user) -%>
    <p><pre>git clone <%= writable_wiki_url(owner) -%></pre></p>
  <% else -%>
    <p><pre>git clone <%= regular_wiki_url(owner) -%></pre></p>
  <% end -%>
</div>
