<h1><%= t("views.pages.history_for", :title => link_to(@page.title, project_page_path(@project, @page.title))) -%></h1>

<% @commits.each do |commit| -%>
  <div class="page-meta page-history">
    <p>
      <%= h(commit.committer.name) -%>
      <%= commit.date.to_s(:short) -%>
    </p>
    <p><em><%= h(commit.message) -%></em></p>
    
    <div class="diff" style="//display:none">
      <% commit.diffs.each do |file| -%>
        <%= render_inline_diff(file.diff) -%>
      <% end -%>
    </div>
  </div>
<% end -%>