<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% type = owner.class.model_name.underscore %>

<%= render "#{type.pluralize}/header", type.to_sym => owner, :active => :wiki %>

<div class="container" id="gts-pjax-container">
  <%= render('pages/actions', :owner => owner, :active => :index) %>
  <h2 class="gts-legend">
    <%= @title = "#{owner.title} Wiki pages" %>

    <div class="pull-right">
      <%= feed_icon atom_auto_discovery_url %>
    </div>
  </h2>
  <ul>
    <% tree_nodes.each do |node| %>
      <li>
        <%= link_to page_node_name(node), wiki_page_path(owner, page_node_name(node)) %>
      </li>
    <% end %>
  </ul>
</div>

<% content_for(:head) do %>
  <%= auto_discovery_link_tag(:atom, atom_auto_discovery_url, :title => @title) %>
<% end %>
