<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% type = owner.class.model_name.underscore %>

<%= render "#{type.pluralize}/header", type.to_sym => owner, :active => :wiki %>

<% @title = h(owner.title) + " - " + h(page.title) + " - " + t("views.layout.pages") %>

<div class="container" id="gts-pjax-container">
  <%= render('pages/actions', :owner => owner, :page => page, :active => :show) %>
  <% toc, content = wikize(page.content) %>
  <div class="pull-right" style="margin: 0 0 20px 20px;">
    <%= format_toc(toc) %>
  </div>
  <div class="gts-markup">
    <%= content %>
  </div>
  <% if commit = page.commit %>
    <p class="muted">
      <%= t("views.pages.last_edited_by", :link_or_name => h(commit.committer.name)) %>
      <%= l(commit.date, :format => :short) %>
    </p>
  <% end %>
</div>
