<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @root} -%>
<% end -%>

<div class="page-header">
  <h1>
    <%= h(@page.title) -%> 
  </h1>
</div>

<%= wikize(@page.content) -%>

<% if commit = @page.commit -%>
  <% content_for :sidebar do -%>
    <ul>
      <li>
        <strong><%= t("views.pages.last_edited_by") %>:</strong> 
        <% if @page.committed_by_user -%>
          <%= link_to(@page.committed_by_user.title, user_path(@page.committed_by_user)) -%>
        <% else -%>
          <%= h(commit.committer.name) -%>
        <% end -%>
        
        <%= commit.date.to_s(:short) -%>
	
	</li>
    </ul>

    <% if logged_in? -%>
      <ul class="links">
        <li class="edit_wiki_page"><%= edit_link(@page) -%></li>
        <li class="wiki_page_history"><%= link_to(t("views.pages.history"), history_project_page_path(@project, @page.title)) -%></li>
      </ul>
    <% end -%>
  <% end -%>
<% end -%>

