<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<div class="gts-site-header">
  <div class="container">
    <div class="row">
      <h2 class="span"><%= @page_title = "Propose new project" %></h2>
    </div>
      <p>
        <strong>Note</strong>: Site admins will be notified of this
        proposal. The project will be created once it has been
        approved by a site admin.
      </p>
  </div>
</div>

<div class="container">
    <%= error_messages(proposal) -%>
    <%= form_for(proposal, {
            :as => :project_proposal,
            :url => { :action => :create },
            :builder => Gitorious::View::FormBuilder,
            :html => { :class => "form-horizontal" }
          }) do |form| -%>
      <fieldset>
        <%= form.text_input_block(:title, t(:title, :scope => "activerecord.attributes.project")) %>
        <%= form.textarea_md_preview(:description, "Description") %>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Submit proposal</button>
        </div>
      </fieldset>
    <% end %>
</div>
