<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Patrick Aljord <patcito@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<ul class="form">
  <fieldset>
    <li>
      <%= form.label :title, t(:title, :scope => 'activerecord.attributes.project') -%>
      <div><%= form.text_field :title -%></div>
    </li>
    <% unless ["edit", "update"].include?(controller.action_name) -%>
      <li>
    	<%= form.label :slug, t(:slug, :scope => 'activerecord.attributes.project') -%>
    	<div><%= form.text_field :slug -%></div>
      </li>
      <li>
	<%= form.current_user_or_group :owner, t("views.projects.owner"),
	    :hint => "Select the owner of this project; either yourself or a group you are a member of"-%>
      </li>
    <% end -%>
    <li>
      <%= form.label :tag_list, t(:tag_list, :scope => 'activerecord.attributes.project') -%>
      <div><%= form.text_field :tag_list -%></div>
    </li>
    <li class="licenses">
      <%= form.label :license, license_label("activerecord.attributes.project") -%>
      <div>
        <%= form.select(:license, project_license_choices,
                        { :selected => (@project.license || ProjectLicense.default) }) -%>
      </div>
    </li>
  </fieldset>
  <fieldset>
    <li>
      <%= form.label :home_url, t(:home_url, :scope => 'activerecord.attributes.project') -%>
      <div> <%= form.text_field :home_url -%></div>
    </li>
    <li>
      <%= form.label :mailinglist_url, t(:mailinglist_url, :scope => 'activerecord.attributes.project') -%>
      <div><%= form.text_field :mailinglist_url -%></div>
    </li>
    <li>
      <%= form.label :bugtracker_url, t(:bugtracker_url, :scope => 'activerecord.attributes.project') -%>
      <div><%= form.text_field :bugtracker_url -%></div>
    </li>
  </fieldset>
  <fieldset>
    <li>
      <%= form.label :wiki_enabled, t(:wiki_enabled, :scope => 'activerecord.attributes.project') -%>
      <div><%= form.check_box :wiki_enabled -%></div>
    </li>
    <% unless form.object.new_record? -%>
      <li>
    	<%= form.label :wiki_permissions, t(:wiki_permissions, :scope => 'activerecord.attributes.repository') -%>
    	<div><%= form.select :wiki_permissions, wiki_permission_choices -%></div>
      </li>
    <% end -%>
  </fieldset>
  <fieldset>
    <li>
      <%= form.label :description, t(:description, :scope => 'activerecord.attributes.project') -%>
      <div><small class="hint"><%= t("views.projects.hint") %></small>
  	<%= form.text_area :description, :class => "text wide tall" -%></div>
    </li>
  </fieldset>
</ul>
