<div class="merge_request_status">
  <%= form.label :name -%>:
  <%= form.text_field :name, :class => "compact" -%>

  <%= form.label :state -%>:
  <%= form.select :state, MergeRequestStatus.default_states,
        {}, :class => "compact" -%>

  <%= form.label :description -%>:
  <%= form.text_field :description, :class => "medium_compact" -%>

  <%= form.label :color -%>:
  <%= form.text_field :color, :class => "compact" -%>

  <%= remove_status_link(form) -%>
</div>