<h4><%= link_to t("views.projects.repos"), project_repositories_path(@project) -%></h4>
<ul class="repository_list">
  <% @project.repositories.mainlines.each do |mainline| -%>
    <li class="mainline">
      <div class="name">
        <strong><%= link_to h(mainline.name), [@project, mainline] -%></strong>
      </div>
      <div class="user">
        <%= gravatar(mainline.user.email, :size => 16, :style => "tiny") %>
        <%= link_to h(mainline.user.login), mainline.user -%>
      </div>
    </li>
  <% end -%>
  <li>
    <h4><%= t("views.repos.by_groups") -%></h4>
    <ul>
      <% @project.repositories.by_groups.each do |repo| -%>
          <%= render :partial => "repositories/repository_sidebar", 
                :locals => {:repository => repo} -%>
      <% end -%>
    </ul>
  </li>
  <li>
    <h4><%= t("views.repos.by_users") -%></h4>
    <ul>
      <% @project.repositories.by_users.each do |repo|-%>
        <%= render :partial => "repositories/repository_sidebar", 
              :locals => {:repository => repo} -%>
      <% end -%>
    <ul>
  </li>
</ul>  
