<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div id="clone-list-container">
<% unless @group_clones.blank? -%>
  <div class="team_clones">
    <h5><%= t("views.repos.by_teams") -%> (<%= @project.repositories.by_groups.count %>)</h5>
    <ul class="repository_list team_clones">
      <% @group_clones.each do |repo| -%>
        <%= render :partial => "repositories/repository_sidebar", 
              :locals => {:repository => repo} -%>
      <% end -%>
    </ul>
  </div>
<% end -%>
<% unless @user_clones.blank? -%>
  <div class="personal_clones">
    <h5><%= t("views.repos.by_users") -%> (<%= @project.repositories.by_users.count %>)</h5>
    <ul class="repository_list">
      <% @user_clones.each do |repo|-%>
      <%= render :partial => "repositories/repository_sidebar", 
      :locals => {:repository => repo} -%>
      <% end -%>
    </ul>
  </div>
<% end -%>

<% if @group_clones.blank? && @user_clones.blank? -%>
  <ul>
    <li class="hint"><%= t("views.projects.no_clones_yet") -%></li>
  </ul>
<% elsif @project.repositories.clones.by_groups.count > 5 ||
     @project.repositories.clones.by_users.count > 5 -%>
    <small style="float:right;"><%= link_to("Show all", clones_project_path(@project),
          :id => "show_all_clones") -%></small>
<% end -%>
</div>
