<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@root) -%>

<h1><%= t("views.projects.edit_slug_title", :link => link_to( h(@project.title), project_path(@project))) -%></h1>

<%= error_messages_for :project -%>
<% form_for(@project, :url => edit_slug_project_path(@project), :method => "put") do |f| -%>

  <div class="info_hint">
    <%= t('views.projects.edit_slug_disclaimer') %>
  </div>
  
  <p>
    <%= f.label :slug, t(:slug, :scope => 'activerecord.attributes.project') -%><br />
    <%= f.text_field :slug -%>
  </p>

  <%= f.submit t("views.projects.update_slug") -%>
<% end -%>


