<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Jonas Fonseca <fonseca@diku.dk>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.projects.update_title", :link => link_to( h(@project.title), project_path(@project))) -%></h1>

<%= error_messages_for :project -%>
<% form_for(@project, :method => "put") do |f| -%>
  <%= render :partial => "form", :locals => {:form => f} -%>
  <%= f.submit t("views.common.update") -%>
<% end -%>

<% content_for :submenu do -%>
  <li class="selected"><%= link_to t("views.projects.edit"), edit_project_path(@project) -%></li>
<% end -%>

<% content_for :sidebar do -%>
  <ul class="links">
    <% if @project.group.admin?(current_user) -%>
      <li><%= link_to t("views.projects.project_members"), group_memberships_path(@project.group) -%></li>
    <% end -%>
    <% if @project.can_be_deleted_by?(current_user) -%>
      <li><%= link_to t("views.projects.delete"), confirm_delete_project_path(@project) -%></li>
    <% end -%>
  </ul>
<% end -%>