<h1>Update <%= link_to h(@project.title), project_path(@project) -%></h1>

<%= error_messages_for :project -%>
<% form_for(@project, :method => "put") do |f| -%>
  <%= render :partial => "form", :locals => {:form => f} -%>
  <%= f.submit "Update" -%>
<% end -%>

<% content_for :submenu do -%>
  <li class="selected"><%= link_to "Edit project", edit_project_path(@project) -%></li>
<% end -%>

<% content_for :sidebar do -%>
  <ul class="links">
    <% if @project.can_be_deleted_by?(current_user) -%>
      <li><%= link_to "Delete project", confirm_delete_project_path(@project) -%></li>
    <% end -%>
  </ul>
<% end -%>