<% @page_title = "Projects" -%>

<ul class="project_list">
<% @projects.each do |project| -%>
  <li>
    <h3><%= link_to project.title, project_path(project) -%></h3>
    <em><%= truncate project.description, 250 -%></em>
  </li>
<% end -%>
</ul>

<%= will_paginate @projects -%>

<% content_for :submenu do -%>
  <ul>
    <li><%= link_to "+ New project", new_project_path -%></li>
  </ul>
<% end -%>

<% content_for :sidebar do -%>  
  <h4>Categories:</h4>
  <ul class="tag_list">
    <% tag_cloud @tags, default_css_tag_sizes do |tag, css_class| %>
      <li><%= link_to h(tag.name), projects_category_path(tag.name), :class => css_class %></li>
    <% end %>
  </ul>
<% end -%>