<% @page_title = @project.title -%>
<h1><%=h @project.title -%></h1>
<p><%= simple_format h(@project.description) -%></p>

<ul class="infobox">
  <li><strong>Owner:</strong> <%= link_to h(@project.user.login), user_path(@project.user) -%></li>
  <li><strong>Created:</strong> <%= @project.created_at.to_s(:short) -%></li>
  <li><strong>Labels:</strong> 
    <%= @project.tag_list.blank? ? "none" : linked_tag_list_as_sentence(@project.tags) -%></li>
  <li><strong>License:</strong> <%= h(@project.license) -%></li>
  <% unless @project.home_url.blank? -%>
  <li><strong>Home:</strong> 
    <%= link_to h(@project.home_url), h(@project.home_url) -%></li>
  <% end -%>
  <% unless @project.mailinglist_url.blank? -%>
  <li><strong>Mailinglist:</strong> 
    <%= link_to h(@project.mailinglist_url), h(@project.mailinglist_url) -%></li>
  <% end -%>
  <% unless @project.bugtracker_url.blank? -%>
  <li><strong>Bugtracker:</strong> 
    <%= link_to h(@project.bugtracker_url), h(@project.bugtracker_url) -%></li>
  <% end -%>
</ul>

<h2>Associated repositories</h2>
<table class="repository_list listing">
  <thead>
    <th>Name</th>
    <th>Owner</th>
    <th>Last Commit</th>
    <th></th>
  </thead>
  <% @repositories.each do |repos| # fixme: need to graph the parent relation proper -%>
    <% if repos.mainline? -%>
      <tr class="<%= cycle("even", "odd") -%> mainline">
        <td class="name">
          <%= link_to h(repos.name), project_repository_path(@project, repos) -%>
        </td>
        <td>
          <%= h(@project.slug) -%> (<%= link_to h(repos.user.login), user_path(repos.user) -%>)
        </td>
        <td>
          <%= repos.last_commit ? repos.last_commit.author.date.to_s(:short) : "<em>none</em>" -%>
        </td>
        <td><%= link_to "browse", project_repository_browse_path(@project, repos) -%></td>
      </tr>
    <% else -%>
      <tr class="<%= cycle("even", "odd") -%> clone">
        <td class="name">
          <%= link_to h(repos.name), project_repository_path(@project, repos) -%>
        </td>
        <td>
          <%= link_to h(repos.user.login), user_path(repos.user) -%>
        </td>
        <td>
          <%= repos.last_commit ? repos.last_commit.author.date.to_s(:short) : "<em>none</em>" -%>
        </td>
        <td><%= link_to "browse", project_repository_browse_path(@project, repos) -%></td>
      </tr>
    <% end -%>
  <% end -%>
</table>

<% content_for :submenu do -%>
  <% if @project.admin?(current_user) -%>
  <ul>
    <li><%= link_to "&#x2192; Edit project", edit_project_path(@project) -%></li>
  </ul>
  <% end -%>
<% end -%>