<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = @project.title -%>
<h1><%=h @project.title -%></h1>

<div class="page">
  <%= auto_link(markdown(sanitize(@project.description)), :urls) -%>
</div>

<% @project.repositories.mainlines.each do |repo| -%>
  <%= render :partial => "repositories/statistics", :locals => {:repository => repo} -%>
<% end -%>

<h2><%= t("views.site.dashboard.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
<%= render :partial => "events/events", :locals => { :events => @events } -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @project} -%>
<% end -%>

<% content_for :sidebar do -%>
    <ul>
      <li><strong><%= t("views.projects.labels") %>:</strong> 
        <%= @project.tag_list.blank? ? "none" : linked_tag_list_as_sentence(@project.tags) -%></li>
      <li><strong><%= t("views.projects.license") %>:</strong> <%= h(@project.license) -%></li>
      <li><strong><%= t("views.projects.owner") %>:</strong> <%= link_to h(@project.user.login), user_path(@project.user) -%></li>
      <li><strong><%= t("views.projects.created") %>:</strong> <%= @project.created_at.to_s(:short) -%></li>
      <% unless @project.home_url.blank? -%>
      <li><strong><%= t("views.projects.website") %></strong> 
        <%= link_to base_url(@project.home_url), h(@project.home_url) -%></li>
      <% end -%>
      <% unless @project.mailinglist_url.blank? -%>
      <li><strong><%= t("views.projects.mailing") %></strong> 
        <%= link_to base_url(@project.mailinglist_url), h(@project.mailinglist_url) -%></li>
      <% end -%>
      <% unless @project.bugtracker_url.blank? -%>
      <li><strong><%= t("views.projects.bugtracker") %></strong> 
        <%= link_to base_url(@project.bugtracker_url), h(@project.bugtracker_url) -%></li>
      <% end -%>
    </ul>
  
    <ul class="links">
      <li class="wiki_page">
        <%= link_to t("views.layout.pages"), project_page_path(@project, "Home") -%>
      </li>
      <% if @project.admin?(current_user) -%>
        <li class="update_project"><%= link_to t("views.projects.settings"), edit_project_path(@project) -%></li>
      <% end -%>
      <% if @project.can_be_deleted_by?(current_user) -%>
        <li class="delete_project"><%= link_to t("views.projects.delete"), confirm_delete_project_path(@project) -%></li>
      <% end -%>
      <li class="project_members">
        <%= link_to t("views.projects.project_members"), 
          group_memberships_path(@project.group) -%>
      </li>
    </ul>
  
    <%= render :partial => "repositories" -%>
  
<% end -%>
