<% @page_title = @project.title -%>
<h1><%=h @project.title -%></h1>

<div class="page">
  <%= auto_link(markdown(sanitize(@project.description)), :urls) -%>
</div>

<ul class="events">
  <h2>Recent Events</h2>
  <% @events.group_by{|e| e.created_at.strftime("%A %B %d") }.each do |day, events| -%>
    <li>
      <p class="date"><%= day -%></p>
      <ul class="event_instances">
        <%= render :partial => events -%>
      </ul>
    </li>
  <% end -%>
</ul>

<% content_for :submenu do -%>
  <% if @project.admin?(current_user) -%>
    <li><%= link_to "Project Settings", edit_project_path(@project) -%></li>
  <% end -%>  
<% end -%>

<% content_for :sidebar do -%>
  <div class="infoboxFU">
    <ul>
      <li><strong>Labels:</strong> 
        <%= @project.tag_list.blank? ? "none" : linked_tag_list_as_sentence(@project.tags) -%></li>
      <li><strong>License:</strong> <%= h(@project.license) -%></li>
      <li><strong>Owner:</strong> <%= link_to h(@project.user.login), user_path(@project.user) -%></li>
      <li><strong>Created:</strong> <%= @project.created_at.to_s(:short) -%></li>
      <% unless @project.home_url.blank? -%>
      <li><strong>Website at </strong> 
        <%= link_to base_url(@project.home_url), h(@project.home_url) -%></li>
      <% end -%>
      <% unless @project.mailinglist_url.blank? -%>
      <li><strong>Mailinglist at </strong> 
        <%= link_to base_url(@project.mailinglist_url), h(@project.mailinglist_url) -%></li>
      <% end -%>
      <% unless @project.bugtracker_url.blank? -%>
      <li><strong>Bugtracker at </strong> 
        <%= link_to base_url(@project.bugtracker_url), h(@project.bugtracker_url) -%></li>
      <% end -%>
    </ul>
  </div>
  
  <h4><%= link_to "Repositories", project_repositories_path(@project) -%></h4>
  <ul class="repository_list">
    <li class="mainline">
      <div class="name">
        <strong><%= link_to h(@mainline_repository.name), [@project, @mainline_repository] -%></strong>
      </div>
      <div class="user">
        <%= gravatar(@mainline_repository.user.email, :size => 16, :style => "tiny") %>
        <%= link_to h(@mainline_repository.user.login), @mainline_repository.user -%>
      </div>
    </li>
      <ul>
      <% @repositories.each do |repos|-%>
        <li class="clone">
          <div class="name">
            <%= link_to h(repos.name), [@project, repos] -%>
          </div>
          <div class="user">
            <%= gravatar(repos.user.email, :size => 16, :style => "tiny") %>
            <%= link_to h(repos.user.login), repos.user -%>
          </div>
        </li>
      <% end -%>
      <ul>
    </li>
  </ul>  
<% end -%>
