<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = @project.title -%>
<%= breadcrumbs_from(@root) -%>
<div class="content-container w-750" id="project-description">
  <h1><%=h @project.title -%></h1>
  <%= paragraphs_with_more(render_markdown(@project.description, :auto_link), @project.id) -%>
</div>
<div class="content-container w-750" id="repositories">
  <% @project.repositories.mainlines.each do |repo| -%>
    <%= render :partial => "repositories/overview", :locals => {:repository => repo} -%>
  <% end -%>
</div>
<div class="content-container w-750" id="activities">
  <h2><%= t("views.site.dashboard.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
  <%= render :partial => "events/events", :locals => {  :events => @events, :container_css_class => "w-750"  } -%>
</div>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <% if @project.wiki_enabled? -%>
      <li class="wiki_page"> <!-- Create / Open Wiki -->
	<%= link_to t("views.layout.pages"), project_page_path(@project, "Home") -%>
      </li>
    <% end -%>
    <% if @project.owned_by_group? -%>
      <li class="project_members">
        <%= link_to t("views.projects.project_members"),
            group_memberships_path(@project.owner) -%>
      </li>
    <% end -%>
    <% if @project.admin?(current_user) -%>
      <li class="new_repository"><%= link_to t("views.projects.add_repository"), new_project_repository_path(@project) -%></li>
      <li class="update_project"><%= link_to t("views.projects.edit"), edit_project_path(@project) -%></li>
    <% end -%>
    <%- if logged_in? && current_user.site_admin? && GitoriousConfig["is_gitorious_dot_org"] -%>
      <li>
	<%= link_to t('views.projects.edit_oauth_settings'), edit_admin_oauth_settings_path(@project) %>
      </li>
    <%- end -%>
  </ul>
  <%= render :partial => "meta" %>
  <% benchmark("Repositories (sidebar)") do  -%>
    <h3>
      <%= link_to t("views.projects.repository_clones"),
          project_repositories_path(@project) -%>
    </h3>
    <% if show_clone_list_search?(@group_clones, @user_clones) -%>
      <%= render :partial => "repositories/clone_list_search", :locals => {
            :path => project_repositories_path(@project, :format => 'json')
          } -%>
    <% end -%>
    <%= render :partial => "repositories" -%>
  <% end -%>
<% end -%>
