<h1><%= @project.title -%></h1>
<p><%= @project.description -%></p>

<ul class="infobox">
  <li><strong>License:</strong> <%= h(@project.license) -%></li>
  <% unless @project.home_url.blank? -%>
  <li><strong>Home:</strong> 
    <%= link_to h(@project.home_url), h(@project.home_url) -%></li>
  <% end -%>
  <% unless @project.mailinglist_url.blank? -%>
  <li><strong>Mailinglist:</strong> 
    <%= link_to h(@project.mailinglist_url), h(@project.mailinglist_url) -%></li>
  <% end -%>
  <% unless @project.bugtracker_url.blank? -%>
  <li><strong>Bugtracker:</strong> 
    <%= link_to h(@project.bugtracker_url), h(@project.bugtracker_url) -%></li>
  <% end -%>
</ul>

<h2>Associated repositories</h2>
<table class="repository_list listing">
  <thead>
    <th>Name</th>
    <th>Owner</th>
    <th>Created</th>
  </thead>
  <% @repositories.each do |repos| -%>
  <tr class="<%= cycle("even", "odd") -%><%= repos.mainline? ? ' mainline' : '' -%>">
    <td>
      <%= link_to h(repos.name), project_repository_path(@project, repos) -%>
      <% if repos.mainline? -%> <small><em>(Mainline)</em></small><% end -%>
    </td>
    <td>
      <% if repos.mainline? -%>
        <%= h(repos.name) -%> (<%= h(repos.user.login) -%>)
      <% else -%>
        <%= h(repos.user.login) -%>
      <% end -%>
    </td>
    <td>
      <%= repos.created_at.to_s(:short) -%>
    </td>
  </tr>
  <% end -%>
</table>

<% content_for :sidebar do -%>
  <% if @project.user == current_user -%>
  <ul class="links">
    <li><%= link_to "+ Add repository", new_project_repository_path(@project) -%></li>
    <li><%= link_to "Edit project", edit_project_path(@project) -%></li>
  </ul>
  <% end -%>
<% end -%>