<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = @project.title -%>
<h1><%=h @project.title -%></h1>

<div class="page">
  <%= auto_link(markdown(sanitize(@project.description)), :urls) -%>
</div>

<h2><%= t("views.site.dashboard.activities") %> <%= feed_icon @atom_auto_discovery_url %></h2>
<%= render :partial => "events/events", :locals => { :events => @events } -%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs" -%>
<% end -%>

<% content_for :sidebar do -%>
    <ul>
      <li><strong><%= t("views.projects.labels") %>:</strong> 
        <%= @project.tag_list.blank? ? "none" : linked_tag_list_as_sentence(@project.tags) -%></li>
      <li><strong><%= t("views.projects.license") %>:</strong> <%= h(@project.license) -%></li>
      <li><strong><%= t("views.projects.owner") %>:</strong> <%= link_to h(@project.user.login), user_path(@project.user) -%></li>
      <li><strong><%= t("views.projects.created") %>:</strong> <%= @project.created_at.to_s(:short) -%></li>
      <% unless @project.home_url.blank? -%>
      <li><strong><%= t("views.projects.website") %></strong> 
        <%= link_to base_url(@project.home_url), h(@project.home_url) -%></li>
      <% end -%>
      <% unless @project.mailinglist_url.blank? -%>
      <li><strong><%= t("views.projects.mailing") %></strong> 
        <%= link_to base_url(@project.mailinglist_url), h(@project.mailinglist_url) -%></li>
      <% end -%>
      <% unless @project.bugtracker_url.blank? -%>
      <li><strong><%= t("views.projects.bugtracker") %></strong> 
        <%= link_to base_url(@project.bugtracker_url), h(@project.bugtracker_url) -%></li>
      <% end -%>
    </ul>
  
    <ul class="links">
      <% if @project.admin?(current_user) -%>
        <li class="update_project"><%= link_to "Edit project settings", edit_project_path(@project) -%></li>
      <% end -%>
      <% if @project.can_be_deleted_by?(current_user) -%>
        <li class="delete_project"><%= link_to "Delete project", confirm_delete_project_path(@project) -%></li>
      <% end -%>
      <li class="wiki_page">
        <%= link_to t("views.layout.pages"), 
          project_page_path(@project, "Home"), :class => "round-top-5" -%>
      </li>
    </ul>
  
  <h4><%= link_to t("views.projects.repos"), project_repositories_path(@project) -%></h4>
  <ul class="repository_list">
    <li class="mainline">
      <div class="name">
        <strong><%= link_to h(@mainline_repository.name), [@project, @mainline_repository] -%></strong>
      </div>
      <div class="user">
        <%= gravatar(@mainline_repository.user.email, :size => 16, :style => "tiny") %>
        <%= link_to h(@mainline_repository.user.login), @mainline_repository.user -%>
      </div>
    </li>
      <ul>
      <% @repositories.each do |repos|-%>
        <li class="clone">
          <div class="name">
            <%= link_to h(repos.name), [@project, repos] -%>
          </div>
          <div class="user">
            <%= gravatar(repos.user.email, :size => 16, :style => "tiny") %>
            <%= link_to h(repos.user.login), repos.user -%>
          </div>
        </li>
      <% end -%>
      <ul>
    </li>
  </ul>  
<% end -%>
