<%  email_user = RepositoriesHelper.users_by_commits(@commits) %>
<ul>
<% @commits.each do |commit| -%>
<% user = email_user[commit.committer.email] %>
<li class="commit_item">
  <a href=""><%= link_to h(commit.id_abbrev), 
    project_repository_commit_path(@project, @repository, commit.id) -%></a> 
  by <strong><%=h commit.committer.name -%></strong><small> <%= user ? "[#{link_to user.login, user_path(user)}]" : "" -%></small> <%=h time_ago_in_words(commit.committed_date) -%> ago
  <div class="commit_message"><%= simple_format(h(commit.message)) -%></div>
</li>
<% end -%>
<li class="link_to_more">
  <span>
  <% unless params[:page].blank? || [0,1].include?(params[:page].to_i) -%>
    <%= link_to "&#x2190; previous", log_path(:page => params[:page].to_i-1) -%> | 
  <% end -%>
  <%= link_to "next &#x2192;", log_path(:page => (params[:page].blank? ? 2 : params[:page].to_i+1)) -%>
  </span>
</li>
</ul>