<% @page_title = "#{current_path.join("/")} - #{@repository.name} in #{@project.title}" -%>
<% @load_syntax_themes = true -%>

<ul class="mode_selector">
  <li class="list_header">
    Softwrap mode:
  </li>
  <li>
    <%= link_to_function "Toggle", "Gitorious.Wordwrapper.toggle($$('table#codeblob td.code'))" -%>
  </li>
</ul>

<h1>
  Blob of <code><%= current_path.join("/") -%></code> 
  <small>(<%= link_to "raw blob data", raw_blob_path(@commit.id, current_path) -%>)</small>
</h1>

<%= breadcrumb_path(@repository.name, @commit.id) -%>

<% cache do -%>
  <%= render_highlighted(@blob.data, current_path.last || "") -%>
<% end -%>
