<% @page_title = "Commit in #{@repository.name} in #{@project.title}" -%>

<h1>Commit <%=h @commit.sha -%></h1>

<div class="commit_message"><%= simple_format(h(@commit.message)) -%></div>
<%= render :partial => "commit_infobox" -%>

<ul class="tab_menu">
  <li class="selected">Commit diff</li>
  <li><%= link_to "Comments (#{@comment_count})", 
            project_repository_commit_comment_path(@project, @repository, @commit.sha) -%></li>
</ul>



<% if @diff.blank? -%>
  <p>
    This is the initial commit in this repository, 
    <%= link_to "browse the initial tree state", tree_path(@commit.gtree.sha) -%>.
  </p>
<% else -%>
  <%= render_diff_stats(@diff.stats) -%>
  <h2>Commit diff</h2>
  <%= render_diffmode_selector -%>
  <% @diff.each do |file, index| -%>
    <a name="<%= h(file.path) -%>"></a>
    <h4><%= h(file.path) -%><%#=link_to h(file.path), blob_path(file.sha, file.path) -%></h4>
    <%= render_diff(file.patch, file.src, file.dst, @diffmode) -%>
  <% end -%>
<% end -%>
