<% @page_title = "Commit in #{@repository.name} in #{@project.title}" -%>

<h1>Commit <%=h @commit.sha -%></h1>

<p><pre><%=h @commit.message -%></pre></p>

<%= render :partial => "commit_infobox" -%>

<ul class="tab_menu">
  <li class="selected">Commit diff</li>
  <li><%= link_to "Comments (#{@comment_count})", 
            project_repository_commit_comment_path(@project, @repository, @commit.sha) -%></li>
</ul>

<% #TODO: commit diff stats (as sparklines?) -%>

<% if @diff.blank? -%>
  <p>
    This is the initial commit in this repository, 
    <%= link_to "browse the initial tree state", tree_path(@commit.gtree.sha) -%>.
  </p>
<% else -%>
  <h2>Commit diff</h2>
  <%= render_diffmode_selector -%>

  <% @diff.each do |file| -%>
    <h4><%= h(file.path) -%><%#=link_to h(file.path), blob_path(file.sha, file.path) -%></h4>
    <%= render_diff(file.patch, file.src, file.dst, @diffmode) -%>
    <small><%= link_to_function "toggle raw diff", "$('#{file.object_id}').toggle()" -%></small>
    <div class="toggle_diff" style="display:none" id="<%= file.object_id -%>">
    <p><pre><%=  h(file.patch) -%></pre></p>
    </div>
  <% end -%>
<% end -%>

<%= render :partial => "submenu" -%>