<h1>
  Browsing <%= link_to h(@repository.name), project_repository_path(@project, @repository) -%> 
  repository in <%= link_to h(@project.title), project_path(@project) -%>
</h1>

<ul class="infobox">
  <li><strong>Owner (per git-config):</strong> <%=h @git.config["user.name"] -%> (<%=h @git.config["user.email"] -%>)</li>
  <li><strong>Creator:</strong> <%= link_to h(@repository.user.login), @repository.user -%></li>
</ul>

<h2>shortlog</h2>
<table class="listing shortlog">
  <% @commits.each do |commit| -%>
  <tr class="<%= cycle "odd", "even" -%>">
    <td><%= link_to h(commit.sha[0..8]), tree_path(commit.sha) -%></td>
    <td><%=h commit.date.strftime("%Y-%m-%d %H:%M") -%></td>
    <td><%=h commit.author.name -%></td>
    <td>
      <%= link_to h(truncate(commit.message, 85)), commit_path(commit.sha) -%>
      <%= render_tag_box_if_match(commit.sha, @tags_per_sha) -%>
    </td>
    <td><%= link_to "commit", commit_path(commit.sha) -%></td>
    <td><%= link_to "tree", tree_path(commit.gtree.sha) -%></td>
    <!-- <td>archive (<%= commit.gtree.sha -%>)</td> -->
  </tr>
  <% end -%>
</table>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "&#x2190; Repository page", 
              project_repository_path(@project, @repository) -%></li>
    <li><%= link_to "&#x2190; Project page", 
              project_path(@project) -%></li>
  </ul>
  
  <h5>Branches:</h5>
  <ul class="links">
    <% @git.branches.each do |branch| -%>
    <li><%= link_to h(branch.name), commit_path(branch.gcommit.sha) -%></li>
    <% end -%>
  </ul>

  <h5>Tags:</h5>
  <ul class="links">
  <% @git.tags.each do |tag| -%>
    <li><%= link_to h(tag.name), commit_path(tag.sha) -%></li>
  <% end -%>
  </ul>
<% end -%>