<h1>
  Browsing <%= link_to h(@repository.name), project_repository_path(@project, @repository) -%> 
  repository in <%= link_to h(@project.title), project_path(@project) -%>
</h1>

<h2>Info</h2>
<ul class="infobox">
  <li><strong>owner:</strong> <%=h @git.config["user.name"] -%></li>
  <li><strong>email:</strong> <%=h @git.config["user.email"] -%></li>
</ul>

<h2>shortlog</h2>
<table class="listing">
  <% @git.log(20).each do |log| -%>
  <tr class="<%= cycle "odd", "even" -%>">
    <td><%=h log.date.strftime("%Y-%m-%d %H:%M") -%></td>
    <td><%=h log.sha[0..8] -%></td>
    <td><%=h log.author.name -%></td>
    <td>
      <%= link_to h(truncate(log.message, 60)), commit_path(log.sha) -%>
      <%= render_tag_box_if_match(log.sha, @tags_per_sha) -%>
    </td>
    <td><%= link_to "commit", commit_path(log.sha) -%></td>
    <td><%= link_to "tree", tree_path(log.gtree.sha) -%></td>
    <!-- <td>archive (<%= log.gtree.sha -%>)</td> -->
  </tr>
  <% end -%>
</table>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "&#x2190; repository page", 
              project_repository_path(@project, @repository) -%></li>
    <li><%= link_to "&#x2190; project page", 
              project_path(@project) -%></li>
  </ul>
  
  <h5>Branches:</h5>
  <ul class="links">
    <% @git.branches.each do |branch| -%>
    <li><%= link_to h(branch.name), commit_path(branch.gcommit.sha) -%></li>
    <% end -%>
  </ul>

  <h5>Tags:</h5>
  <ul class="links">
  <% @git.tags.each do |tag| -%>
    <li><%= link_to h(tag.name), commit_path(tag.sha) -%></li>
  <% end -%>
  </ul>
<% end -%>