<% @page_title = "Commit log for #{@repository.name} in #{@project.title}" -%>
<h1>
  Commit log for <%= h(@repository.name) -%> repository in <%= h(@project.title) -%>
</h1>

<%= render :partial => "log", :locals => {:commits => @commits} -%>

<% content_for :sidebar do -%>  
  <h5>Branches:</h5>
  <ul class="links">
    <% @git.branches.each do |branch| -%>
    <li><%= link_to h(branch.name), commit_path(branch.gcommit.sha) -%></li>
    <% end -%>
  </ul>

  <h5>Tags:</h5>
  <ul class="links">
  <% @git.tags.each do |tag| -%>
    <li><%= link_to h(tag.name), commit_path(tag.sha) -%></li>
  <% end -%>
  </ul>
<% end -%>