<h1>
  Browsing tree of <%= link_to h(@repository.name), project_repository_path(@project, @repository) -%> 
  repository in <%= link_to h(@project.title), project_path(@project) -%>
</h1>

<table class="listing tree">
  <% @tree.children.sort_by{|f,n| f.downcase }.each do |file, node| -%>
  <tr class="<%= cycle("odd", "even") -%>">
    <!-- <td><%#= h(node.mode) -%></td> -->
    <% if node.type == "tree" -%>
      <td class="node tree"><%= link_to h(file + "/"), tree_path(node.sha, build_tree_path(file)) -%></td>
      <td class="link"><%= link_to node.type, tree_path(node.sha, build_tree_path(file)) -%></td>
    <!-- TODO: archive -->
    <% else -%>
      <td class="node file"><%= link_to h(file), blob_path(node.sha, build_tree_path(file)) -%></td>
      <td class="link"><%= link_to node.type, blob_path(node.sha, build_tree_path(file)) -%></td>
    <% end -%>
    <td class="sha1"><%= h(node.sha[0..16]) -%></td>
  </tr>
  <% end -%>
</table>

<%= render :partial => "submenu" -%>