<% @page_title = "Tree for #{@repository.name} in #{@project.title}" -%>
<h1>
  Tree of <%= h(@repository.name) -%> repository in <%= h(@project.title) -%> <small><%= link_to "[download]", repository_path("archive", @commit.id) -%></small>
</h1>

<%= breadcrumb_path(@repository.name, @commit.id) -%>

<% cache(tree_path(@commit.id, params[:path])) do -%>
<table class="listing tree">
  <% @tree.contents.sort_by{|c| c.name.downcase}.each do |node| -%>
  <tr class="<%= cycle("odd", "even") -%>">
    <% if node.is_a? Grit::Tree -%>
      <td class="node tree"><%= link_to h(node.basename) + "/", tree_path(params[:sha], node.name) -%></td>
    <% else -%>
      <td class="node file"><%= link_to h(node.basename), blob_path(params[:sha], node.name) -%></td>
    <% end -%>
    <% last_commit = commit_for_tree_path(@repository, node.name) -%>
    <td class="meta"><%= last_commit.committed_date.to_s(:short) -%></td>
    <td class="meta commit_message">
      <%= link_to truncate(h(last_commit.message), 75, "&hellip;"), commit_path(last_commit.id) -%>
    </td>
  </tr>
  <% end -%>
</table>
<% end -%>

<% content_for :sidebar do -%>  
  <%= render :partial => "tags_and_branches" -%>
<% end -%>

