<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>

<% @page_title = "Edit contribution settings" %>

<%= render "projects/header", :project => ProjectPresenter.new(project), :active => :admin %>

<div class="container">
  <p>
    OAuth site used for signing off merge requests. If you enable this feature,
    you must provide at least the <strong>site</strong>, <strong>signoff
      key</strong> and <strong>signoff secret</strong> options. For non-standard
    paths, also supply the <strong>path prefix</strong> option. In the column to
    the right you will find the current options used.<br><br>
  </p>
  <div class="row-fluid">
    <div class="span8">
      <%= error_messages(project) -%>
      <%= form_for(project, {
              :url => admin_project_oauth_settings_path(:project_id => project),
              :method => :put,
              :builder => Gitorious::View::FormBuilder,
              :html => { :class => "form-horizontal" }
            }) do |form| -%>
        <fieldset>
          <%- project.oauth_settings.each do |k, v| -%>
            <div class="control-group">
              <div class="controls">
                <label for="project_oauth_settings_<%= k %>"><%= k.to_s.humanize %></label>
                <input id="project_oauth_settings_<%= k %>" type="text" name="oauth_settings[<%= k %>]" value="<%= v %>">
                <% if k == :site %>
                  <p>
                    Leave empty to deactivate merge request sign off.
                  </p>
                <% end %>
              </div>
            </div>
          <%- end -%>
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit"><%= t("views.projects.edit") %></button>
        </div>
      <%- end -%>
    </div>
    <div class="span4">
      <h4>Current options</h4>
      <dl>
        <dt>Signoff required</dt>
        <dd><%= project.merge_requests_need_signoff? ? "Yes" : "No" %></dd>
      </dl>
      <%- @project.oauth_consumer_options.each do |k, v| -%>
        <%- unless v.blank? -%>
          <h4><%= k.to_s.humanize %></h4>
          <p><%= v %></p>
        <%- end -%>
      <%- end -%>
    </div>
  </div>
</div>
