<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = @search.blank? ? "Search" : %Q{Search for "#{h(params[:q])}"} -%>
<h1>
  <%= @search.blank? ? "Search" : %Q{Search for "#{h(params[:q])}"} -%>
</h1>

<%= render :partial => "search_box" -%>

<div class="search_results">
<% if @search -%>
  
  <% if @results.empty? -%>
    <p>Sorry, no results for "<%=h params[:q] -%>"</p>
  <% else -%>
    <% @results.each do |result| -%>
    <div class="item">
      <%= render :partial => result, :object => result -%>
    </div>
    <% end -%>
    <%= will_paginate(@search) -%>
  <% end -%>
  
  <p class="hint">
    <small>Found <%= @search.total_entries -%> results in <%= @search.time -%>ms</small>
  </p>
  
<% end -%>
</div>