<%
  # encoding: utf-8
  #--
  #   Copyright (C) 2012 Gitorious AS
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<% @page_title = @search.blank? ? t("views.searches.search") : t("views.searches.page_title", :term => h(params[:q])) -%>

<div class="gts-site-header">
  <div class="container">
    <h1><%= @page_title -%></h1>
    <% if @results -%>
      <p class="hint search_time">
        <small><%= t("views.searches.found", :count => @total_entries, :time => @all_results.query_time) %></small>
      </p>
    <% end -%>
    <%= render "search_box", :hide_tips => false %>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span7">
      <% if @results.blank? -%>
        <p class="well no-results-box">
          <%= t("views.searches.no_results", :term => h(params[:q].to_s.force_utf8)) %>
        </p>
      <% else -%>
        <dl class="search-results">
          <% @results.each do |result| -%>
            <%= render "result", :result => presenter(result) %>
          <% end -%>
        </dl>
        <div class="will-paginate-pager">
          <%= render_pagination_links (@results) -%>
        </div>
      <% end -%>
    </div>
    <% if @results.blank? %>
      <div class="span5">
        <div class="well search-tips">
          <h2>Tips for searching</h2>
          <p>
            Any combination of the following keys can be used to narrow down
            the search results, simply type <code>key:text</code> into the search field
            to search for <em>text</em> within the scope of the <em>key</em> described below:
          </p>
          <dl>
            <dt>Projects</dt>
            <dd>
              <ul class="unstyled">
                <li><code>@title</code> Project title</li>
                <li><code>@description</code> Project description</li>
                <li><code>@slug</code> Project slug</li>
                <li><code>@category</code> Project label</li>
                <li><code>@user</code> Project creator username</li>
              </ul>
            </dd>
            <dt>Repositories</dt>
            <dd>
              <ul class="unstyled">
                <li><code>@name</code> Repository name</li>
                <li><code>@description</code> Repository description</li>
              </ul>
            </dd>
            <dt>Merge Requests</dt>
            <dd>
              <ul class="unstyled">
                <li><code>@proposal</code> Merge request proposal body</li>
                <li><code>@proposed_by</code> Merge request creator username</li>
                <li><code>@status </code> Merge request status</li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    <% end %>
  </div>
</div>
