 <%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = "Your dashboard" -%>

<div class="with_divider">
  <div id="left">
    <div class="user-profile">
      <%= link_to(avatar(@user, { :size => 64 }), @user, {:class => "avatar"}) %>
      <div class="profile-data">
        <h1><%= random_greeting %>, <%= link_to h(@user.login), @user -%>!</h1>

        <ul class="details">
          <li>View <%= link_to "your public profile", current_user -%></li>
        </ul>
      </div>

      <ul class="buttons">
        <li>
          <%= white_button_link_to(t("views.keys.manage_ssh_keys"),
            user_keys_path(current_user), :class => "key") -%>
        </li>
        <li>
          <%= white_button_link_to(t("views.aliases.manage_aliases"),
                user_aliases_path(current_user), :class => "alias") -%>
        </li>
        <li>
          <%= white_button_link_to(t("views.users.edit_action"), edit_user_url(@user),
                :class => "edit_account") -%>
        </li>
        <li>
          <%= white_button_link_to(t("views.users.chg_passwd_action"), password_user_path(@user),
                :class => "edit_account_password") -%>
        </li>
      </ul>
      <div class="clear"></div>
    </div>

    <h2 class="activities">
      Your Newsfeed
    </h2>
    <% if @events.empty? -%>
      <p class="hint">
        You have no news
      </p>
    <% else -%>
      <div id="user_events">
        <%= render :partial => "events/events", :locals => {
          :events => @events, :pagination_style => :compact
        } -%>
      </div>
    <% end -%>
  </div>

  <div id="right">
    <% if @messages %>
      <% pull_box("Your latest messages") do %>
        <ul class="embedded_message_list">
        <% @messages.each do |message| %>
          <li>
            <%= link_to(h(message.title), message,
                  :title => truncate(h(message.body), :length => 25),
                  :class => message.aasm_state_for_user(@user)) %>
            <span class="meta">
              <%= distance_of_time_in_words_to_now(message.updated_at) %> ago
            </span>
          </li>
        <% end %>
        <li class="hint">
          <%= link_to("View all messages &raquo;", messages_path) -%>
        </li>
        </ul>
      <% end %>
    <% end %>

    <% pull_box("Open merge requests for you") do %>
      <ul>
        <% @user.review_repositories_with_open_merge_request_count.each do |repo| %>
          <li>
            <%= link_to(repo.url_path + " <strong>" +
                  repo.open_merge_request_count + "</strong>",
                  repo_owner_path(repo, [repo.project, repo, :merge_requests])) %>
          </li>
        <% end %>
      </ul>
    <% end if show_merge_request_count_for_user?(@user) %>

    <% pull_box("Your projects") do -%>
      <%= white_button_link_to(t("views.projects.create_new"), new_project_path, {
              :id => "new-project-button"}) %>
      <ul class="with_icons">
      <% @projects.each do |project| -%>
        <li class="project">
          <%= link_to h(project.title), project -%>
          <% if favorited?(project) %>
            <%= image_tag("silk/star.png", :title => "favorited") %>
          <% end %>
        </li>
      <% end -%>
      </ul>
    <% end -%>

    <% pull_box(favorites_heading_for(@user)) do %>
    <div id="watchable-list">
      <div class="filters">
        <ul>
          <li><a class="foreign" href="#not-mine">Not yours</a></li>
          <li><a class="mine" href="#mine">Yours</a></li>
          <li>
            <a href="#merge-requests" class="merge-requests">Merge requests</a>
          </li>
          <li>
            <a href="#repos" class="repositories">Repositories</a>
          </li>
          <li><a href="#all" class="all">All</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <ul class="with_icons">
        <% @favorites.each do |watchable| %>
          <li class="<%= css_classes_for(watchable) -%>">
            <%= link_to_watchable(watchable) -%>
          </li>
        <% end %>
        <p class="hint"><%= no_watchings_notice_for(@user) if @favorites.blank? %></p>
      </ul>
    </div>
    <% end %>

    <% pull_box("Team memberships") do -%>
      <ul>
      <% @user.groups.each do |group| -%>
        <li style="clear:left">
          <span style="float:left; padding: 2px 10px 2px 2px">
            <%= image_tag(group.avatar.url(:thumb), :alt => "Avatar", :width => "16") %>
          </span>
          <%= link_to h(group.name), group_path(group) -%>
        </li>
      <% end -%>
      </ul>
    <% end unless @user.groups.blank? -%>

  </div>
  <div class="clear"></div>
</div>

