<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1>Perguntas e Respostas</h1>

<h3>Eu recebo um "fatal: no matching remote head" quando tento clonar um repositório</h3>
<p>
  Muito provavelmente o repositório está vazio, e essa mensagem de erro é o jeito amigável
  do git de dizer isso. Veja abaixo (ou então clicando em "mais informações" próximo à
  "URL Privada de Push" do repositório) para informações de como gravar coisas nele.
</p>

<hr />

<h3>Como eu aponto meu repositório local de Git no Gitorious?</h3>
<p>
  A maneira mais fácil é colocando alguma coisa parecida com o seguinte no seu
  arquivo <code>.git/config</code> do repositório que quer enviar para o Gitorious:
<pre>
[remote "origin"]
       url = <%= GitoriousConfig['gitorious_user'] -%>@<%= GitoriousConfig['gitorious_host'] -%>:<em>project</em>/<em>repository.git</em>
       fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
       remote = origin
       merge = refs/heads/master
</pre>
  e então <code>git push origin master</code> para enviar os códigos para o Gitorious.
</p>
<p>
  Você também pode executar "<code>git push <%= GitoriousConfig['gitorious_user'] -%>@<%= GitoriousConfig['gitorious_host'] -%>:tumbline/mainline.git</code>", ou
  você pode configurar um repositório remoto fazendo o seguinte (adicione --fetch para
  adicionar a chamada para pegar a configuração de cima):
  <pre>
  git remote add origin <% GitoriousConfig['gitorious_user'] -%>@<%= GitoriousConfig['gitorious_host'] -%>:<em>project</em>/<em>repository.git</em>
  # para gravar o branch master para o repositório remoto origin que adicionamos acima:
  git push origin master
  # depois disso você pode fazer apenas:
  git push
  </pre>
</p>

<hr />

<h3>Por que meu e-mail está sendo mostrado?</h3>
<p>
  O e-mail que você usou para se registrar no Gitorious é mostrado para outros usuários,
  para que eles possam contactá-lo sobre seus projetos se precisarem. Nós tomamos medidas
  leves contra crawlers por não mostrá-lo totalmente em texto puro.<br />
  Mas somente para ser claro: nós não vendemos ou usamos qualquer informação que você der para
  <%= GitoriousConfig['gitorious_host'] -%> contra você ou para qualquer ganho financeiro e/ou
  pessoal.
</p>

<hr />

<h3>Por que eu preciso fazer upload da minha chave pública de SSH?</h3>
<p>
  Quando você grava no repositório Git, sua chave pública é como nós o autenticamos
  e checamos que você tem as permissões necessária para fazer um commit num dado
  repositório.
</p>
<hr />

<h3>Eu tenho Windows. Como faço para gerar as chaves SSH que preciso?</h3>
<p>
  A maneira recomendada para usar Git no Windows é a versão
  <%= link_to "msysGit", "http://code.google.com/p/msysgit/" -%>. Ela vem junto com um
  suporte mínimo de Cygwin. Quando terminar de instalar, você terá um ícone "Git Bash"
  na sua Área de Trabalho. Dê duplo-clique para abrí-lo e agora você pode usar comandos
  no estilo Linux como <code>"ssh-keygen -t rsa"</code>. Apenas vá teclando "Enter" a
  cada pergunta que ele fizer e finalmente você terá seu par de chaves sob o diretório
  ".ssh". Por exemplo, digite <code>"cat ~/.ssh/id_rsa.pub"</code>. Essa é a chave pública
  que você deve copiar e colar na sua conta no Gitorious.
</p>
<hr />

<h3>Que versão de Git o Gitorious está usando?</h3>
<p>
  <code>git versão 1.5.4.4</code>
</p>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <li><%= link_to "Sobre", about_path(:anchor => "about") -%></li>
    <li><%= link_to "Contato", about_path(:anchor => "contact") -%></li>
    <li><%= link_to "Q&A", about_page_path(:action => :faq) -%></li>
  </ul>
<% end -%>
