<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David Chelimsky <dchelimsky@gmail.com>
#   Copyright (C) 2008 Jonas Fonseca <fonseca@diku.dk>
#   Copyright (C) 2008 David Aguilar <davvid@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1>FAQ</h1>

<h3>I get "fatal: no matching remote head" when trying to clone a repository</h3>
<p>
  Most likely the repository you're trying to clone is empty, and the error 
  message is git's friendly way of telling you that. See below (or by clicking 
  "more info" next to the repository's "push url") for info on how to push to it.
</p>

<hr />

<h3>How do I point my local Git repository at Gitorious?</h3>
<p>
  Easiest way is to put something like the following in your <code>.git/config</code> 
  file of the repository you wish to push:
<pre>
[remote "origin"]
       url = <%= GitoriousConfig['gitorious_user'] -%>@<%= GitoriousConfig['gitorious_host'] -%>:<em>project</em>/<em>repository.git</em>
       fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
       remote = origin
       merge = refs/heads/master
</pre>
  and then <code>git push origin master</code> to push the code to Gitorious.
</p>
<p>
  You can also just run "<code>git push <%= GitoriousConfig['gitorious_user'] -%>@<%= GitoriousConfig['gitorious_host'] -%>:tumbline/mainline.git</code>", or
  you can setup a remote by doing the following (add --fetch to the add call to 
  get the config from above):
  <pre>
  git remote add origin <% GitoriousConfig['gitorious_user'] -%>@<%= GitoriousConfig['gitorious_host'] -%>:<em>project</em>/<em>repository.git</em>
  # to push the master branch to the origin remote we added above:
  git push origin master 
  # after that you can just do:
  git push
  </pre>
</p>

<hr />

<h3>Why is my email displayed?</h3>
<p>
  The email you used to signup with Gitorious is displayed to other users, so that they 
  can contact you about your projects if they need to. We do however take light 
  measures against crawlers by not displaying your email in completely plain text. <br />
  But just to be clear: we won't sell or use any information you give to 
  <%= GitoriousConfig['gitorious_host'] -%> against you or anyone else for financial and/or personal gains.
</p>

<hr />

<h3>Why do I need to upload my public SSH key?</h3>
<p>
  When you push to a Git repository, your public key is how we authenticate 
  you and check if have the permissions required to do a commit to a given repository
</p>
<hr />

<h3>I have Windows. How do I generate the required SSH key?</h3>
<p>
  The recommended way to use Git on Windows is the 
  <%= link_to "msysGit", "http://code.google.com/p/msysgit/" -%> version. It comes bundled
  with minimal Cygwin support. When you finish installing it, you will have a "Git Bash"
  icon in your desktop. Double click to open it and now you can use known Linux-like
  commands, such as <code>"ssh-keygen -t rsa"</code>. Just press 'Return' in every question
  it asks and you will finally have your pair of keys under ".ssh". For example, type
  <code>"cat ~/.ssh/id_rsa.pub"</code>. Thats's the public key that you are required to
  copy and paste into your account on Gitorious.
</p>

<hr />

<h3>What version of Git is Gitorious running?</h3>
<p>
  <code>git version 1.5.4.4</code>
</p>

<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "About", about_path(:anchor => "about") -%></li>
    <li><%= link_to "Contact", about_path(:anchor => "contact") -%></li>
    <li><%= link_to "FAQ", faq_path -%></li>
  </ul>
<% end -%>
