<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
  #   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
  #   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
  #   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

<% unless logged_in? %>
  <%= site_header do %>
    <%= render 'site/index/intro_box' %>
  <% end %>
<% end %>

<div class="container gts-container">
  <div class="row-fluid">
    <% if Gitorious.public? || logged_in? %>
      <div class="span7">
        <%= render "site/index/activities", :events => @latest_events %>
      </div>
      <div class="span5">
        <%= cache_in_private([:site_index, :active_projects_recently], :expires_in => 1.hour) do %>
          <%= render "site/index/active_projects", :projects => @active_projects %>
        <% end %>
        <%= cache_in_private([:site_index, :active_clones], :expires_in => 25.minutes) do %>
          <%= render "site/index/active_clones", :repositories => @top_repository_clones %>
        <% end %>
        <%= cache_in_private([:site_index, :active_users], :expires_in => 20.minutes) do %>
          <%= render "site/index/active_users", :users => @active_users %>
        <% end %>
        <%= cache_in_private([:site_index, :active_teams], :expires_in => 15.minutes) do %>
          <%= render "site/index/active_teams", :teams => @active_groups %>
        <% end %>
        <%= cache_in_private([:site_index, :newest_projects], :expires_in => 5.minutes) do %>
          <%= render "site/index/new_projects", :projects => @projects %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
