<%
#--
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = "Free open source project hosting" -%>
<div id="site_intro">
<p>
  <strong>Gitorious</strong> aims to provide a great 
  way of doing distributed opensource code collaboration 
</p>
<% if GitoriousConfig['public_mode'] || logged_in? -%>
  <%= render :partial => "searches/search_box" -%>
<% end -%>
</div>

<div id="site_overview">
  <% unless logged_in? -%>
  <table>
    <tr>
      <th class="left"><h2>For Projects</h2></th>
      <th class="right"><h2>For Contributors</h2></th>
    </tr>
    <tr>
      <td class="left"><%= image_tag("overview_projects.png") -%></td>
      <td class="right"><%= image_tag("overview_contributors.png") -%></td>
    </tr>
  </table>
  
	  <% if GitoriousConfig['public_mode'] || logged_in? -%>
	  <p class="hint create_account_hint">
	    <%= link_to "Creating a user account", new_user_path -%> allows you to create 
	    your own project or participate in the development of any project. 
	  </p>
	  <% end -%>
  <% end -%>
</div>

<% if GitoriousConfig['public_mode'] || logged_in? -%>
<div id="newest_projects">
  <h2>Newest projects</h2>
  <ul>
    <% @projects.each do |project| -%>
      <li>
        <strong><%= link_to h(project.title), project -%></strong>
        <small class="hint"><%= truncate(h(project.stripped_description), 100) -%></small>
      </li>
    <% end -%>
  </ul>
  <p><%= link_to "View more &raquo;", projects_path -%></p>
</div>
<% end -%>
