<% @page_title = "Free open source project hosting" -%>
<div id="site_intro">
<p><strong>Gitorious</strong> aims to provide a great 
  way of doing distributed opensource code collaboration 
  <small><%= link_to "more…", about_path -%></small></p>
</div>

<div id="site_overview">
  <%= image_tag("overview.png") -%>
  <% unless logged_in? -%>
  <p class="hint create_account_hint">
    <%= link_to "Creating a user account", new_user_path -%> allows you to create 
    your own project or participate in the development of any project. 
  </p>
  <% end -%>
</div>

<div id="newest_projects">
  <h2>Newest projects</h2>
  <ul>
    <% @projects.each do |project| -%>
      <li>
        <strong><%= link_to h(project.title), project -%></strong>
        <small class="hint"><%= truncate(project.description, 100) -%></small>
      </li>
    <% end -%>
  </ul>
</div>

<div id="site_project_list">
  <h2>Project categories</h2>

  <ul class="tag_list large_tags">
    <% tag_cloud @tags, default_css_tag_sizes do |tag, css_class| %>
      <li><%= link_to h(tag.name), projects_category_path(tag.name), :class => css_class %></li>
    <% end %>
  </ul>
</div>
