
	
	<div id="top-wrapper">
		<div id="header">
	
		<div id="screenshots-rotator">
			<div id="screenshotsnavigation"></div>
			<div id="screenshots-container">
				<img src="img/external/screens/screen1.png">
				<img src="img/external/screens/screen2.png">
				<img src="img/external/screens/screen1.png">
				<img src="img/external/screens/screen1.png">
			</div>
			
		</div> <!-- end of screenshots rotator -->
		
		<div id="introduction">
			<h2>The best way to collaborate on distributed open source projects</h2>
			<p class="description">Gitorious provides free open source infrastructure for open source projects that use Git.</p>
			<p class="directions">Learn more <%= link_to t("views.layout.about"), "About" %> or the <a href="#">projects</a> we host.</p>
		</div> <!-- end of introduction -->
			
		<div id="call-to-actions">
			<ul>
				<li id="sign-up"><%= link_to t("views.layout.register"), new_user_path %></li>
				<li id="or"></li>
				<li id="log-in"><%= link_to "Login", login_path %></li>
			</ul>
		</div> <!-- end of call to action -->
		
	</div> <!-- end of header -->
	</div> <!-- end of top wrapper -->
	<div id="features-wrapper">
		<div id="features">
		<h3>Features &mdash; what we bring to the table</h3>
			<ul>
				<li id="project-hosting">
					<img src="img/external/icons/server_database.png">
					<h4>Project hosting</h4>
					<p>Host your open source projects and their repositories for free on Gitorious to enable community contributions.</p>	
				</li>
				<li id="activity-monitoring">
					<img src="img/external/icons/feed.png">
					<h4>Activity monitoring</h4>
					<p>Keep track of project activity for both your personal projects and team projects.</p>	
				</li>
				<li id="public-merge-requests">
					<img src="img/external/icons/arrow_in.png">
					<h4>Public merge requests</h4>
					<p>Allow other developers to submit contributions to your project and merge them easily.</p>	
				</li>
			</ul>
			<p><a class="view-features all-features">Want to know more? See all features</a></p>
			<ul class="expanded-feature-list">
				<li id="project-wikis">
					<img src="img/external/icons/project-wikis.png">
					<h4>Project Wikis</h4>
					<p>Document your project using Gitorious’<br /> built-in wiki.</p>
				</li>
				<li id="team-contributions">
					<img src="img/external/icons/team-contributions.png">
					<h4>Team contributions</h4>
					<p>Create development teams to encourage<br /> and organize cooperative development.</p>
				</li>
				
				<li id="project-centric">
					<img src="img/external/icons/database.png">
					<h4>Project centric</h4>
					<p>Maintain all code repositories related to a single project under a single project area on Gitorius.</p>
				</li>

			</ul>
			</div>
	</div> <!-- end of features -->
	<div id="content-container">
	<div id="content">
    <div class="column" id="user-testimonials">
        <h3>Hear what our users have to say</h3>
            <div class="testimonial" id="nokia">
                <blockquote>«Gitorious allows us to work closer with contributors and strengthens the link to the community»</blockquote>
                <cite><em>Torn Arne Vestbø</em>, Nokia</cite>
            </div>

            <div class="testimonial" id="opensuse">
                <blockquote>«The openSUSE project has chosen gitorious since it supports our collaborative development model and due to similarities between the  projects: A reliable, efficient and easy to use service that is open source.»</blockquote>
                <cite><em>Andreas Jaeger</em>, Program Manager openSUSE</cite>
            </div>

            <div class="testimonial" id="regjeringen">
                <blockquote>«We decided to use Gitorious for our code because the service invites to collaboration.»</blockquote>
                <cite><em>Gorm Haug Eriksen</em>, Norwegian Government Administration Services</cite>
            </div>


    </div> <!--- end of user testimonials -->
		
		<div class="column" id="featured-projects">
			<h3>Featured projects</h3>
			<ul>
				<li id="qt">
					<img src="img/external/projects/qt.png">
					<p><strong><a href="http://qt.gitorious.org/qt">Qt</a></strong> is a cross-platform application and UI framework by Nokia. Gitorious provides hosting for 8 different projects and several teams.</p>
				</li>
				<li id="opensuse">
					<img src="img/external/projects/opensuse.png">
					<p><strong><a href="http://gitorious.org/opensuse">openSuse</a></strong> is a free and Linux-based operating system for your PC, Laptop or Server.  Gitorious provides hosting for 8 different projects and several teams.</p>
				</li>
				<li id="xbmc">
					<img src="img/external/projects/xbmc.png">
					<p><strong><a href="http://gitorious.org/xbmc">XBMC</a></strong> is a complete media center solution for Windows, OSX, Linux, and XBOX.</p>
				</li>
				<li id="regjeringen">
					<img src="img/external/projects/regjeringen.png">
					<p><strong><a href="http://gitorious.org/sfa">Samarbeid for arbeid</a></strong> is an initiave from the norwegian government for political debating through social media</p>
				</li>
				<li id="statusnet">
					<img src="img/external/projects/statusnet.png">
					<p><strong><a href="http://gitorious.org/StatusNet">StatusNet</a></strong> is a microblogging platform. It helps people in a community, company, or group to exchange short (140 character) messages over the Web.</p>
				</li>
			</ul>
		</div> <!-- end of featured projects -->
		
		<div class="column" id="from-the-blog">
			<h3>From the Gitorious Blog</h3>
			<ul>
			  <% @feed_items.each do |entry| -%>
				<li class="blog-entry">
					<h4><a href="<%=h entry[:link] -%>"><%= strip_tags(entry[:title]) -%></a></h4><p> &mdash;  <%= strip_tags(entry[:description]) -%></p>
					<p class="date"><%= entry[:date].to_s(:short) -%></p>
				</li>
				<% end -%>
			</ul>
			<p><a class="go-to-blog" href="http://blog.gitorious.org">Go to the Gitorious Blog</a></p>
		</div> <!-- end of from the blog -->
	</div> <!-- end of the content section -->
	</div>
	

