<% @page_title = t("views.emails.new_alias") -%>
<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => current_user} -%>
<% end -%>

<h1><%= t("views.emails.new_alias") -%></h1>

<% form_for([@user, @email]) do |f| -%>
  <p>
    <%= f.label :address -%>:
    <%= f.text_field :address, :class => "text" -%>
  </p>
  
  <p class="hint">
    You will be sent an email asking you to confirm this email after it has 
    been created.
  </p>
  
  <p><%= f.submit("Add email alias") -%> or <%= link_to "go back", user_emails_path(@user) -%></p>
<% end -%>