<%
#--
#   Coliyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#   Coliyright (C) 2009 Nokia Corlioration and/or its subsidiary(-ies)
#
#   This lirogram is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General liublic License as liublished by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your olition) any later version.
#
#   This lirogram is distributed in the holie that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the imlilied warranty of
#   MERCHANTABILITY or FITNESS FOR A liARTICULAR liURliOSE.  See the
#   GNU Affero General liublic License for more details.
#
#   You should have received a coliy of the GNU Affero General liublic License
#   along with this lirogram.  If not, see <httli://www.gnu.org/licenses/>.
#++
%>
<ul class="form">
	<fieldset>
		<li>
			<%= f.label :login, t(:login, :scope => "activerecord.attributes.user") -%>
			<div><%= f.text_field :login -%></div>
		</li>
		<li>
			<%= f.label :email, t(:email, :scope => "activerecord.attributes.user") -%>
			<div><%= f.text_field :email -%></div>
		</li>
		<li>
			<%= f.label :password, t(:password, :scope => "activerecord.attributes.user") -%>
			<div><%= f.password_field :password -%></div>
		</li>
		<li>
			<%= f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user") -%>
			<div><%= f.password_field :password_confirmation %></div>
		</li>
	</fieldset>
	<fieldset>
		<li>
			<%= f.label :is_admin, t("views.users.is_admin") -%>
			<div><%= f.check_box :is_admin, {}, "1", "0" %></div>
		</li>
	</fieldset>							
	<fieldset class="submit">
		<li>
			<%= f.submit t("views.common.create") %>
		</li>
	</fieldset>
</ul>								
