<%
#--
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<% content_for(:sidebar) do %>
<% if controller.is_a? Admin::UsersController -%>
<ul class="links navigation">
	<li class="new_user">
    <%= link_to t("views.users.create_btn"), new_admin_user_path %>
  </li>
</ul>
<% end -%>
<% end %>
<% if controller.is_a? Admin::UsersController -%>
<h2 class="content-header" id="project_title"><%= link_to t("views.layout.admin"), '' %></h2>
<% end -%>
<table class="listing tree">
	<tr>
		<th><%= t(:login, :scope => "activerecord.attributes.user").humanize %></th>
		<th><%= t(:email, :scope => "activerecord.attributes.user").humanize %></th>
		<th><%= t(:created_at, :scope => "activerecord.attributes.user").humanize %></th>
		<th><%= t("views.users.activated") %></th>
		<th><%= t("views.users.suspended") %></th>
		<th><%= t("views.users.admin") %></th>
		<th></th>
		<th></th>
	</tr>
	<% @users.each do |user| -%>
	<tr class="<%= cycle("odd", "even") -%>">
		<td><%= link_to h(user.login), user %></td>
		<td><%= link_to user.email, "mailto:#{user.email}" %></td>
		<td><%= user.created_at.to_s(:short) %></td>
		<td><%= user.activated? ? user.activated_at.to_s(:short) : t("views.common.no") %></td>
		<td><%= user.suspended? ? user.suspended_at.to_s(:short) : t("views.common.no") %></td>
		<td><%= user.site_admin? ? t("views.common.yes") : t("views.common.no") %></td>
		<% if user.suspended? -%>
		<td><%= link_to t("views.users.unsuspend"), unsuspend_admin_user_path(user), :confirm => t("views.common.confirm"), :method => :put %></td>
		<% else -%>
		<td><%= link_to t("views.users.suspend"), suspend_admin_user_path(user), :confirm => t("views.common.confirm"), :method => :put %></td>
		<% end -%>
		<td><%= link_to t("views.users.reset_pwd"), reset_password_admin_user_path(user), :confirm => t("views.common.confirm"), :method => :put %></td>
	</tr>
	<% end -%>	
</table>

<%= will_paginate @users -%>


