<%
#--
#   Copyright (C) 2012-2013 Gitorious AS
#   Copyright (C) 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 David A. Cuadrado <krawek@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="container gts-container">
  <div class="container-fluid">
    <div id="site_intro">
      <p>
        Qt is a cross-platform application and UI framework that allows developers
        to write applications once and deploy them across many desktop and embedded
        operating systems without rewriting the source code.
      </p>
    </div>
    <div class="row-fluid">
      <div class="span7">
        <%= pull_box(nil, :class => "expose") do %>
          <p>
            More information about Qt is available
            at <a href="http://qt-project.org">qt-project.org</a>.
            <strong>This site hosts a read-only mirror of the project's repositories only.</strong>
          </p>
        <% end %>
        <%= render "site/index/activities", :events => latest_events %>
      </div>
      <div class="span5">
        <% cache([:qt_site_index, :most_active_clones], :expires_in => 15.minutes) do -%>
          <%= render "site/index/active_projects", :title => "Qt projects", :projects => projects %>
        <% end %>
        <% cache([:qt_site_index, :most_active_clones], :expires_in => 15.minutes) do -%>
          <%= render "site/index/active_clones", :title => "Most active repository clones", :repositories => top_repository_clones %>
        <% end %>
        <%= render "site/index/active_teams", :title => "Teams involved in Qt projects", :teams => teams %>
      </div>
    </div>
  </div>
</div>
