<%
  #--
  #   Copyright (C) 2013 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<% action, body, category = action_and_body_for_event(event) %>
<div class="gts-event row">
 <p>
    <span class="span1"><span class="label label-info"><%= category.capitalize %></span></span>
    <span class="event-time"><%= event.created_at.strftime("%H:%M") %></span>
    <% if !event.user.nil? %>
      <a class="event-author" href="<%= user_path(event.user) %>">
        <%= gravatar(event.user.email, { :size => 24 }, :class => "gts-avatar") %>
        <%= !event.user.fullname.blank? ? event.user.fullname : event.user.login %>
      </a>
    <% else %>
      <%= event.actor_display %>
    <% end %>
    <%= action.html_safe if !action.blank? %>
    <%= body.html_safe if !body.blank? %>
  </p>
</div>
