<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<head>
  <title><%= @page_title + " - " if @page_title -%><%= current_site.title -%></title>
  <%= favicon_link_tag %>
  <%= include_stylesheets :external %>
  <%= include_javascripts -%>
  <script type="text/javascript">
$(function() {
    var self = this;
    this.status = 'collapsed';

    $('a.view-features').click(function() {
        if(!$('#features-wrapper').is(':animated')) {
            $('#features-wrapper').animate({
                'height': (self.status == 'collapsed') ? '260px' : '148px'
            }, {
                duraton: 'normal',
                complete: function() {
                    self.status = (self.status == 'collapsed') ? 'expanded' : 'collapsed';
                }
            });

            $('.expanded-feature-list').css('border-top', (self.status == 'collapsed') ? '1px solid #DDD' : '1px solid #ededed');
        }
    });
});

$(document).ready(function() {
    $("p.openid-switch a").click(function() {
        $("#regular_login_fields").addClass("login_hidden");
        $("#openid_login_fields").removeClass("login_hidden");
        $("p.openid-switch").toggle();
        $("p.regular-switch").toggle();
    });

    $("p.regular-switch a").click(function() {
        $("p.regular-switch").toggle();
        $("p.openid-switch").toggle();
        $("#openid_login_fields").addClass("login_hidden");
        $("#regular_login_fields").removeClass("login_hidden");
    });
});

$('#screenshots-container').cycle({
    fx: 'scrollLeft',
    speed: '700',
    timeout: 5500,
    pager: '#screenshotsnavigation'
});
  </script>
  <!--[if IE 7]><%= stylesheet_link_tag "ie7", :cache => true %><![endif]-->
  <!--[if gt IE 7]><%= stylesheet_link_tag "ie8", :cache => true %><![endif]-->
</head>
<body id="<%= controller.controller_name -%>">
  <div id="wrapper">
    <%= flashes %>
    <div id="top-wrapper">
      <div id="top">
	<div id="logo">
	  <h1><%= link_to("Gitorious", root_path) %></h1>
	</div>
	<ul id="menu">
	  <li class="home"><%= link_to("Home", root_path) %></li>
	  <li class="about"><%= link_to t("views.layout.about"), about_path %></li>
	  <li class="contact"><%= link_to "Contact", contact_path %> </li>
	  <% if GitoriousConfig["public_mode"] %>
            <li class="register"><%= link_to t("views.layout.register"), new_user_path %></li>
          <% end %>
	  <li class="login"><%= link_to "Login", login_path %></li>
	</ul>
      </div> <!-- end of #top -->
      <div class="clear"></div>
    </div>
    <div class="content-container">
      <%= yield %>
      <div class="clear"></div>
    </div> <!-- end of content-container -->
  </div>
  <div id="footer">
    <div id="footer-container">
      <%= render :partial => "layouts/common_footer" -%>
      <%= render :partial => "layouts/footer_links" -%>
      <%= render :partial => "layouts/footer_blurb" %>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
