<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title><%= @page_title + " - " if @page_title -%><%= current_site.title -%></title>
  <%= stylesheet_link_tag "screen" %>
  <%= include_javascripts -%>
</head>

<body id="<%= controller.controller_name -%>">
  <div id="big_header">
    <div class="marginizer">
      <div id="main_menu">
        <ul class="simple left">
          <li><%= link_to t("views.layout.projects"), projects_path %></li>
          <li><%= link_to t("views.layout.teams"), groups_path %></li>
          <li><%= link_to t("views.layout.faq"), faq_path %></li>
          <li><%= link_to t("views.layout.about"), about_path %></li>
          <li><%= link_to t("views.layout.register"), new_user_path %></li>
          <li>
            <% form_for :search,
              :url => search_path(:only_path => false, :host => GitoriousConfig["gitorious_host"]),
              :html => {:method => "get", :id => "main_menu_search_form"} do |f|
            %>
              
              <%= text_field_tag :q, params[:q],
                :id => "main_menu_search_form_query", :class => "unfocused" %>
              <%= submit_tag "Search" %>
            <% end %>
          </li>
        </ul>
      </div>
      
      <div class="clear"></div>
    
      <h1 id="logo_image" class="image_header"><span>Gitorious</span></h1>
      <%= link_to "", root_path, :id => "logo_hit_area" %>
    
      <div id="big_header_content">
        <div id="big_header_meta">
          <h2 id="big_header_pay_off" class="image_header"><span>The best way to collaborate on open source projects</span></h2>
          
          <div id="big_header_signup_link">
            <%= button_link :big, t("views.site.dashboard.registration_button"), new_user_path %>
          </div>
          
          <div><%= t("views.site.pay_off").call("/gitorious", about_path) %></div>
        </div>
    
        <div id="big_header_login">
          <h2 id="big_header_login_box_header" class="image_header"><span><%= t("views.site.login_box_header") %></span></h2>
          
          <div id="big_header_login_box">
            <%= render :partial => "sessions/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="recent_activities"><div id="recent_activities_container">
    <% @latest_events.each_with_index do |event, index| %>
      <div class="recent_activity <%= 'last' if index == @latest_events.length - 1 %>">
        <% action, body, category = action_and_body_for_event(event) %>

        <div class="recent_activity_timestamp">
          <div><%= recent_event_timestamp(event.created_at) %></div>
          ago
        </div>

        <div class="recent_activity_avatar">
          <%= glossy_homepage_avatar_for_user(event.user) %>
        </div>

        <div class="recent_activity_meta">
          <% if event.user.nil? %>
            <%= event.actor_display %>
          <% else %>
            <%= link_to h(event.user.title), user_path(event.user) %>
          <% end %>

          <%= word_break_recent_event_actions(action) %>
        </div>
      </div>
    <% end %>
  </div></div>
  
  <div id="main">
    <div class="marginizer">
      <div class="homepage_listing" id="homepage_listed_left_column">
        <h2 class="image_header">
          <span>Most Active Projects</span>
          <%= link_to "See all &raquo;", projects_path, :class => "see_all" %>
        </h2>
        <%= list(@projects, :class => "simple") {|p| project_summary_box(p) } %>
      </div>
      
      <div class="homepage_listing" id="homepage_listed_middle_column">
        <h2 class="image_header">
          <span>Most Active Teams</span>
          <%= link_to "See all &raquo;", groups_path, :class => "see_all" %>
        </h2>
        <%= list(@teams, :class => "simple") {|t| team_summary_box(t) } %>
      </div>
      
      <div class="homepage_listing" id="homepage_listed_right_column">
        <h2 class="image_header"><span>Most Active Users</span></h2>
        <%= list(@users, :class => "simple") {|u| user_summary_box(u) } %>
      </div>
    </div>
  </div>
  
  <div id="footer">
    <div class="marginizer">
      <ul class="simple left">
        <li><%= link_to "Contact", contact_path %> </li>
        <li><%= link_to t("views.layout.discussion"), "http://groups.google.com/group/gitorious" %></li>
        <li><%= link_to t("views.layout.blog"), "http://blog.gitorious.org/" %></li>
        
        <% if GitoriousConfig["terms_of_use"] -%>
          <li class="secondary"><%= link_to "Terms of Service", "http://en.gitorious.org/tos" %></li>
          <li class="secondary"><%= link_to "Privacy Policy", "http://en.gitorious.org/privacy_policy" %></li>
        <% end %>
      </ul>
      <ul class="meta">
                <li class="meta"><%= link_to image_tag("logo_shortcut_mini.png"), "http://shortcut.no/" %></li>
      </ul>
    </div>
  </div>
</body>
</html>
