<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= partial("repositories/repo_header", {
        :repository => RepositoryPresenter.new(repository),
        :project => repository.project,
        :app => Gitorious,
        :active => :admin,
        :header_level => 2
      }) %>

<div class="container">
  <h1>Edit collaborator permissions</h1>
  <%= error_messages(committership) -%>
  <%= form_for [repository.project, repository, committership], :html => { :class => "form-inline" } do |f| -%>
    <strong><%= committership.committer.title %></strong>
    <%= checkboxes(f) -%>
    <%= f.submit "Update permissions", :class => "btn btn-primary" -%>
  <% end %>
  <%= render "permission_explanation" %>
</div>
