<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@root) -%>

<h1>
  <%= t("views.committerships.title", 
        :repo_name => link_to(h(@repository.name), [@owner, @repository]))  -%>
</h1>

<table class="listing">
	<thead>
		<th><%= t(:created_at, :scope => "activerecord.attributes.committerships").humanize %></th>
		<th><%= t(:committer_type, :scope => "activerecord.attributes.committerships").humanize %></th>
		<th><%= t(:committer, :scope => "activerecord.attributes.committerships").humanize %></th>
		<th><%= t(:creator, :scope => "activerecord.attributes.committerships").humanize %></th>
		<th></th>
	</thead>
	<% @committerships.each do |committership| -%>
	<tr class="<%= cycle('even', 'odd') -%>">
	  <td><%= committership.created_at.to_s(:short) -%></td>
	  <td><%= committership.committer.class.human_name -%></td>
	  <td><%= link_to h(committership.committer.title), committership.committer -%></td>
	  <td><%= link_to(h(committership.creator.login), committership.creator) if committership.creator -%>
	  <td><%= button_to(t("views.common.remove"), [@owner, @repository, committership], :method => :delete) -%></td>
	</tr>
	<% end -%>
</table>

<%= will_paginate @committerships -%>

<% content_for :sidebar do -%>
  <ul class="links actions">
    <li>
      <%= link_to t("views.committerships.add_new"), 
            [:new, @owner, @repository, :committership] -%>
    </li>
  </ul>
<% end -%>