<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>

  <%= repo_header repository, :current_user => current_user, :active => :admin, :header_level => 2 %>

<div class="container">
  <h1><%= @title = "Users & teams collaborating on #{repository.slug}" %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Collaborator</th>
        <th>Permissions</th>
        <th>Added by</th>
        <th>Since</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% committerships.each do |committership| %>
      <tr>
        <td>
          <%= link_to(h(committership.committer.title), committership.committer) -%>
          (<%= committership.committer.class.human_name -%>)
        </td>
        <td><%=h committership.permission_list.join(', ') -%></td>
        <td><%= link_to(h(committership.creator.login), committership.creator) if committership.creator -%></td>
        <td><%= l(committership.created_at, :format => :short) -%></td>
        <td class="committer-buttons">
          <%= link_to(t("views.common.edit"),
          [:edit, repository.project, repository, committership], :method => :get, :class => "btn") -%>
          <%= link_to(t("views.common.remove"),
          [repository.project, repository, committership], :method => :delete, :class => "btn btn-danger", :confirm => confirmation_if_sole_admin(repository, committership)) -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to(t("views.collaborators.add_new"),
    [:new, repository.project, repository, :committership], :class => "btn btn-primary") -%>
  </p>
  <%= render("committerships/permission_explanation") %>
  <% if Gitorious.private_repositories? %>
    <%= render(:partial => "content_memberships/memberships", :locals => {
            :project => repository.project,
            :memberships => memberships,
            :membership => defined?(membership) ? membership : repository.content_memberships.new
          }) %>
  <% end %>
</div>
