<%
  #--
  #   Copyright (C) 2012-2013 Gitorious AS
  #   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
  %>
<%= partial("repositories/repo_header", {
        :repository => repository,
        :project => repository.project,
        :app => Gitorious,
        :active => :admin,
        :header_level => 2
      }) %>

<div class="container">
  <h1><%= @title = "Users & teams collaborating on #{repository.slug}" %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Collaborator</th>
        <th>Permissions</th>
        <th>Added by</th>
        <th>Since</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% committerships.each do |committership| %>
      <tr>
        <td>
          <%= link_to(h(committership.committer.title), committership.committer) -%>
          (<%= committership.committer.class.human_name -%>)
        </td>
        <td><%=h committership.permission_list.join(', ') -%></td>
        <td><%= link_to(h(committership.creator.login), committership.creator) if committership.creator -%></td>
        <td><%= l(committership.created_at, :format => :short) -%></td>
        <td class="committer-buttons">
          <%= link_to(t("views.common.edit"),
          [:edit, repository.project, repository, committership], :method => :get, :class => "btn") -%>
          <%= link_to(t("views.common.remove"),
          [repository.project, repository, committership], :method => :delete, :class => "btn btn-danger", :confirm => confirmation_if_sole_admin(repository, committership)) -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to(t("views.collaborators.add_new"),
    [:new, repository.project, repository, :committership], :class => "btn btn-primary") -%>
  </p>

  <%= render_pagination_links committerships -%>

  <p style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #d5d5d5;">
    <% if repository.public? %>
      <strong>This repository is open</strong>.
      Anyone with access to the <%= @repository.project.title %> project can
      browse and clone this repository.
    <% else %>
      <strong>This repository is private</strong>.
      To be able to browse and clone this repository, collaborators on
      the <%= repository.project.title %> project need to be
      <%= link_to "granted read access", project_repository_repository_memberships_path(repository.project, @repository) %> in addition to their
      regular collaborator permissions.
    <% end %>
  </p>

  <%= render("permission_explanation") %>

</div>
