<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<%= breadcrumbs_from(@committership) -%>

<% content_for :extra_head do -%>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#add_group_link").click(function(event){
      $('#add_user').hide();
      $('#add_group').show();
      $("#add_user_tab").removeClass("selected");
      $("#add_group_tab").addClass("selected");
      event.preventDefault();
    });
    $("#add_user_link").click(function(event) {
      $('#add_group').hide();
      $('#add_user').show();
      $("#add_group_tab").removeClass("selected");
      $("#add_user_tab").addClass("selected");
      event.preventDefault();
    });
    options = {matchSubset: false}
    $("input#user_login_autocomplete").autocomplete("<%= url_for(:action => :auto_complete_for_user_login) -%>", options);
    $("input#group_name_autocomplete").autocomplete("<%= url_for(:action => :auto_complete_for_group_name) -%>", options);
  });
</script>
<% end -%>

<h1>
  <%= t("views.collaborators.new_title", :repo_name => @repository.name)  -%>
</h1>

<%= error_messages_for :committership -%>
<% form_for [@owner, @repository, @committership] do |f| -%>
  <ul class="tab_menu inline_tabs">
    <li class="selected"  id="add_user_tab">
      <a href="#add_user" id="add_user_link"><%= t("views.collaborators.add_user") -%></a>
    </li>
    <li id="add_group_tab">
      <a href="#add_group" id="add_group_link"><%= t("views.collaborators.add_team") -%></a>
    </a>
  </ul>

  <p class="tab-content" id="add_user">
    <%= f.label :group_name, t("views.collaborators.user_login") -%>   <br />
    <%= text_field :user, :login, :id => "user_login_autocomplete" -%>
  </p>
  <p class="tab-content" id="add_group" style="display:none;">
    <%= f.label :group_name, t("views.collaborators.group_name") -%>   <br />
    <%= text_field :group, :name, :id => "group_name_autocomplete" -%>
    <br /><span class="hint">
      <%= t("views.collaborators.add_team_note") -%>
    </span>
  </p>

  <p><%= f.label :permissions -%>:
		<p><%= check_box_tag "permissions[]", "review", false -%> <%= f.label "Review" %></p>
  		<p><%= check_box_tag "permissions[]", "commit", false -%> <%= f.label "Commit" %></p>
     	<p><%= check_box_tag "permissions[]", "admin", false -%> <%= f.label "Administer" %></p>


  <p>
    <%= f.submit t("views.collaborators.btn_add_as_collaborator") -%>
    <%= t("views.collaborators.or_return_to") -%>
    <%= link_to "collaborator list", [@owner, @repository, :committerships] -%>
  </p>

<% end -%>

<% content_for :sidebar do %>
  <%= render "permission_explanation" %>
<% end %>
