<%
#--
#   Copyright (C) 2009 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% content_for :submenu do -%>
  <%= render :partial => "site/breadcrumbs", :locals => {:root => @committership} -%>
<% end -%>

<h1>
  <%= t("views.committerships.new_title", :repo_name => @repository.name)  -%>
</h1>

<%= error_messages_for :committership -%>
<% form_for [@owner, @repository, @committership] do |f| -%>
  <div id="add_group">
  <p>
    <%= f.label :group_name, t("views.committerships.group_name") -%>
    <small class="hint"><a href="#add_user" onclick="$('add_user').show(); $('add_group').hide();return false;">
      <%= t("views.committerships.add_user_instead") -%>
    </a></small><br />
    <%= text_field_with_auto_complete :group, :name, {}, :skip_style => true, :select => :name -%>
  </p>
  </div>
  <div id="add_user" style="display:none;">
  <p>
    <%= f.label :group_name, t("views.committerships.user_login") -%>
    <small class="hint"><a href="#add_group" onclick="$('add_user').hide(); $('add_group').show();return false;">
      <%= t("views.committerships.add_team_instead") -%>
    </a></small><br />
    <%= text_field_with_auto_complete :user, :login, {}, :skip_style => true, :select => :login -%>
  </p>
  </div>
  
  <p class="hint">
    <%= t("views.committerships.add_tema_note") -%>
  </p>
  <p>
    <%= f.submit t("views.committerships.btn_add_as_committer") -%> 
    <%= t("views.committerships.or_return_to") -%> <%= link_to h(@repository.name), [@owner, @repository, :committerships] -%>
  </p>
  
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "repositories/committers_sidebar" -%>
<% end -%>
