<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= @page_title ? @page_title + " - " : "" -%><%= current_site.title -%></title>
<%= stylesheet_link_tag "base" -%>
<%= javascript_include_tag :defaults, :cache => true -%>
<%  if @atom_auto_discovery_url -%>  
  <%= auto_discovery_link_tag(:atom, @atom_auto_discovery_url) -%>
<% end -%>
<%= yield :extra_head -%>
<%= GitoriousConfig["extra_html_head_data"] -%>
