<%
#--
#   Copyright (C) 2011 Gitorious AS
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 August Lilleaas <augustlilleaas@gmail.com>
#   Copyright (C) 2008 Tor Arne Vestbø <tavestbo@trolltech.com>
#   Copyright (C) 2009 Fabio Akita <fabio.akita@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div id="footer-links">
  <h3><%= GitoriousConfig["site_name"] %></h3>
  <ul>
    <li><%= link_to t("views.layout.home"), root_path -%></li>
    <li><%= link_to t("views.layout.about"), about_path -%></li>
    <li><%= link_to t("views.layout.faq"), about_page_path(:action => :faq) -%></li>
    <li><%= link_to "Contact", contact_path -%></li>
  </ul>
  <% if url?("discussion") || url?("blog") %>
    <ul>
      <%= footer_link("discussion") %>
      <%= footer_link("blog") %>
    </ul>
  <% end %>
  <% if GitoriousConfig["terms_of_use"] -%>
    <%= render :partial => "/site/tos_links" %>
  <% end %>
  <% if additional_links = GitoriousConfig["additional_footer_links"] %>
    <ul>
      <% additional_links.each do |label, url| %>
        <li><%= link_to(label, url) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
