<%
#--
#   Copyright (C) 2009 Nokia Corporation and/or its subsidiary(-ies)
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%- if logged_in? -%>
  <% if current_user.site_admin? -%>
    <li><%= link_to t("views.layout.admin"), admin_users_path -%></li>
  <% end -%>
  <li class="secondary"><%= link_to h(current_user.to_param_with_prefix), user_path(current_user) -%></li>
  <li class="secondary messages <% if current_user.received_messages.unread_count > 0 -%>unread<% end %>">
    <% if current_user.received_messages.unread_count > 0 -%>
      <%= link_to current_user.received_messages.unread_count, messages_path -%>
    <% else -%>
      <%= link_to "<span>#{current_user.received_messages.unread_count}</span>", messages_path -%>
    <% end -%>
  </li>
  <li class="secondary subtle"><%= link_to t("views.layout.logout"), logout_path -%></li>
<%- else -%>
  <% if GitoriousConfig['public_mode'] -%>
  	<li class="secondary"><%= link_to t("views.layout.register"), new_user_path -%></li>
  <% end -%>
  <li class="secondary"><%= link_to t("views.layout.login"), login_path -%></li>
<%- end -%>
