<%- if logged_in? -%>
  <% if current_user.site_admin? -%>
    <li><%= link_to t("views.layout.admin"), admin_users_path -%></li>
  <% end -%>
  <li class="secondary"><%= link_to h(current_user.to_param_with_prefix), user_path(current_user) -%></li>
  <li class="secondary messages">
    <% if current_user.received_messages.unread_count > 0 -%>
      <%= link_to current_user.received_messages.unread_count, messages_path -%>
    <% else -%>
      <%= link_to "<span>#{current_user.received_messages.unread_count}</span>", messages_path -%>
    <% end -%>
  </li>
  <li class="secondary subtle"><%= link_to t("views.layout.logout"), logout_path -%></li>
<%- else -%>
  <% if GitoriousConfig['public_mode'] -%>
  	<li class="secondary"><%= link_to t("views.layout.register"), new_user_path -%></li>
  <% end -%>
  <li class="secondary"><%= link_to t("views.layout.login"), login_path -%></li>
<%- end -%>