<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#   Copyright (C) 2008 Patrick Aljord <patcito@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<h1><%= t("views.account.edit_title") %></h1>
<%= error_messages_for :user -%>

<% form_for @user, :url => account_path do |f| -%>
  <p>
    <%= f.label :email, t(:email, :scope => 'activerecord.attributes.user') -%><br />
    <%= f.text_field :email, :class => "text" -%>
  </p>   
  <p>
    <%= f.label :fullname, t("views.account.realname") -%><br />
    <%= f.text_field :fullname, :class => "text" -%>
  </p>
  <p>
    <%= f.label :url, t("views.account.url") -%><br />
    <%= f.text_field :url, :class => "text" -%>
  </p>
  <p>
    <%= f.label :url, t("views.account.openid") -%><br />
    <%= f.text_field :identity_url, :class => "text" -%>
  </p>
  
  <%= f.submit t("views.common.save") -%>
<% end -%>

<% content_for :submenu do -%>
  <li><%= link_to t("views.account.my_account"), account_path -%></li>
  <li><%= link_to t("views.account.chg_passwd"), password_account_path -%></li>
  <li><%= link_to t('views.account.license'), account_license_path %></li>
<% end -%>