<h1>Edit your account</h1>
<%= error_messages_for :user -%>

<% form_for @user, :url => update_password_account_path, :method => :put do |f| -%>
  <p>
    <%= f.label :current_password -%><br />
    <%= f.password_field :current_password, :class => "text" -%>
  </p>
  <p>
    <%= f.label :password, "New password" -%><br />
    <%= f.password_field :password, :class => "text" -%>
  </p>   
  <p>    
    <%= f.label :password_confirmation, "New password confirmation" -%><br />
    <%= f.password_field :password_confirmation, :class => "text" -%>
  </p>
  <%= f.submit "Change password" -%>
<% end -%>

<% content_for :submenu do -%>
  <ul>
    <li><%= link_to "&#x2190; My account", account_path -%></li>
    <li><%= link_to "&#x2190; Edit details", edit_account_path -%></li>
  </ul>
<% end -%>