<%
#--
#   Copyright (C) 2007, 2008 Johan Sørensen <johan@johansorensen.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<% @page_title = t("views.account.show_title") -%>

<h2><%= t("views.account.edit_details") %> <small><%= link_to t("views.account.edit_link"), edit_account_path -%></small></h2>
<ul class="infobox">
  <li><strong><%= t("views.account.realname") %>:</strong> 
    <%= current_user.fullname.blank? ? "N/A" : h(current_user.fullname) -%></li>
  <li><strong><%= t("views.account.username") %>:</strong> <%= link_to h(current_user.login), user_path(current_user) -%></li>
  <li><strong><%= t(:email, :scope => 'activerecord.attributes.user') %>:</strong> <%=h current_user.email -%></li>
  <li><strong><%= t(:url, :scope => 'activerecord.attributes.user') %>:</strong> <a href="<%=h current_user.url -%>"><%=h current_user.url -%></a></li>
</ul>

<h3><%= t("views.keys.ssh_keys") %>:</h3>

<% current_user.ssh_keys.each do |ssh_key| -%>
  <%= render :partial => "keys/key", :locals => {:ssh_key => ssh_key} -%>
  <% unless ssh_key == current_user.ssh_keys.last -%><hr /><% end -%>
<% end -%>


<% content_for :submenu do -%>
  <li><%= link_to t("views.account.edit_details"), edit_account_path -%></li>
  <li><%= link_to t("views.keys.add_ssh_key"), new_account_key_path -%></li>
  <li><%= link_to t('views.account.license'), account_license_path %></li>
<% end -%>