<% @page_title = "Account" -%>

<h2>Account details</h2>
<ul>
  <li>username: <%= current_user.login -%></li>
  <li>email: <%= current_user.email -%></li>
</ul>

<h3>Your SSH Keys:</h3>

<% current_user.ssh_keys.each do |ssh_key| -%>
  <%= render :partial => "keys/key", :locals => {:ssh_key => ssh_key} -%>
  <% unless ssh_key == current_user.ssh_keys.last -%><hr /><% end -%>
<% end -%>


<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "+ Add SSH key", new_account_key_path -%></li>
    <li><%= link_to "+ Change email or password", edit_account_path -%></li>
  </ul>
<% end -%>