<% @page_title = "Account" -%>

<h2>Account details <small><%= link_to "edit", edit_account_path -%></small></h2>
<ul class="infobox">
  <li><strong>Realname:</strong> 
    <%= current_user.fullname.blank? ? "N/A" : h(current_user.fullname) -%></li>
  <li><strong>Username:</strong> <%= link_to h(current_user.login), user_path(current_user) -%></li>
  <li><strong>Email:</strong> <%=h current_user.email -%></li>
  <li><strong>Url:</strong> <a href="<%=h current_user.url -%>"><%=h current_user.url -%></a></li>
</ul>

<h3>Your SSH Keys:</h3>

<% current_user.ssh_keys.each do |ssh_key| -%>
  <%= render :partial => "keys/key", :locals => {:ssh_key => ssh_key} -%>
  <% unless ssh_key == current_user.ssh_keys.last -%><hr /><% end -%>
<% end -%>


<% content_for :sidebar do -%>
  <ul class="links">
    <li><%= link_to "+ Add SSH key", new_account_key_path -%></li>
    <li><%= link_to "&#x2192; Edit details", edit_account_path -%></li>
  </ul>
<% end -%>